<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>案例详情</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  
  <link rel="alternate icon" type="img/HENGWANG.png" href="img/HENGWANG.png">
  <link rel="stylesheet" href="/templates/wangyanting/css/amazeui.css"/>
  <link rel="stylesheet" href="/templates/wangyanting/css/style.css"/>
</head>
<body>
{include file="./templates/wangyanting/header.html"}
<div class="toppic">
	 <div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-paper-plane toppic-title-i"></i>
			<span class="toppic-title-span">案例详情</span>
			<p>Case Information</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="customer-case.html" class="w-white">客户案例</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="case-inform.html" class="w-white">案例详情</a></span>
		</div>
	</div>
</div>



<div >
	<div class=" product-show-ul">
	   
	    	<div class="product-content">
			    	<div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left case-left">
			    		<div class="product-show-title">
			    			<h3>{$info.title}</h3>
			    		</div>
			    	
			    	<div class="product-show-content">			    		
			    		<div class="product-intro case-inform">
			    			<span>详情介绍：</span>
			    			<div><p>{$info.content}</p></div>
			    		  <i class="am-icon-tasks"></i>
			    		  <img src="/templates/wangyanting/img/erweima.png" />
			    		</div>
			    	</div>
			    	</div>
			    	<div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
			    		<img class="case-img" src="/templates/wangyanting/img/case1.png" />
			    	</div>	
			    	<div class="clear"></div>
	    	</div>
	

	</div>
</div>

  
   
		
</div>

{include file="./templates/wangyanting/footer.html"}


</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/templates/wangyanting/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/templates/wangyanting/js/amazeui.min.js"></script>

</html>
