	{include file="templates\Evnews\head.html"}

	<div class="pageContainer_w w100">
		<div class="pageContainer mar1200 clearfix">
			<div class="left fl">
				<div class="position">当前位置：<span>
									<a href="http://www.ev361.com/">首页</a> - <a href="/chanyelian.html">产业链</a>								</span></div>
				<div class="banner"><img src="/templates/Evnews/picture/58cc9ac18638d_1.jpg" alt=""/></div>
				<div class="menu">
					<ul class="clearfix">
												<li class="current"><a href="/chanyelian.html" title="产业链">产业链</a></li>
											</ul>
				</div>
				<div class="list">
					<ul>
						<li class="clearfix">
							<div class="img fl">
								<img src="/templates/Evnews/picture/58d2366bb5aa0.jpg" alt=""/>
							</div>
							<div class="content fr">
								<div class="title"><a href="/chanyelian_215.html" title="受骗补事件影响九龙新能源汽车未能放量，江特电机2016年业绩低于预期">受骗补事件影响九龙新能源汽车未能放量，江特电机20...</a></div>
								<div class="description">3月6日晚间，江特电机公布的2016年年报显示，公司报告期内实现营业总收入约为29.8亿元，同比增长234.29%；归属母公司净利润约为1.97亿元，较上年同期增加400.91%。其中，新能源电机业务营业收入为9903.5万元，占营业...</div>
								<div class="date">2017-03-22</div>
							</div>
						</li>					</ul>
				</div>
				<div class="page">
									</div>
			</div>
			<div class="right fr">
				
	<div class="page_banner_s"><a href=""><img src="/templates/Evnews/picture/58cc9ae6c0e6d_1.jpg"/></a></div>
	<div class="pagePanel_1_container">
		<div class="pagePanel_1_title">深度观察</div>
		<div class="pagePanel_1_list">
			<ul>
				<li>
					<a href="/shenduguancha_184.html">2017年计划建成充电桩90万个，产业将迎...</a>
				</li><li>
					<a href="/shenduguancha_183.html">“二度离职潮”再显“造新车难”</a>
				</li><li>
					<a href="/shenduguancha_182.html">共享模式将成新能源汽车突破口？</a>
				</li><li>
					<a href="/shenduguancha_181.html">受雇黑客团伙试图入侵百度 无人驾驶成...</a>
				</li><li>
					<a href="/shenduguancha_180.html">福田无人驾驶卡车或将年中实况路试</a>
				</li><li>
					<a href="/shenduguancha_179.html">北京换电站调查：换电车不足千辆 盈利...</a>
				</li><li>
					<a href="/shenduguancha_178.html">地方政府上马电动车产业样本：金华推出...</a>
				</li><li>
					<a href="/shenduguancha_177.html">比亚迪宋插电式混合动力车型申报 或上...</a>
				</li><li>
					<a href="/shenduguancha_176.html">欧宝将大力推进发展电动车 暂时不考虑...</a>
				</li><li>
					<a href="/shenduguancha_175.html">规避共享单车暴露的问题，共享汽车大有...</a>
				</li>			</ul>
		</div>
	</div>
	<div class="pagePanel_2_container">
		<div class="pagePanel_2_title">产业视频</div>
		<div class="pagePanel_2_list">
			<ul class="clearfix">
				<li>
					<a href="/chanyeshipin_204.html">
						<img src="/templates/Evnews/picture/58d22e1f4042d_1.jpg"/>
						<div class="title">视频 | 去茶卡盐湖看风景，大疆无...</div>
					</a>
				</li><li>
					<a href="/chanyeshipin_203.html">
						<img src="/templates/Evnews/picture/58d22ae3dbd89_1.jpg"/>
						<div class="title">蔚来汽车EVE纯电动概念车大片首次...</div>
					</a>
				</li><li>
					<a href="/chanyeshipin_202.html">
						<img src="/templates/Evnews/picture/58d229d1c9232_1.jpg"/>
						<div class="title">纯电动腾势暴力使用3万5千公里后 ...</div>
					</a>
				</li><li>
					<a href="/chanyeshipin_201.html">
						<img src="/templates/Evnews/picture/58d2281758245_1.jpg"/>
						<div class="title">视频 | 揭秘自动化工厂 特斯拉就是...</div>
					</a>
				</li><li>
					<a href="/chanyeshipin_200.html">
						<img src="/templates/Evnews/picture/58d2230205fbe_1.jpg"/>
						<div class="title">视频 | 双手脱离方向盘怎么开车？...</div>
					</a>
				</li><li>
					<a href="/chanyeshipin_199.html">
						<img src="/templates/Evnews/picture/58d22258888c1_1.jpg"/>
						<div class="title">致变革者 | 国轩高科董事长李缜：...</div>
					</a>
				</li>			</ul>
		</div>
	</div>
	<div class="pagePanel_3_container">
		<div class="pagePanel_3_title">前沿技术</div>
		<div class="pagePanel_3_list">
			<ul>
				<li>
					<a href="/qianyanjishu_195.html">
						<span>1</span>产品开发加快，海外主流车企电动汽车平...					</a>
				</li><li>
					<a href="/qianyanjishu_194.html">
						<span>2</span>电池系统比能量能实现260Wh/kg吗？					</a>
				</li><li>
					<a href="/qianyanjishu_193.html">
						<span>3</span>宝马i8要有新“玩伴”了 DS或将推出插...					</a>
				</li><li>
					<a href="/qianyanjishu_192.html">
						<span>4</span>汽车界的变形金刚？未来汽车的另一种解...					</a>
				</li><li>
					<a href="/qianyanjishu_191.html">
						<span>5</span>奔驰或将于2018年推出首辆无线充电汽车					</a>
				</li><li>
					<a href="/qianyanjishu_190.html">
						<span>6</span>中国增程式电动汽车致力解决“里程焦虑...					</a>
				</li><li>
					<a href="/qianyanjishu_189.html">
						<span>7</span>干货！《新能源汽车技术路线图》对动力...					</a>
				</li><li>
					<a href="/qianyanjishu_188.html">
						<span>8</span>解析七大路线图之三：燃料电池汽车技术...					</a>
				</li><li>
					<a href="/qianyanjishu_187.html">
						<span>9</span>法规趋严 48V电驱动技术蓄势待发					</a>
				</li><li>
					<a href="/qianyanjishu_186.html">
						<span>10</span>钢铁侠的黑科技成为现实 宝马悬浮触控...					</a>
				</li>			</ul>
		</div>
	</div>
	<div class="page_banner_s2"><a href=""><img src="/picture/58cc9b04b157f_1.jpg"/></a></div>


			</div>
		</div>
	</div>
		
		
{include file="templates\Evnews\foot.html"}