<!--底部 开始-->
	<footer class="footer_w w100">
		<div class="footer mar1200">
			<div class="footer_top clearfix">
				<h1 class="logo fl"><a href=""><img src="/templates/Evnews/picture/58ca53bc195b8_4.png"/></a></h1>
				<div class="ev fl">
					<h4>DZ 新闻</h4>
					<ul class="clearfix">
						<li ><a href="/home/Article/catecontent?cateid=21" title="">关于我们</a></li><li ><a href="/home/Article/catecontent?cateid=22" title="">联系我们</a></li><li ><a href="/home/Article/newslist?cateid=17" title="">招聘信息</a><li ><a href="/home/Article/catecontent?cateid=23" title="">在线留言</a></li>					</ul>
				</div>
				<div class="friend fl">
					<h4>友情链接</h4>
					<ul class="clearfix">
			{Dz:flink  limit="7" name="vo" page="true" thumb="true" status="true"}

						<li><a href="http://www.68design.net/" title="68视觉" target="_blank">

					{$vo.webname}
						</a>
						</li>	
						{/DZ:flink}
					</ul>
				</div>
			</div>
			
			<div class="footer_bottom">
				<div>广告热线：010-65000267 / 13501192779</div>
				<div>版权所有 DZ新闻? Copyright 2011 - 2016. All Rights</div>
				<div>京ICP备12023756号/京公网安备11010502023804</div>
			</div>
		</div>
	</footer>
	<!--底部 结束-->
		
</body>
	
	
	<script src="/templates/Evnews/js/idangerous.swiper2.7.6.min_4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/templates/Evnews/js/index_4.js" type="text/javascript" charset="utf-8"></script>
</html>
	