<div class="space_hx">&nbsp;</div>
<div class="bg_b">
	<div class="f_nav clearfix">
    	<div class="f_nl">
        	<div class="name">友情链接</div>
<div class="frd">
{Dz:flink  page="true" limit="7" name="vo" thumb="true"}
   <a href="">{$vo.webname}</a>
{/Dz:flink}




            
      
            </div>
        </div>
        <ul class="f_nr clearfix">
            <li>
            	<div class="title">公司微博</div>
                <img src="/templates/home/Assets/images/pic3.jpg" alt=""/>
                <p>智腾达</p>
                <p class="huang">加关注</p>
            </li>
            <li>
            	<div class="title">公司微信</div>
                <img src="/templates/home/Assets/images/pic2.jpg" alt=""/>
                <p>扫一扫</p>
                <p class="huang">立即关注</p>
            </li>
            <li>
            	<div class="title">公司官方群</div>
                <img src="/templates/home/Assets/images/pic1.jpg" alt=""/>
                <p>QQ群</p>
                <p class="huang">立即加入</p>
            </li>
        </ul>
    </div>
</div>
<div class="bg_c">
	<div class="bq">版权所有：深圳市智腾达软件技术有限公司©2015 粤ICP备05007539号-7 粤ICP证100714号 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></div>
</div>
</body>
</html>
