@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, h1, h2, h3
{ margin: 0; padding: 0; font-size: 12px;_background-image:url(about:blank);_background-attachment:fixed;}
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;}
ul, li, dl, dt, dd, ol { display: block; list-style: none; }
img{ border: 0;}
.clear {  clear:both;height:0px; overflow:hidden}
.fl{ float:left;}
.fr{ float:right;}
a{text-decoration:none;outline:0;}
center{padding:20px 0;}
/*万能清除浮动开始*/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* banner */
.banner { width: 100%; height: 545px; position: relative; overflow:hidden; min-width:980px;}
.banner img{display:block;margin:0 auto;}
.banner .num { overflow:hidden; height: 15px; position: absolute; bottom:21px; left: 43%; zoom:1; z-index:3 }
.banner .num li { width: 67px; height: 10px;background:#ffce00; margin-right: 10px;cursor:pointer; float: left;font-size:0;overflow: hidden;}
.banner .num li.on {background:#0a3a01}
.topbg{position: absolute;left:0;top:0;width:100%;height:95px;background:url(../images/topbg.png) 0 0 repeat;z-index:55; min-width:980px;}
.top{ clear:both;width:980px;height:95px;margin:0 auto;overflow:hidden;}
.logo{ overflow:hidden;float:left;margin-top:27px;_width:460px;margin-right: 10px}
.png {background-image: expression(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "images/11.gif")}

.cbanner{ width: 100%; height: 440px; position: relative; overflow:hidden; background-size:cover;}
.tel{float:right; margin-top:20px; _width:240px;}
.telephone{ float:right; }
.telenum{ float:right; font-size:18px; color:#FFAA48; margin-left:20px;}
.telenum span{ display:block; font-size:22px;}

/* nav */
.navbg{width:100%;background:url(../images/navbg.jpg) 0 0 repeat;height:59px; min-width:980px;}
.nav{width:980px;height:59px;margin:0 auto;}
.nav li{width:98px;height:59px;float:left;position: relative;text-align:center;font:16px/59px "microsoft yahei";color:#caeaa2;z-index:999;}
.nav li a{color:#caeaa2;display:block;width:98px;height:59px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.nav li dd a{height:40px;line-height:40px;color:#ceebaa;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;background:#0f5500;border-top:1px solid #0d4900;border-bottom:1px solid #147200; }
.nav li.hover{background:url(../images/hover.jpg) 0 0 no-repeat}
.nav li dl{display:none}
/* con1_bg */
.con1_bg{width:100%;height:208px;background:url(../images/con1bg.jpg) 0 bottom repeat-x #dcebd9;margin-bottom:30px; min-width:980px;}
.con1{width:980px;height:208px;margin:0 auto;overflow:hidden;}
.con1_title{width:64px;height:120px;float:left;background:url(../images/bg.png) 0 0 no-repeat;text-align:center;font:22px/1 "microsoft yahei";color:#e3f6cb;margin-top:28px;padding-top:24px;}
.con1_title span{ clear:both; float:none; width:20px; word-wrap: break-word; letter-spacing:25px; display:block; margin-left:18px; overflow:hidden;}
.con1_list{width:882px;float:right;height:156px;overflow:hidden;margin-top:32px;}
.con1_list li{width:126px;height:156px;float:left;overflow:hidden;}
.con1_list li img{ border-radius:50%; border:2px solid #060;}
.con1_list li a{display:block;width:111px;margin:0 auto;height:156px;}
.con1_list li a span{display:block;width:111px;height:44px;text-align:center;font:14px/44px "microsoft yahei";color:#1c6f0c;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}
/* con2_bg */
.con2_bg{width:100%;background:url(../images/con2bg.jpg) center 0 no-repeat;height:266px; min-width:980px;}
.con2{width:980px;height:266px;margin:0 auto;overflow:hidden;}
.notice{float:left;width:260px;height:230px; border-radius:5px; border:2px solid #FF9D21; overflow:hidden;}
.notice span{ display:block;font:14px/30px "microsoft yahei";color:#168000; padding:10px; }
.title{ height:40px; line-height:40px; background:#FF9D21; border-radius:3px 3px 0px 0px;}
.title span{ font-size:16px; text-align:center; color:#fff; line-height:20px; }

.con2_about{width:638px;height:231px;overflow:hidden;float:right;}
.con2_bigbox p{width:25px;height:201px;float:left;padding:30px 21px 0;font:100 20px/1.2 "microsoft yahei";color:#fff;text-align:center;opacity: 0.8;filter:Alpha(opacity=80);cursor: pointer}
.con2_p4{background:url(../images/bg.png) -79px 0px no-repeat;text-shadow:2px 2px 2px #2e5401}
.con2_bigbox div{width:480px;height:210px;overflow:hidden;font:14px/30px "microsoft yahei";color:#0c4201;float:left;margin:10px 12px 0;}
.con2_bigbox div a{color:#0c4201;}
.con2_bigbox{width:10000px;height:231px;overflow:hidden;}
/* con3_bg */
.con3_bg{width:100%;background:url(../images/con3_bg.jpg) center 0 no-repeat;height:622px;overflow:hidden; min-width:980px;}
.con3{width:980px;height:622px;margin:0 auto;overflow:hidden;}
.con3_title{width:980px;height:54px;margin:18px auto 20px;overflow:hidden;background:url(../images/con2_border.jpg) 0 bottom repeat-x;}
.con3_title p{float:left;font:100 20px/54px "microsoft yahei";color:#cbe5a3;background:url(../images/con3_title.png) 14px center no-repeat;text-indent:42px;}
.con3_title p span{margin-left:12px;/*font:500 18px/54px "Kalinga";*/ font-size:12px;color:#206c12;text-transform: uppercase;}
.con3_title a{float:right;font:14px/54px "microsoft yahei";color:#92b864;margin-right:26px;}
.con3_list{width:960px;height:auto;overflow:hidden;margin:0 auto;}
.con3_list li{width:240px;height:257px;float:left;overflow:hidden}
.con3_list li div{width:230px;height:234px;margin:0 auto;background:url(../images/libg.jpg) 0 0 no-repeat;overflow:hidden;position: relative;}
.pro_img{display:block;width:220px;height:170px;margin:5px auto 0;}
.con3_list li div p{width:220px;height:58px;margin:0 auto;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;font:14px/58px "microsoft yahei";color:#0c4201;text-align:center;}
.con3_list li div p a{color:#0c4201}
.zoom{position: absolute;display:block;background:url(../images/zoom.png) 0 0 no-repeat;width:40px;height:40px;right:5px;top:5px;cursor: pointer}
#picShow{position: fixed;width:100%;height:100%;background:url(../images/blackbg.png) 0 0 repeat;left:0;top:0;z-index:9999}
.pic_show_box{width:100%;height:100%;overflow:hidden;position: relative;}
.pic_show_box img{display:block;margin:93px auto 0;border:5px solid rgba(255,255,255,.2);}
.pic_quit{position: absolute;background:url(../images/quit.png) 0 0 no-repeat;width:64px;height:64px;top:0;right:0;cursor: pointer}
.lbtn{display:block;position: absolute;background:url(../images/leftbtn.png) 0 0 no-repeat;width:53px;height:53px;top:287px;left:65px;}
.rbtn{display:block;position: absolute;background:url(../images/rightbtn.png) 0 0 no-repeat;width:53px;height:53px;top:287px;right:65px;}
.pic_show_box p{width:593px;text-align:center;margin:0 auto;overflow:hidden;font:18px/106px "microsoft yahei";color:#0c4201;text-overflow: ellipsis;white-space: nowrap}
.pic_show_box p a{color:#fff;}
/* con4 */
.con4{width:980px;height:316px;margin:0 auto;overflow:hidden;}
.con4_left{float:left;width:476px;height:316px;overflow:hidden;padding-right:16px;}
.con4_right{float:left;width:476px;height:316px;overflow:hidden;}
.con4_title1{width:100%;height:66px;background:url(../images/border1.png) 0 bottom repeat-x;margin:12px 0 16px;}
.con4_title1 p{float:left;background:url(../images/con3_title.png) 4px center no-repeat;text-indent:30px;font:100 20px/66px "microsoft yahei";color:#0b4201;}
.con4_title1 p span{color:#0b4201;margin-left:14px;text-transform: uppercase; font-size:12px;}
.con4_title1 a{float:right;font:14px/66px "microsoft yahei";color:#5d8e00;margin-right:14px;}
.news_top{width:100%;height:auto;overflow:hidden;}
.news_top p{width:100%;height:30px;overflow:hidden;font:14px/30px "microsoft yahei";color:#0c4201;background:url(../images/bg.png) -284px -450px no-repeat;text-indent:25px;text-overflow: ellipsis;white-space: nowrap;}
.news_top p a{color:#0c4201;margin-right:12px;}
.news_top div{width:436px;height:58px;overflow:hidden;padding-left:25px;font:14px/29px "microsoft yahei";color:#7e9679;}
.con4_news{width:100%;height:auto;overflow:hidden;}
.con4_news li{width:100%;height:36px;overflow:hidden;background:url(../images/bg.png) -284px -450px no-repeat;text-indent:25px;text-overflow:ellipsis;white-space: nowrap;font:14px/36px "microsoft yahei";color:#0c4201;}
.con4_news li a{color:#0c4201;margin-right:12px; }
/* con5 */
.con5_bg{width:100%;height:534px;background:url(../images/con5bg.jpg) 0 0 repeat-x #dcebd9; min-width:980px;}
.con5{width:980px;height:474px;padding-top:60px;margin:0 auto;overflow:hidden;}
.con5_box{width:980px;height:345px;margin:24px auto 0;overflow:hidden;}
.con5_pic1{float:left;width:284px;height:345px;overflow:hidden;border-right:1px solid #dcebd9;position: relative;}
.black_box{position: absolute;width:100%;height:100%;overflow:hidden;left:0;top:0;background:url(../images/bigimgbg.png) 0 0 repeat;display:none}
.con5_pic2,.con5_pic3{float:left;width:229px;height:172px;border-right:1px solid #dcebd9;border-bottom:1px solid #dcebd9;overflow:hidden;position: relative;}
.con5_pic4{float:left;width:229px;height:172px;border-bottom:1px solid #dcebd9;overflow:hidden;position: relative;}
.con5_pic5{float:left;width:459px;height:172px;overflow:hidden;position: relative;border-right:1px solid #dcebd9;}
.con5_pic6{float:left;width:229px;height:172px;overflow:hidden;position: relative;}
.black_box p{width:80%;margin:22px auto 0;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;font:100 14px/30px "microsoft yahei";}
.black_box p a{color:#e0e0e0}
.black_box div{width:80%;margin:0 auto;height:96px;overflow:hidden;font:14px/24px "microsoft yahei";color:#c3c3c3;}
/* foot */
.foot_bg{width:100%;height:211px;background:url(../images/footbg.jpg) center 0 no-repeat;overflow:hidden; min-width:980px;}
.foot{width:980px;height:211px;margin:0 auto;overflow:hidden;position: relative}
.search{width:390px;height:39px;overflow:hidden;margin:28px auto 22px;}
.text{width:277px;float:left;font:14px/29px 'microsoft yahei';color:#0b4201;text-indent:15px;height:29px;padding:5px 0;border:0;background:#dcebd9;*height:29px;}
.btn{float:left;background:url(../images/bg.png) -260px -514px no-repeat #d80000;width:70px;height:39px;border:0;cursor:pointer;}
.select select{margin:5px auto;width:92px;}
.searchBar span{ float:right; margin-top:6px;}
.searchBar span a{ color:#666; margin-right:8px;}
.searchBar span a:hover{ color:#ef9b11;}
.searchBar .select {float:left; margin-top:1px; display:inline; margin-right:8px;}
.searchBar .text {float:left;}
.searchBar .text input{width:302px; padding-top:3px; height:17px; border:1px solid #b7d1eb;}
div.selectbox-wrapper{overflow:hidden;width:93px;position: absolute;text-align:left;*margin-top:0;z-index:11;background:#fff;}
div.selectbox-wrapper ul li.current {color: #fff;background-color:#36c}
div.selectbox-wrapper ul li {text-align:center;padding-right:3px;padding-bottom:3px;width:92px;cursor:pointer;line-height:20px;padding-top: 3px;font-size:12px;font-family:'微软雅黑';color:#666;}
div.selectbox-wrapper ul li.selected {background-color: #303032;color:#e7e7e7;}
.selectbox{border:none;display:block;width:93px;background:none;text-indent:9px;cursor:pointer;height:39px;font-size:14px;font-family:'microsoft yahei';color:#0b4201;line-height:39px;}

.Page{ clear:both; width:100%; text-align:center;  margin:0 auto; padding-left:20px; padding-top:50px;}
.Page a{display:inline-block;width:65px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px; float:left;text-decoration:none; color:#333; outline:none;}
.Page a:hover{ background:#0B3F01; color:#FFF;background-repeat:no-repeat; }
.Page span{display:inline-block;min-width:45px; padding:0 10px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px;float:left;}
.Page span.current{ background:#0B3F01; color:#FFF; _padding:0px 30px;}


.fotexp{ width:74%; text-align:center; font:14px/28px "micersoft yahei"; color:#689160; margin:0 auto; text-overflow:ellipsis; overflow:hidden;  white-space:nowrap;}
.fotexp a{ color:#689160;}

.ewm{ position:absolute; right:0; top:28px; _float:right; width:110px; }
.ewm span{ display:block; width:90%; text-align:center; height:40px; line-height:40px; overflow:hidden; color:#689160;}

.links_bg{width:100%;height:52px;background:url(../images/linksbg.jpg) center 0 no-repeat; min-width:980px;}
.links{width:980px;height:52px;margin:0 auto;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;font:14px/52px "microsoft yahei";color:#90c77d;}
.links a{color:#90c77d;margin:0 16px;}


/* content */
.content{width:980px;margin:26px auto;overflow:hidden;}
.left{float:left;width:225px;height:auto;overflow:hidden;}
.left_title1{background:url(../images/bg.png) 0 -258px no-repeat;width:225px;height:65px;text-align:center;font:100 22px/60px "microsoft yahei";color:#d7f4ab;}
.left_nav{width:223px;height:auto;overflow:hidden;border:1px solid #bbddb4;border-top:0;background:#e4efe2;padding:14px 0 12px;margin-bottom:22px;}
.left_nav li a{display:block;width:195px;height:38px;background:url(../images/leftli1.jpg) 0 0 no-repeat;font:14px/38px "microsoft yahei";color:#246118;text-indent:42px;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;margin:0 auto 4px;}
.left_nav li a:hover{background-position: 0 -42px;color:#d7e6ca}
.left_nav li li a{background:url(../images/leftli2.jpg) 0 0 no-repeat;text-indent:58px;}
.left_nav li li a:hover{background-position: 0 -42px;color:#d7e6ca}
.left_title2{background:url(../images/bg.png) 0 -354px no-repeat;width:225px;height:65px;text-align:center;font:100 22px/60px "microsoft yahei";color:#fff2dc;}
.left_contact{width:auto;height:auto;overflow:hidden;background:#fff3e2;border:1px solid #ffa200;border-top:0;padding:14px 0 20px; padding-left:10px; font-size:14px; line-height:30px;}
.right{float:left;width:718px;padding-left:34px;overflow:hidden;}
.right_title{width:100%;height:54px;overflow:hidden;background:url(../images/border1.png) 0 bottom repeat-x;}
.right_name{float:left;background:url(../images/right_title.jpg) 4px center no-repeat;padding-left:34px;font:100 18px/54px "microsoft yahei";color:#265d00;}
.right_name a{ color:#265d00;}

.contit{ clear:both; width:100%; line-height:30px; font-size:24px; text-align:center; margin-top:20px; margin-bottom:20px;}
.time{ overflow:hidden; text-align:center; color:#999;}
.conpic{ clear:both;text-align:center; margin:0 auto; margin-top:20px;}
.conpic img{ max-width:700px; overflow:hidden;}
.right_con{width:100%;height:auto;overflow:hidden;padding:14px 0;font:14px/30px "microsoft yahei";color:#0b3f01}
.uppage{ width:100%; margin-top:20px;}
.up{ height:30px; line-height:30px; overflow:hidden; }
.up a{ color:#000;}

/* product */
.product_about{width:100%;max-height:210px;font:14px/30px "microsoft yahei";color:#0b3f01;overflow:hidden;margin-bottom:12px;}
.product{width:720px;height:auto;overflow:hidden;}
/* news */
.news{width:100%;height:auto;overflow:hidden;padding:14px 0;}
.news li{width:100%;height:40px;background:url(../images/bg.png) -274px -450px no-repeat;text-indent:36px;font:14px/40px "宋体";color:#0c4201;text-overflow: ellipsis;overflow:hidden;white-space: nowrap; border-bottom:1px dotted #ccc;}
.news li a{margin-right:12px;color:#0c4201;}
.news li span{ float:right;}
.news li.none{margin-bottom:15px;}



