{include file="templates/sheying/Public/header.html"}

    <div id="met_global_nav_content">
      <div class="lg-container" >

        <div class="met_menu_section" data-section="metmm0">
          <div class="row">

          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="met-banner" >
    <div class="carousel slide" id="met-banner-slide" data-ride="carousel">

      <div class="carousel-inner " role="listbox">

        <div class="item active">

          <picture>
            <source srcset="/tempaltes/sheying/img/tupian2.png" media="(min-width: 768px)" />
            <img
                    class="cover-image overlay-scale"
                    srcset="../include/thumb.php?dir=../upload/201704/1491961291.png&x=600"
                    alt=""
            />
          </picture>
          <div class="carousel-caption p-">
            <h3 class="animation-slide-top animation-delay-300" style="color:"></h3>
            <p class="animation-slide-bottom animation-delay-600" style="color:"></p>
          </div>

        </div>

      </div>

    </div>
  </div>


  <div class="met-column-nav  ">
    <div class="container">
      <div class="row">

        <div class="col-md-12 sidebar_tile">
          <div class="row">
            <ul class="met-column-nav-ul">

              <li><a href="about.html" class="link"  title="关于&About">关于&About</a></li>


              <li class="dropdown">

                <a href="feedbact.html" title="在线预约" class="link ">在线预约</a>

              </li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>

  <section class="met-show animsition">
    <div class="container">
      <div class="row">
        <div class="met-editor lazyload clearfix">
          <div>
            <h3>
              <img  src="/templates/sheying/img/tupian12.png" title="1491546425984954.png" alt="about me.png" style="float: right;"/>
              <br/>
            </h3>
            {Dz:nlist order="id desc" where="id=16" limit="1" name="vo"}
              {$vo.content}
            {/Dz:nlist}
          </div>
        </div>
      </div>
    </div>
  </section>

{include file="templates/sheying/Public/footer.html"}