{include file="templates/sheying/Public/header.html"}
        <div id="met_global_nav_content">
            <div class="lg-container" >

                <div class="met_menu_section" data-section="metmm0">
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="met-banner" >
        <div class="carousel slide" id="met-banner-slide" data-ride="carousel">

            <div class="carousel-inner " role="listbox">

                <div class="item active">

                    <picture>
                        <source srcset="/public/sheying/img/tupian13.png" media="(min-width: 768px)" />
                        <img
                                class="cover-image overlay-scale"
                                srcset="../include/thumb.php?dir=../upload/201704/1491961299.png&x=600"
                                alt=""
                        />
                    </picture>
                    <div class="carousel-caption p-">
                        <h3 class="animation-slide-top animation-delay-300" style="color:"></h3>
                        <p class="animation-slide-bottom animation-delay-600" style="color:"></p>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="met-img animsition">
        <div class="container-fluid">
            <div class="row">
                <div class="blocks no-space blocks-100 blocks-xlg-3 blocks-md-2 met-page-ajax" style="margin-right:-1px;">


                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="/public/sheying/img/tupian5.jpg" style='height:600px;' alt="Case2"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case2</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case2*/public/sheying/img/tupian9.jpg|Img1*/public/sheying/img/tupian10.jpg|Img2*/public/sheying/img/tupian11.jpg|Img3*/public/sheying/img/tupian12.jpg">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="/public/sheying/img/tupian14.png" style='height:600px;' alt="Case8"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case8</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case8*/public/sheying/img/tupian14.png|*/public/sheying/img/tupian10.png|*/public/sheying/img/tupian16.png|*/public/sheying/img/tupian15.png">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" src="/public/sheying/img/tupian3.jpg" style='height:600px;' alt="Case6"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case6</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case6*/public/sheying/img/tupian13.jpg|*/public/sheying/img/tupian14.jpg">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" data-original="/public/sheying/img/tupian4.jpg" style='height:600px;' alt="Case1"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case1</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case1*/public/sheying/img/tupian15.jpg|">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" data-original="/public/sheying/img/tupian9.png"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case7</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case7*/public/sheying/img/tupian9.png|*/public/sheying/img/tupian17.png">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="widget ">
                        <div class="cover overlay overlay-hover">
                            <img class="cover-image overlay-scale" data-original="/tempaltes/sheying/img/tupian2.jpg" style='height:600px;' alt="Case3"/>
                            <div class="overlay-panel overlay-fade overlay-background overlay-background-fixed text-center vertical-align">
                                <div class="vertical-align-middle">
                                    <div class="widget-time widget-divider">
                                        <span>2017/04/06</span>
                                    </div>
                                    <h3 class="widget-title margin-bottom-20">Case3</h3>

                                    <a href="casess.html" class="btn btn-outline btn-inverse met-img-showbtn" data-imglist="Case3*/tempaltes/sheying/img/tupian2.jpg|*/templates/sheying/img/tupian16.jpg">浏览</a>


                                </div>
                            </div>
                        </div>
                    </li>


                </div>



            </div>
        </div>
    </div>

{include file="templates/sheying/Public/footer.html"}