{include file="templates/sheying/Public/header.html"}
        <div id="met_global_nav_content">
            <div class="lg-container" >

                <div class="met_menu_section" data-section="metmm0">
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="met-banner" >
        <div class="carousel slide" id="met-banner-slide" data-ride="carousel">

            <div class="carousel-inner " role="listbox">

                <div class="item active">

                    <picture>
                        <source srcset="/templates/sheying/img/tupian2.png" media="(min-width: 768px)" />
                        <img
                                class="cover-image overlay-scale"
                                srcset="../include/thumb.php?dir=../upload/201704/1491961291.png&x=600"
                                alt=""
                        />
                    </picture>
                    <div class="carousel-caption p-">
                        <h3 class="animation-slide-top animation-delay-300" style="color:"></h3>
                        <p class="animation-slide-bottom animation-delay-600" style="color:"></p>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="met-column-nav  ">
        <div class="container">
            <div class="row">

                <div class="col-md-12 sidebar_tile">
                    <div class="row">
                        <ul class="met-column-nav-ul">

                            <li><a href="about.html" class="link"  title="关于&About">关于&About</a></li>


                            <li class="dropdown">

                                <a href="feedbact.html" title="在线预约" class="link active">在线预约</a>

                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <section class="met-feedback animsition">
        <div class="container">
            <div class="row">
                <div class="met-feedback-body">
                    <form method='POST' class="met-form met-form-validation" action='http://show.metinfo.cn/muban/M1601005/364/feedback/index.php?action=add'>
                        <input type='hidden' name='lang' value='en' />
                        <input type='hidden' name='fdtitle' value='Feedback' />
                        <input type='hidden' name='ip' value='222.132.220.214' />
                        <input type='hidden' name='id' value='50' />
                        <input type='hidden' name='fid_url' value='0' />


                        <div class="form-group">

                            <div>
                                <input name='para34' class='form-control' type='text' placeholder='您的名字 ' autocomplete='off' data-fv-notempty="true" data-fv-message="is Empty" />
                            </div>
                        </div>

                        <div class="form-group">

                            <div>
                                <input name='para35' class='form-control' type='text' placeholder='您的地址 ' autocomplete='off' data-fv-notempty="true" data-fv-message="is Empty" />
                            </div>
                        </div>

                        <div class="form-group">

                            <div>
                                <input name='para36' class='form-control' type='text' placeholder='Email&QQ ' autocomplete='off' data-fv-notempty="true" data-fv-message="is Empty" />
                            </div>
                        </div>

                        <div class="form-group">

                            <div>
                                <input name='para41' class='form-control' type='text' placeholder='电话号码 ' autocomplete='off' data-fv-notempty="true" data-fv-message="is Empty" />
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label">您所想预约的套餐</label>

                            <div>

                                <div class="radio-custom radio-primary">
                                    <input
                                            name='para161'
                                            type="radio"
                                            checked
                                            value='全家福摄影棚拍摄'
                                            id="para161_1"
                                    >
                                    <label for="para161_1">全家福摄影棚拍摄</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <input
                                            name='para161'
                                            type="radio"

                                            value='KIDS & BABY摄影棚摄影'
                                            id="para161_2"
                                    >
                                    <label for="para161_2">KIDS & BABY摄影棚摄影</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <input
                                            name='para161'
                                            type="radio"

                                            value='KIDS夏日清爽系列室内摄影'
                                            id="para161_3"
                                    >
                                    <label for="para161_3">KIDS夏日清爽系列室内摄影</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <input
                                            name='para161'
                                            type="radio"

                                            value='孕妈妈留下最美好的时光'
                                            id="para161_4"
                                    >
                                    <label for="para161_4">孕妈妈留下最美好的时光</label>
                                </div>
                                <div class="radio-custom radio-primary">
                                    <input
                                            name='para161'
                                            type="radio"

                                            value='七五三・摄影棚室内摄影'
                                            id="para161_5"
                                    >
                                    <label for="para161_5">七五三・摄影棚室内摄影</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="input-group input-group-icon">
                                <input
                                        name='code'
                                        type="text"
                                        class="form-control"
                                        placeholder = "Code"
                                        data-fv-notempty = "true"
                                        data-fv-message = "is Empty"
                                >
						<span class="input-group-addon">
							<img
                                    src="http://show.metinfo.cn/muban/M1601005/364/member/ajax.php?action=code"
                                    data-url="http://show.metinfo.cn/muban/M1601005/364/member/ajax.php?action=code"
                                    class="met-form-codeimg"
                                    alt="Changer Code"
                                    title="Changer Code"
                            />
						</span>
                            </div>
                        </div>


                        <div class="form-group margin-bottom-0">
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn-squared">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{include file="templates/sheying/Public/footer.html"}