
{include file="templates/sheying/Public/header.html"}
        <div id="met_global_nav_content">
            <div class="lg-container" >

                <div class="met_menu_section" data-section="metmm0">
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="met-banner" >
        <div class="carousel slide" id="met-banner-slide" data-ride="carousel">

            <div class="carousel-inner " role="listbox">

                <div class="item active">

                    <picture>
                        <source srcset="/public/sheying/img/tupian2.png" media="(min-width: 768px)" />
                        <img
                                class="cover-image overlay-scale"
                                srcset="../include/thumb.php?dir=../upload/201704/1491961291.png&x=600"
                                alt=""
                        />
                    </picture>
                    <div class="carousel-caption p-">
                        <h3 class="animation-slide-top animation-delay-300" style="color:"></h3>
                        <p class="animation-slide-bottom animation-delay-600" style="color:"></p>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div class="page met-showproduct pagetype1 animsition">

        <div class="met-showproduct-head">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div id="gallery" class="ad-gallery" data-x="800" data-y="600">
                            <div class="ad-image-wrapper"></div>
                            <div class="ad-controls"></div>
                            <div class="ad-nav">
                                <div class="ad-thumbs">
                                    <ul class="ad-thumb-list" id="lightgallery">
                                        <li data-src="/public/sheying/img/tupian22.png" data-exthumbimage="/public/Uploads/{$infos.smallimage}">
                                            <a href="/public/Uploads/{$infos.smallimage}">
                                                <img src="/public/sheying/img/tupian24.png" class="img-responsive" alt="孕妈妈拍摄" />
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs-block visible-sm-block height-20"></div>
                    <div class="col-md-5 product-intro">
                        <h1>全家福摄影棚拍摄</h1>

                        <script>var stockjson = [{"id":"56","pid":"59","price":"3500","valuelist":"A1套餐","stock":"9999","sales":"0","price_str":"3500.00元"}];</script>
                        <div class="shop-product-intro grey-500">
                            <div class="padding-20 bg-grey-100">
                                <span id="price" class="red-600">3500.00元</span>
                            </div>

                            <div class="form-group margin-top-15">
                                <label class="control-label font-weight-unset">套餐</label>
                                <div class="selectpara-body">

                                    <a href="javascript:;" data-val="A1套餐" class="selectpara btn btn-squared btn-outline btn-default btn-danger margin-right-10">A1套餐</a>

                                </div>
                            </div>

                            <div class="form-group margin-top-15">
                                <label class="control-label font-weight-unset">数量</label>
                                <div class="width-150">
                                    <input type="text" class="form-control text-center" data-min="1" data-max="9999" data-plugin="touchSpin" name="buynum" id="buynum" autocomplete="off" value="1">
                                </div>
                                <p></p>
                            </div>
                            <div class="form-group margin-top-30 purchase-btn">
                                <a href="http://show.metinfo.cn/muban/M1601005/364/shop/cart.php?lang=en&a=dotocart&action=buynow&pid=59" class="btn btn-lg btn-squared btn-danger margin-right-20 product-buynow">立即购买</a>
                                <div class="visible-xs-block height-10"></div>
                                <a href="http://show.metinfo.cn/muban/M1601005/364/shop/cart.php?lang=en&a=dotocart&pid=59" class="btn btn-lg btn-squared btn-primary product-tocart"><i class="icon-shopping-cart font-size-20" aria-hidden="true"></i>加入购物车</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="met-showproduct-body">
            <div class="container">
                <div class="row no-space">
                    <div class="col-md-9 product-content-body">
                        <div class="row">

                            <div class="panel product-detail">
                                <div class="panel-body">
                                    <ul class="nav nav-tabs nav-tabs-line met-showproduct-navtabs affix-nav">
                                        <li class="active"><a data-toggle="tab" href="#product-details" data-get="product-details">Detailed information</a></li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane met-editor lazyload clearfix animation-fade active" id="product-details">
                                            <div><p>{$infos.abstract}</p><p>
                                                <img data-original="http://show.metinfo.cn/muban/M1601005/364/upload/201704/1491961537114589.jpg" style="" title="1491961537114589.jpg"/ alt="MetInfo enterprise content manager system | MetInfo CMS"></p><p><img data-original="http://show.metinfo.cn/muban/M1601005/364/upload/201704/1491961537335604.png" style="" title="1491961537335604.png"/ alt="MetInfo enterprise content manager system | MetInfo CMS"></p><p><br/></p><div id="metinfo_additional"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--右侧开始-->
                    <div class="col-md-3">
                        <div class="row">
                            <div class="panel product-hot">
                                <div class="panel-body">
                                    <h4 class="example-title">热门推荐</h4>
                                    <div class="row">
                                        {Dz:nlist order="id asc" limit="2"}
                                        <div class="product-hot-list col-md-12 col-sm-4 col-xs-4 text-center margin-bottom-10">
                                            <a href="../product/showproduct.php?lang=en&id=55" target="_blank" class="img" title="KIDS & BABY摄影棚摄影">
                                                <img  data-original="/public/Uploads/{$v.smallimage}" class="img-responsive" style='height:250px' alt="KIDS & BABY摄影棚摄影">
                                            </a>
                                            <a href="../product/showproduct.php?lang=en&id=55" target="_blank" class="txt" title="KIDS & BABY摄影棚摄影">KIDS & BABY摄影棚摄影</a>
                                            <p class='margin-bottom-0 red-600'>3800.00元</p>
                                        </div>
                                        {/Dz:nlist}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--右侧结束-->

                </div>
            </div>
        </div>
    </div>

{include file="templates/sheying/Public/footer.html"}
