{include file="./templates/home/public/header.html"}
<div class="banner banner_s"><img src="/templates/home/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">关于我们</div>
        <ul class="s_nav">
        	<li class="now">
            	<a href="">公司介绍</a>
            </li>
            <li>
            	<a href="">成员企业</a>
            </li>
            <li>
            	<a href="">企业文化</a>
            </li>
            <li>
            	<a href="">智腾达荣誉</a>
            </li>
            <li>
            	<a href="">公司大事记</a>
            </li>
            <li>
            	<a href="">投资者关系</a>
            </li>
            <li>
            	<a href="">领航者</a>
            </li>
            <li>
            	<a href="">人才招聘</a>
            </li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">A8支持服务</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="">首页</a>
                <span>></span>
                <a href="">支持服务</a>
                <span>></span>
                <a href="" class="on">A8支持服务</a>
            </div>
        </div>
        <div class="scd_m">

        	<div class="service">
            {Dz:nlist  name='vo'  cateid="9" }
                
                    <p>{$vo.content}</p>
                {/Dz:nlist}
            	
            </div>
        </div>
    </div>
</div>
{include file="./templates/home/public/border.html"}