{include file="./templates/home/public/header.html"}
<div class="banner banner_s"><img src="templates/home/index/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">联系我们</div>
        <ul class="s_nav">
        	<li class="now">
            	<a href="">联系智腾达</a>
            </li>
            <li>
            	<a href="">人才招聘</a>
            </li>
            <li>
            	<a href="">客户留言</a>
            </li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">联系智腾达</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="">首页</a>
                <span>></span>
                <a href="">联系我们</a>
                <span>></span>
                <a href="" class="on">联系智腾达</a>
            </div>
        </div>
        <div class="scd_m">
        	<div class="contact">
            	<dl class="clearfix">
                	<dt><img src="/templates/home/Assets/images/pic4.png" alt=""/></dt>
                    <dd>
                    	<p>公司电话：0755-86133118、86133119 </p>
                        <p>公司传真：0755-86133117 </p>
                        <p>公司邮箱：86133117@163.com</p>
                        <p>公司地址：深圳市南山区科技园北区清华信息港科研楼605  </p>
                    </dd>
                </dl>
                <div class="space_hx">&nbsp;</div>
                <div class="map"><img src="templates/home/Assets/upload/pic13.jpg" alt=""/></div>
            </div>
        </div>
    </div>
</div>
{include file="./templates/home/public/border.html"}>
