{include file="./templates/home/public/header.html"}
<!--头部-->
<!--幻灯片-->
<div class="banner">
	<div class="slider">
        <div class="flexslider">
          <ul class="slides">{dz:nlist cateid=''}
            <li><a href=""><img src="/templates/home/Assets/upload/banner.jpg" alt="" /></a></li>
            <li><a href=""><img src="/templates/home/Assets/upload/banner.jpg" alt="" /></a></li>
            <li><a href=""><img src="/templates/home/Assets/upload/banner.jpg" alt="" /></a></li>
          </ul>
        </div>
    </div>
</div>
<!--幻灯片-->
<div class="i_ma">
	<div class="tabBox_t">
        <div class="tabBox">
          <ul class="tabNav">
            <li class="now">企业应用软件</li>
            <li>IT互联网产品系统</li>
            <li>手机软件</li>
          </ul>
          <div class="tabCont" style="display:block;">
            <!--企业应用软件-->
            <ul class="ip_l clearfix">
            	<li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic7.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div>
                        </a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic7.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div>
                        </a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic8.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic9.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic10.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic11.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
            </ul>
            <!--企业应用软件-->
          </div>
          <div class="tabCont">
            <!--IT互联网产品系统-->
            <ul class="ip_l clearfix">
            	<li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic10.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic7.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic8.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic9.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	<h6><a href="">S3专属定制移动终端</a></h6>
                        {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic10.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	<h6><a href="">S3专属定制移动终端</a></h6>
                        {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic11.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
            </ul>
            <!--IT互联网产品系统-->
          </div>
          <div class="tabCont">
            <!--手机软件-->
            <ul class="ip_l clearfix">
            	<li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic11.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic7.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic8.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic9.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic10.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
                <li>
                	<div class="tu">
                    	<a href=""><img src="/templates/home/Assets/upload/pic11.jpg" alt=""/>
                        <div class="title">S3专属定制移动终端</div></a>
                    </div>
                    <div class="des">
                    	{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                    </div>
                </li>
            </ul>
            <!--手机软件-->
          </div>
        </div>
    </div>
</div>
<div class="bg_a">
	<div class="i_mb clearfix">
    	<dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic1.jpg" alt=""/></dt>
               {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
        <dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic2.jpg" alt=""/></dt>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
        <dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic3.jpg" alt=""/></dt>
{Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
        <dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic4.jpg" alt=""/></dt>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
        <dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic5.jpg" alt=""/></dt>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
        <dl class="clearfix">
        	<a href="">
            	<dt><img src="/templates/home/Assets/upload/pic6.jpg" alt=""/></dt>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

            </a>
        </dl>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_mc clearfix">
	<div class="i_mcl">
    	<div class="box_h">
        	<span>
            	<em>公司新闻</em>
                <i>&nbsp;</i>
            </span>
            <a href="">+ MORE</a>
        </div>
        <div class="box_m">
        	<dl class="clearfix">
            	<dt><a href=""><img src="/templates/home/Assets/upload/pic12.jpg" alt=""/></a></dt>
                <dd>
                {Dz:nlist  name='vo'  cateid="4" }
                <div class="title"><a href="{$vo.url}">{$vo.title}</a></div>
                    <p>{$vo.abstract} <a href="">{查看详情}</a></p>
                {/Dz:nlist}

                	
                </dd>
            </dl>
            <ul class="clearfix">
             <dd>
            	<li>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="4"    name='vo'  }
               
                    <p>{$vo.abstract} </a></p>
                {/Dz:nlist}

                	
                </li>
                </dd>
               
            </ul>
        </div>
    </div>
    <div class="i_mcr">
    	<div class="box_h">
        	<span>
            	<em>最新活动</em>
                <i>&nbsp;</i>
            </span>
            <a href="">+ MORE</a>
        </div>
        <div class="box_m">
        	<dl class="clearfix">
            	<dt><a href=""><img src="/templates/home/Assets/upload/pic12.jpg" alt=""/></a></dt>
                <dd>
                {Dz:nlist field="id,title,source,author,cateid,url,abstract"    limit="3"    name='vo'   }
                <div class="title"><a href="{$vo.url}">{$vo.title}</a></div>
                    <p>{$vo.abstract} <a href="">{查看详情}</a></p>
                {/Dz:nlist}

                    
                </dd>
            </dl>
           
        </div>
    </div>
</div>
{include file="./templates/home/public/border.html"}