{include file="./templates/home/public/header.html"}
<!--头部-->
<div class="banner banner_s"><img src="/templates/home/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">合作伙伴</div>
        <ul class="s_nav">
        	<li>
            	<a href="">营销伙伴</a>
            </li>
            <li>
            	<a href="">产品伙伴</a>
            </li>
            <li>
            	<a href="">伙伴体系</a>
            </li>
            <li>
            	<a href="">合作加盟</a>
            </li>
            <li class="now">
            	<a href="">伙伴支持</a>
            </li>
            <li>
            	<a href="">发展前景</a>
            </li>
            <li>
            	<a href="">支持策略</a>
            </li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">伙伴支持</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="">首页</a>
                <span>></span>
                <a href="">合作伙伴</a>
                <span>></span>
                <a href="">伙伴支持</a>
            </div>
        </div>
        <div class="scd_m">
        	<div class="log">
            
            	<h6>市场营销支持</h6>
                <p style="text-indent:2em;">智腾达优普1+N专项市场活动，通过网络与线下体验会相结合的方式，让新老用户快速体验产品价值与管理价值，全面升级到U8+新产品，帮助伙伴客户经营效益最大化。同时伙伴还可以实时在线申请专家及顾问资源，定向远程支持伙伴的市场活动，帮助伙伴缩短销售周期，加快落单，赢得更多的利润！</p>
                 <img src="/templates/home/Assets/upload/pic19.jpg" alt=""/>
                 <h6>能力提升</h6>
                 <p style="text-indent:2em;"> 智腾达优普渠道大学是为了战略加强智腾达优普信息技术有限公司渠道体系而成立的专门组织。专业、系统、规模、持续地培养伙伴公司的专业人才，提升伙伴组织能力和建设学习型组织，通过推动团队进步满足伙伴业务及组织需求</p>
                 <img src="/templates/home/Assets/upload/pic20.jpg" alt=""/>
                 <h6>伙伴实施支持</h6>
                 <p style="text-indent:2em;">智腾达优普基于用友在各个行业/领域的典型方案及样板积累，帮助伙伴全方位开展客户经营。实施与项目管理增值服务一体化将在伙伴体系全面推广基于“云+端”，即“伙伴项目管理平台+实施导航工具”的实施交付服务一体化运营。面向市场，启动增值服务产业链一体化的宣传力度，让客户在选择用友产品，同时关注增值经销商的专业化服务一体化价值。</p>
                 <img src="/templates/home/Assets/upload/pic21.jpg" alt=""/>
                 <h6>伙伴服务支持</h6>
                 <p style="text-indent:2em;"> 智腾达优普将加大力度建设基于伙伴的服务交付与经营平台。开设伙伴服务通道，强化知识转移，提升客户服务经营能力，协助伙伴做好老客户服务营销。同时借用移动互联平台iSD,聚合用户，与伙伴共赢未来。</p>
                 <img src="/templates/home/Assets/upload/pic22.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
{include file="./templates/home/public/border.html"}
