{include file="templates/zhangwenxue/head.html"}

<div class="wrapper">
  <div class="container content">
               <div class="page_right">
      <div class="sub_title">
        <h2>集团简介</h2>
        <h4>ABOUT US</h4>
      </div>
      <div class="sub_nav">
        <ul>
		  <li  ><a href="{:url('Index/stract')}" title="集团概况">集团概况</a></li>
		    <li  class="on"><a href="{:url('Index/history')}" title="发展历程">发展历程</a></li>
		          </ul>
      </div>
    </div>    <div class="page_left">
<div class="page_title"><a href="/">首页</a> > <a href="/list-jituangaikuang.html">集团简介</a> > <a href="/list-fazhanlicheng.html">发展历程</a></div>

  
      <div class="page_content">
      <div id="timeline">
	  	  			<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2017年</h2>
				<p>晋泰集团新办公楼装修工作已正式开启，员工培训成长计划正落地转化，爱心助学工程持续发展。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2016年</h2>
				<p>晋泰集团成立上海、青岛公司。董事长当选山东省女商会常务副会长、济南外商投资协会常务理事，被市妇女联合会授予“三八红旗手”荣誉称号。晋泰集团被滨州市沾化区妇联授予“扶贫助学 情暖沾化”锦旗。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2015年</h2>
				<p>晋泰年会庆典在三亚举行；同年，晋泰集团架构运营、管理，开启发展新篇章。同年，晋泰集团被山东爱心助学第七届年会授予“热心公益 爱心助学”锦旗，被聊城、荷泽、莱芜、临沂革命老区等授予“扶贫助学 奉献爱心”荣誉。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2014年</h2>
				<p>晋泰女职工会成立，女职工有了贴心的娘家。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2013年</h2>
				<p>晋泰“感恩十年”十周年庆典在云南丽江举行，回顾晋泰十年，艰苦创业、成绩斐然；放眼未来，新十年征程，晋泰步履坚定。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2012年</h2>
				<p>晋泰北京公司成立，“集晋泰智慧，创国际品牌”列入晋泰战略发展规划；同年董事长连任市人大代表。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2011年</h2>
				<p>晋泰、联合金属网、中国钢铁工业协会、中国五矿化工进出口商会共同举办了“2011第五届中国钢铁原燃料市场高峰论坛”，晋泰品牌获行业高度认可。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2010年</h2>
				<p>晋泰经过多年的总结提炼，形成体系完整、具晋泰特色的企业文化；乔迁实力新址：CBD中润世纪广场。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2009年</h2>
				<p>晋泰董事长当选市人大代表、市级行政效能特约监督员、山东省女企业家协会理事。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2008年</h2>
				<p>晋泰董事长被评为“影响山东经济女性人物”；同年公司组织多次对汶川大地震捐款捐物，奉献爱心。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2007年</h2>
				<p>晋泰投资参股证券公司和商业银行。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2006年</h2>
				<p>晋泰跨入投资领域，发展成为集冶金原料、钢材加工、贸易、投资为一体的综合性公司；同年晋泰被评为市级先进企业。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2005年</h2>
				<p>晋泰在山东济南开启国际贸易业务，被四大银行、股份制银行、地方银行等多家银行评为信用企业，成为银行重点支持客户。同年董事长荣获巾帼劳动奖章。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content right">
				<h2>2004年</h2>
				<p>晋泰被济南钢铁集团评为星级原料供应商。</p>
			</div>
		</div>
 		<div class="timeline-item">
			<div class="timeline-icon glyphicon glyphicon-book">
			</div>
			<div class="timeline-content ">
				<h2>2003年</h2>
				<p>晋泰在山东省莱芜市诞生，定位大宗商品贸易业务，成为宝钢战略合作伙伴。</p>
			</div>
		</div>
 	</div>
        </div>
    </div>
  </div>
</div>
<!--footer start-->
{include file="templates/zhangwenxue/foot.html"}
<!--footer end-->
</body>
</html>