{include file="./templates/zhangwenxue/head.html"}
<!--bannercss+js-->
<link rel="stylesheet" href="/templates/zhangwenxue/css/banner.css" type="text/css" />
<script type="text/javascript" src="/templates/zhangwenxue/js/jquery.flexslider-min.js"></script>
<link rel="stylesheet" href="/templates/zhangwenxue/css/tabs-basic.css">
<script type="text/javascript" src="/templates/zhangwenxue/js/index.js"></script>
<!--幻灯片-->
<div class="block_home_slider">
  <div id="home_slider" class="flexslider">
    <ul class="slides">
    {Dz:banlist order="id asc"}
      <li>
        <div class="slide">
          <picture>
            <source media="(min-width: 320px) and (max-width: 640px)" srcset="/templates/zhangwenxue/images/38.jpg">
            <source media="(min-width: 640px) and (max-width: 1280px)" srcset="/templates/zhangwenxue/images/39.jpg">
            <img src="../../public/Uploads/{$v.photo}" width="100%"> 
          </picture>
          </div>
      </li>
    {/Dz:banlist}
                  
                </ul>
  </div>
  <script type="text/javascript">
                $(function () {
                  $('#home_slider').flexslider({
                    animation : 'slide',
                    controlNav : true,
                    directionNav : true,
                    animationLoop : true,
                    slideshow : false,
                    useCSS : false
                  });
                  
                });
              </script> 
</div>
<!--幻灯片-->
<div class="container"> 
  <!--新闻 start-->
  <div class="news">
    <div class="tabs-basic">
      <div>
        <ul class="tabs-basic1">
          <li> <a class="tab-active" data-index="0" href="#">集团新闻</a> </li>
          <li> <a data-index="1" href="#">行业新闻</a> </li>
        </ul>
      </div>
      <div class="tabs-content-placeholder">
        <div class="tab-content-active">
          <ul>
            {Dz:nlist  order="id desc" limit="4" cateid="2"}
              <li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
            {/Dz:nlist}

          </ul>
        </div>
        <div>
          <ul>
            {Dz:nlist  order="id desc" limit="4" cateid="3"}
              <li><a href="{$v.url}" title="{$v.title}">{$v.title}</a></li>
            {/Dz:nlist}
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function() {

            var widget = $('.tabs-basic');

            var tabs = widget.find('.tabs-basic1 a'),
                content = widget.find('.tabs-content-placeholder > div');

            tabs.on('click', function (e) {

                e.preventDefault();

                // Get the data-index attribute, and show the matching content div

                var index = $(this).data('index');

                tabs.removeClass('tab-active');
                content.removeClass('tab-content-active');

                $(this).addClass('tab-active');
                content.eq(index).addClass('tab-content-active');

            });

        });

    </script> 
  </div>
  <!--新闻 end--> 
  <!--招聘 start-->
  <div class="industry"><a href="{:url('Index/list_talents')}"><img src="/templates/zhangwenxue/images/p2.jpg"></a></div>
  <!--招聘 end--> 
  <!--右边 start-->
  <div class="profile"><a style="background:#7e632e;" href="{:url('Index/list_charity')}"><img src="/templates/zhangwenxue/images/zeren.png" class="profile_img"><h4>社会责任</h4><h6>Social Responsibility</h6></a><a style="background:#e02e2e;" href="{:url('Index/stract')}"><img src="/templates/zhangwenxue/images/jianjie.png" class="profile_img"><h4>集团简介</h4><h6>Group Profile</h6></a></div></div>
  <!--右边 start--> 
  
</div>
<!--footer start-->
{include file="./templates/zhangwenxue/foot.html"}
<!--footer end-->
</body>
</html>