{include file="templates/zhangwenxue/head.html"}

<div class="wrapper">
  <div class="container content">
               <div class="page_right">
      <div class="sub_title">
        <h2>集团文化</h2>
        <h4>CULTURE</h4>
      </div>
       <div class="sub_nav">
        <ul>
      <li  class="on" ><a href="/home/Article/newslist?cateid=5" title="文化活动">文化活动</a></li>
              </ul>
      </div>
    </div>    <div class="page_left">
        <div class="page_title"><a href="/">首页</a> > <a href="">集团文化</a> > <a href="/home/Article/newslist?cateid=5">文化活动</a></div>
  
      <div class="page_content">
        <ul class="culture_ul clearfix">
          {Dz:newslist limit="9" order="id desc" page="true"}
		           <li> <a href="{$v.url}" title="{$v.title}">
            <div class="pic"> <img src="../../public/Uploads/{$v.smallimage}" alt="{$v.title}" class="vcenter" /> <i></i> </div>
            <p>{$v.title}</p>
            </a> </li>
	        {/Dz:newslist}  
	        </ul>
        	    <div class="pageing">{$page}</div>
      </div>
    </div>
  </div>
</div>
{include file="templates/zhangwenxue/foot.html"}
<!--footer end-->
</body>
</html>