{include file="templates/zhangwenxue/head.html"}

<div class="wrapper">
  <div class="container content">
           <div class="page_right">
      <div class="sub_title">
        <h2>新闻中心</h2>
        <h4>GROUP NEWS</h4>
      </div>
      <div class="sub_nav">
        <ul>
      <li  class="on"><a href="/home/Article/newslist?cateid=2" title="集团新闻">集团新闻</a></li>
        <li  ><a href="/home/Article/newslist?cateid=3" title="行业新闻">行业新闻</a></li>
              </ul>
      </div>
    </div>           <div class="page_left">
       <div class="page_title"><a href="/">首页</a> > <a href="">新闻中心</a> > <a href="/home/Article/newslist?cateid=2">集团新闻</a></div>
  
      <div class="page_content">
        <ul class="news_ul">
          {Dz:newslist  order="id desc" limit="6"}
            <li > 
              <a href="{$v.url}" title="{$v.title}" class="clearfix"> <span class="ri"> <i>18</i>
              <time>{$v.inputtime|date="Y-m-d",###}</time>
              </span>
              <div class="wen_nei">
                <h4>{$v.title}</h4>
                <p>{$v.abstract}</p>
              </div>
              </a> 
            </li>
          {/Dz:newslist}          
                   
        </ul>
   <div class="pageing">{$page}</div>
      </div>
    </div>
  </div>
</div>

<!--footer start-->
{include file="templates/zhangwenxue/foot.html"}
<!--footer end-->
</body>
</html>