{include file="templates/zhangwenxue/head.html"}
<div class="wrapper">
  <div class="container content">
    
      <div class="page_right">
      <div class="sub_title">
        <h2>集团业务</h2>
        <h4>GROUP BUSINESS</h4>
      </div>
      <div class="sub_nav">
        <ul>
		  <li  class="on"><a href="/list-tiekuangshi.html" title="铁矿石">铁矿石</a></li>
		    <li  ><a href="/list-meitan.html" title="煤炭">煤炭</a></li>
		    <li  ><a href="/list-gangcaigangjiegou.html" title="钢材/钢结构">钢材/钢结构</a></li>
		    <li  ><a href="/list-touzi.html" title="投资">投资</a></li>
		    <li  ><a href="/list-xinchanpinkaifa.html" title="新产品开发">新产品开发</a></li>
		          </ul>
      </div>
    </div>      <div class="page_left">
         <div class="page_title"><a href="/">首页</a> > <a href="/list-tiekuangshi.html">集团业务</a> > <a href="/list-tiekuangshi.html">铁矿石</a></div>
  
      <div class="page_content">
        <ul class="pro_ul clearfix">
		          <li><a href="/show-435.html" title="粗粉">
            <div class="pic"> <img src="images/18.jpg" alt="粗粉" class="vcenter" /> <i></i> <div class="zhe_a fadeInq"><img src="images/pro_sou.png" alt="粗粉"  class="vcenter"/></div> </div>
            <div class="text">
              <h4>粗粉</h4>
              <span></span> <div class="more">MORE ></div></div>
            </a> </li>
				          <li><a href="/show-434.html" title="精粉">
            <div class="pic"> <img src="images/19.jpg" alt="精粉" class="vcenter" /> <i></i> <div class="zhe_a fadeInq"><img src="images/pro_sou.png" alt="精粉"  class="vcenter"/></div> </div>
            <div class="text">
              <h4>精粉</h4>
              <span></span> <div class="more">MORE ></div></div>
            </a> </li>
				          <li><a href="/show-433.html" title="块矿">
            <div class="pic"> <img src="images/20.jpg" alt="块矿" class="vcenter" /> <i></i> <div class="zhe_a fadeInq"><img src="images/pro_sou.png" alt="块矿"  class="vcenter"/></div> </div>
            <div class="text">
              <h4>块矿</h4>
              <span></span> <div class="more">MORE ></div></div>
            </a> </li>
				          <li><a href="/show-432.html" title="球团">
            <div class="pic"> <img src="images/8.jpg" alt="球团" class="vcenter" /> <i></i> <div class="zhe_a fadeInq"><img src="images/pro_sou.png" alt="球团"  class="vcenter"/></div> </div>
            <div class="text">
              <h4>球团</h4>
              <span></span> <div class="more">MORE ></div></div>
            </a> </li>
				        </ul>
                 <div class="pageing"></div>
      </div>
    </div>
  </div>
</div>
<!--footer start-->
{include file="templates/zhangwenxue/foot.html"}
<!--footer end-->
</body>
</html>