<!DOCTYPE HTML>
<html>
{include file="./templates/mokuai/head.html"}
<body>
<!--头部-->
{include file="./templates/mokuai/header.html"}

<div class="main_banner" style="background-image: url(/templates/mokuai/img/1849_src.jpg);">
<img src="/templates/mokuai/img/guan.jpg" alt="">	
</div>
<!--主体-->
<div class="beijing1">
<hr />
	<div class="service">
		<div style="text-indent: 2em;font-size:18px;font-weight:bold;">
			
		</div>
		<div style="text-indent: 2em;font-size:16px;">{$info.content}</div>
		<div style="text-indent: 2em;font-size:16px;">
		{$info.content}
			
		</div>
		<div style="text-indent: 2em;font-size:16px;">
			{$info.content}
		</div>
		<div style="text-indent: 2em;font-size:16px;font-weight:bold;">
			{$info.content}
		</div>
		<div style="text-indent: 2em;font-size:16px;font-weight:bold;">
			
		</div>
	</div>
</div>
{include file="./templates/mokuai/footer.html"}

</body>
</html>

<script type="text/javascript" src="/templates/mokuai/js/xmsz_common.js" ></script>
<!--[if IE 6]><script type="text/javascript" src="/templates/mokuai/js/pngfix.js" ></script><![endif]-->
