<!DOCTYPE HTML>
<html>
{include file="./templates/mokuai/head.html"}
<body>
<!--头部-->
{include file="./templates/mokuai/header.html"}

<div class="main_banner" style="background-image: url(/templates/mokuai/img/184_s.jpg);">
	<img src="/templates/mokuai/img/lian.jpg" alt="">
</div>
<!--主体-->
<div class="beijing1">	
<hr />
<br />
	<div class="lian_yi">
		<div class="lian_yi_zuo">
			<p style="font-size:20px;font-weight:bold;color:#0066ff;margin-top:8px;">DZCMS有限公司</p>
			<p style="font-size:16px;font-weight:bold;color:#0066ff;" >全国客户服务热线：400-000-111</p>
			<p style="font-weight:bold;text-indent:28px;">地址：山东DZCMS有限公司路DZCMS有限公司</p>
			<p style="font-weight:bold;text-indent:28px;">电话：0539-123456  5464546</p>
			<p style="font-weight:bold;text-indent:28px;">传真：0539-123456</p>
			<p style="font-weight:bold;text-indent:28px;">邮箱：xxxxxx@163.com</p>
			<p style="font-weight:bold;text-indent:28px;">邮编：123456</p>
		</div>
		<div class="lian_yi_you">
			<img src="/templates/mokuai/img/di_q.png" alt="">
		</div>
	</div>

</div>

{include file="./templates/mokuai/footer.html"}

</body>
</html>

<script type="text/javascript" src="js/xmsz_common.js" ></script>
<!--[if IE 6]><script type="text/javascript" src="js/pngfix.js" ></script><![endif]-->
