<header>
	<div class="beijing">
		<h2><a href="#" ><em><img class="abc" src="/templates/mokuai/img/249_src.png"></em></a></h2>
		<ul>	
			{Dz:navlist name="vo"}
             <li><a class="menu_1 " href="{$vo.url}">{$vo.title}</a></li>
            {/Dz:navlist}
																																																																																																																																																													
		</ul>
		<div class="clear"></div>		
	</div>
	<div class="clear"></div>
</header>