<!DOCTYPE HTML>
<html>
{include file="./templates/mokuai/head.html"}
<body>
<!--头部-->
{include file="./templates/mokuai/header.html"}


<div class="main_banner" style="background-image: url(/templates/mokuai/img/1850_src.jpg);">
	<img src="/templates/mokuai/img/ji.jpg" alt="">
</div>
<!--主体-->
<div class="beijing1">
	<ul class="loaddown">
            {Dz:newslist  limit="5" order="id desc" name="vo"}
             <li>
    			<a id="download" href="#" > {$vo.title} </a>
    		</li>
            {/Dz:newslist}
	</ul>
    <div class="page"> 
    {$page}
</div>

{include file="./templates/mokuai/footer.html"}

</body>
</html>

<script type="text/javascript" src="js/xmsz_common.js" ></script>
<!--[if IE 6]><script type="text/javascript" src="js/pngfix.js" ></script><![endif]-->
