<div id="footer" class="winwin-footer">

    <hr class="met_hr" style='margin-top:0px;'>
    <div class="container">
        <div class="bottom">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="bottom_left">
                        <p>我的网站 版权所有 2008-2014 湘ICP备8888888 </p>
                        <p>本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p>


                        <div class="powered_by_metinfo">Powered&nbsp;by&nbsp;<a href="http://www.MetInfo.cn/#copyright" target="_blank" title="enterprise website manager system">MetInfo</a>&nbsp;5.3.16</div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-7">

                </div>

            </div>
        </div>
    </div>
</div>
<!--
<button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide z999"><i class="icon wb-chevron-up" aria-hidden="true"></i></button>
-->

<script>
    var jsonurl='http://show.metinfo.cn/muban/M1601005/364/shop/cart.php?a=dojson_cart_list&lang=en',totalurl='http://show.metinfo.cn/muban/M1601005/364/shop/cart.php?a=domodify&lang=en',delurl='http://show.metinfo.cn/muban/M1601005/364/shop/cart.php?a=dodel&lang=en',lang_emptycart='购物车中还没有商品，赶紧选购吧！';
</script>

<script src="/templates/sheying/js/new4.js"></script>
</body>
</html>