<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>上海大智投资管理有限公司</title>
    <link href="/templates/newstyle/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="30" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="2%" align="left"><img src="/templates/newstyle/images/top_03.png" width="13" height="13" /></td>
                <td width="68%" align="left"><span class="fotn_999">您好！欢迎来到</span><span class="font_0A8BC4">上海大智投资管理有限公司</span><span class="fotn_999">！</span></td>
                <td width="30%" align="right"> <a HREF="#" ONCLICK="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.mycodes.net');return(false);"
                                                  STYLE="BEHAVIOR: url(#default#homepage)">设为首页</a> | <a href=# onclick="window.external.addFavorite('http://www.mycodes.net','上海大智投资管理有限公司')" style="CURSOR: hand" title='上海大智投资管理有限公司'>收藏大智</a></td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td height="110" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="21%"><img src="/templates/newstyle/images/top_09.png" width="210" height="76" /></td>
                <td width="5%" align="center"><img src="/templates/newstyle/images/top_07.png" width="1" height="85" /></td>
                <td width="46%" align="left"><img src="/templates/newstyle/images/top_15.png" width="216" height="27" /></td>
                <td width="28%"><table border="0" align="right" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="53" rowspan="3" align="center"><img src="/templates/newstyle/images/top_12.png" width="41" height="54" /></td>
                        <td align="left" class="fotn_999">客服热线：</td>
                    </tr>
                    <tr>
                        <td align="left" class="font_0A8BC4  font_24">021-00000000</td>
                    </tr>
                    <tr>
                        <td align="left" class="fotn_999">客服工作时间：9：00-18：00</td>
                    </tr>
                </table></td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td height="40" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="2" align="center"><img src="/templates/newstyle/images/top_22.png" width="2" height="40" /></td>
                <td width="130" align="center"><a href="/" class="dao">网站首页</a></td>
                <td width="2" align="center"><img src="/templates/newstyle/images/top_22.png" width="2" height="40" /></td>
                {Dz:navlist limit="6"}
                <td width="130" align="center"><a href="{$v.url}" class="dao">{$v.title}</a></td>
                <td width="2" align="center"><img src="/templates/newstyle/images/top_22.png" width="2" height="40" /></td>
                {/Dz:navlist}
                <td align="center">&nbsp;</td>
            </tr>
        </table></td>
    </tr>
</table>