{include file="./templates/old/header.html"}
<div class="clear"></div>
<div class="wt1002 fwmain">
	<div class="fwmain_nright r mTop10">
    	<div class="label">
        	<div class="label_head"><div class="label_title">新闻内容</div></div>
            
            <div class="about_con">
            	 <div class="news_detail_title">{$info.title}</div>
                 <div class="news_detail_info">
                 	<div class="news_detail_time">2016-5-26</div>
                    <div class="news_detail_from">来源:未知</div>
                    <div class="news_detail_tool">点击数:12          作者:未知</div>
                 </div>
                <div class="news_detail_cont">{$info.content}<br/>

</div>
            </div>
        </div>
    </div>
    <div class="fwmain_nleft l mTop10">
    	<div class="label_head"><div class="label_title">新闻动态</div></div>
    	<div class="label_contents">
          <h1><a href="">院所介绍</a></h1>
            <h1><a href="">院所荣誉</a></h1>
            <h1><a href="">领导介绍</a></h1>
        </div>
        <div class="label_head mTop10"><div class="label_title">社会关爱</div></div>
    	<div class="label_contents">
        <h1><a href="">慈善活动</a></h1><h1><a href="">社会捐助</a></h1>
        </div>
        <div class="label_head mTop10"><div class="label_title">联系我们</div></div>
    	<div class="label_contents">
        <ul class="label_pad mTop10">
            	<div>地 址：XX市XX路XX号10楼</div>
<div>电 话：000-000000</div>
<div>传 真：000-000000 </div>
<div>邮 箱：123456@XX.com</div>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="foot">
    <span>copyright2015-2018 某某养老院版权所有</span>
    <a href="" target="_target" title="Sitemap">网站地图</a>
    <a href="" target="_target" title="后台登录">后台登录</a>
</div>
</body>
</html>