{include file="./templates/old/header.html"}
<div class="clear"></div>
<div class="wt1002 fwmain">
	<div class="fwmain_nright r mTop10">
    	<div class="label">
        	<div class="label_head"><div class="label_title">新闻内容</div></div>
            
            <div class="about_con">
            	 <div class="news_detail_title">全国各地“甩老族”频现：把爸妈送养老院玩失踪 </div>
                 <div class="news_detail_info">
                 	<div class="news_detail_time">2016-5-26</div>
                    <div class="news_detail_from">来源:未知</div>
                    <div class="news_detail_tool">点击数:12          作者:未知</div>
                 </div>
                <div class="news_detail_cont">将老人送进养老机构，支付一段时间的费用之后，就不管不问了，这样的子女有一个共同的称呼——“甩老族”。<br/>

　　前段时间，外地一些养老机构发生多起“甩老”事件，老人家属无一例外都是欠费玩失踪，养老机构又不能把老人赶出去，只能贴钱照顾。<br/>

　　其实像这样的“甩老族”在郑州也有，而一些民营养老机构本身运营就困难，在遭遇这些违背诚信的“甩老”行为之后，不仅维权困难，经营更是雪上加霜。
</div>
            </div>
        </div>
    </div>
    <div class="fwmain_nleft l mTop10">
    	<div class="label_head"><div class="label_title">新闻动态</div></div>
    	<div class="label_contents">
          <h1><a href="">院所介绍</a></h1>
            <h1><a href="">院所荣誉</a></h1>
            <h1><a href="">领导介绍</a></h1>
        </div>
        <div class="label_head mTop10"><div class="label_title">社会关爱</div></div>
    	<div class="label_contents">
        <h1><a href="">慈善活动</a></h1><h1><a href="">社会捐助</a></h1>
        </div>
        <div class="label_head mTop10"><div class="label_title">联系我们</div></div>
    	<div class="label_contents">
        <ul class="label_pad mTop10">
            	<div>地 址：XX市XX路XX号10楼</div>
<div>电 话：000-000000</div>
<div>传 真：000-000000 </div>
<div>邮 箱：123456@XX.com</div>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="foot">
    <span>copyright2015-2018 某某养老院版权所有</span>
    <a href="" target="_target" title="Sitemap">网站地图</a>
    <a href="" target="_target" title="后台登录">后台登录</a>
</div>
</body>
</html>