<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta name="viewport" content="width=1024" />
<title>关于_我的网站</title>
<meta name="keywords" content="这里填写关键词" />
<meta name="description" content="这里填写描述" />      
<link rel="stylesheet" href="/templates/blackdemo/css/style.css" type="text/css" media="all" />
<!--[if lt IE 9]><script type="text/javascript" src="../js/html5.js"></script><![endif]-->
</head>
<body >



<header>
	<div id="navbg"></div>
	<div class="wrapper">
		<h1 class="logo"><a href="{:url('index/index')}"  title="源码之家:www.mycodes.net"><img src="/templates/blackdemo/images/logo.png"  width="213" height="36" alt="源码之家:www.mycodes.net" /></a></h1>
		<nav>			
			<ul>

				{Dz:navlist  name="vo" limit='5'}
    			<li class="home"><a href="{$vo.url}">{$vo.title}<span>{$vo.description}</span></a></li>
    			{/Dz:navlist}

				
			</ul>
		</nav>
        	</div>
</header>