<div class="layout-footer">
    <div class="footer">
        <div style="background-color:#383d61" class="footer--bg"></div>
        <div class="footer--inner">
            <div class="container">
                <div class="footer_main">
                    <div class="am-g">
                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title"></strong>
                                <div class="footer_about">
                                    <p class="footer_about--text">
                                    </p>
                                    <p class="footer_about--text">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">

                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">

                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/templates/xialonghao/js/jquery-2.1.0.js" charset="utf-8"></script>
<script src="/templates/xialonghao/js/amazeui.js" charset="utf-8"></script>
</body>

</html>
