<!DOCTYPE html>
{include file="./templates/xialonghao/header.html"}
    <!--===========layout-container================-->
    <div class="layout-container">
      <div class="index-page">
        <div data-am-widget="tabs" class="am-tabs am-tabs-default">
          <div class="am-tabs-bd">
            <div data-tab-panel-0 class="am-tab-panel am-active">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">企业移动化，首选大智</h1>
                        <p class="slide_simple--text am-text-left">
							全国领先的教学技术，雄厚的师资队伍。
						</p>
                        <div class="slide_simple--buttons">
                            <button type="button" class="am-btn am-btn-danger">了解更多</button>
						</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-1 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">企业移动化，首选大智</h1>
                        <p class="slide_simple--text am-text-left">
                          全国领先的教学技术，雄厚的师资队伍。
                        </p>
                        <div class="slide_simple--buttons">
                          <button type="button" class="am-btn am-btn-danger">了解更多</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-2 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">企业移动化，首选大智</h1>
                        <p class="slide_simple--text am-text-left">
                          全国领先的教学技术，雄厚的师资队伍。
                        </p>
                        <div class="slide_simple--buttons">
                          <button type="button" class="am-btn am-btn-danger">了解更多</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-tab-panel-3 class="am-tab-panel ">
              <div class="index-banner">
                <div class="index-mask">
                  <div class="container">
                    <div class="am-g">
                      <div class="am-u-md-10 am-u-sm-centered">
                        <h1 class="slide_simple--title">企业移动化，首选大智</h1>
                        <p class="slide_simple--text am-text-left">
                          全国领先的教学技术，雄厚的师资队伍。
                        </p>
                        <div class="slide_simple--buttons">
                          <button type="button" class="am-btn am-btn-danger">了解更多</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="am-tabs-nav am-cf index-tab">

            <li class="am-active">
              <a href="[data-tab-panel-0] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-cog"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">PHP</strong>
                  <p class="promo_slider_nav--item_description">世界上最好的语言</p>
                </div>
              </a>
            </li>

            <li class="a">
              <a href="[data-tab-panel-1] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-lightbulb-o"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">JAVA</strong>
                  <p class="promo_slider_nav--item_description">静态面向对象编程语言的代表</p>
                </div>
              </a>
            </li>
            <li class="">
              <a href="[data-tab-panel-2] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-line-chart"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">前端</strong>
                  <p class="promo_slider_nav--item_description">网站的前台代码实现</p>
                </div>
              </a>
            </li>
            <li class="">
              <a href="[data-tab-panel-3] am-g">
                <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                  <i class="am-icon-hourglass-end"></i>
                </div>
                <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                  <strong class="promo_slider_nav--item_title">Design</strong>
                  <p class="promo_slider_nav--item_description">有目标的进行技术性的创作</p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  <!--promo_detailed end-->
  <div class="section" style="margin-top:0px;background-image: url('/templates/xialonghao/images/pattern-light.png');">
    <div class="container">
      <div class="section--header">
        <h2 class="section--title">新闻动态</h2>
        <p class="section--description">
          每日新闻实时更新。
        </p>
      </div>
      </div>
    </div>
  </div>
  <div class="promo_detailed">
    <div class="promo_detailed-container" >
      <div class="container">
        <div class="am-g">
          <div class="am-u-md-6">
            <ul class="promo_detailed--list">
              {Dz:nlist limit="3" cateid="5" name="vo" order="id desc"}
                <li class="promo_detailed--list_item">
                  <dl>
                    <dt><a href="{$vo.url}">{$vo.title}</a> </dt>
                    <dd>
                      {$vo.abstract}
                    </dd>
                  </dl>
                </li>
              {/Dz:nlist}
            </ul>
          </div>

          <div class="am-u-md-6">
            <div class="promo_detailed--cta">
              <div class="promo_detailed--cta_wrap">
                <div class="promo_detailed--cta_text">
                  提供最新新闻动态提供最新新闻动态提供最新新闻动态提供最新新闻动态提供最新新闻动态提供最新新闻动态
                </div>
                <div class="promo_detailed--cta_footer">
                  <button type="button" class="am-btn am-btn-danger">MORE&nbsp;&nbsp;>></button>
                </div>
              </div>
              <div class="promo_detailed-img am-show-sm-only" style="background-image: url('/templates/xialonghao/images/index/promo_detailed_bg.jpg');"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="promo_detailed-img am-hide-sm-only" style="background-image: url('/templates/xialonghao/images/index/promo_detailed_bg.jpg');"></div>
  </div>
  <!--===========layout-footer================-->
{include file="./templates/xialonghao/footer.html"}