{include file="./templates/chenlixiang/header.html"}
	
    
    <div class="main">
    	<h2>当前位置：首页>内容页面</h2>
        <div class="left">
            <ul>
            	<li class="curr"><a href="#"><span></span>内容页面</a></li>

            </ul>
            <div class="ad">
            	<div class="s01"><span></span><p>客服中心</p><span></span></div>
                <div class="s02"><b><i></i></b></div>
                <div class="s03"><p>电话：010-57203888</p><p>地址：北京市崇文区崇外大街正仁大厦1段9单元</p></div>
            </div>
            <div class="tel">
            	<div class="box01"><span>服务热线</span><i></i><p>400-888-2837</p></div>
            </div>
            <div class="yin"><img src="/templates/chenlixiang/style/images/yin01.png" /> </div>
        </div>        
        
        <div class="right"> 
        	<ul>
            	<li>{$info.content}</li>
                
            </ul>
            <b><img src="/templates/chenlixiang/style/images/news03.jpg" /><img src="/templates/chenlixiang/style/images/news05.jpg" style="margin-left:108px" /></b>
        </div>
    </div>   
    
	
<!--底部-->    
    <div class="bottom">
    	<div class="bb">
                <ul>
                	
                      {Dz:navlist name='vo'}
                        <li><span></span><a href="{$vo.url}">{$vo.name}</a></li>
                    {/Dz:navlist}
                </ul>
        </div>
        <p>© 上海化妆品化妆品有限公司版权所有 沪ICP备11049051号</p>
    </div>
</body>
<script src="/templates/chenlixiang/style/js/jquery.js"></script>
<script src="/templates/chenlixiang/style/js/js.js"></script>
</html>
