 <div class="bottom">
    	<div class="bb">
                <ul>
                	 {Dz:navlist name='vo' limit='5'}
                        <li><span></span><a href="{$vo.url}">{$vo.title}</a></li>
                    {/Dz:navlist}
                    
                </ul>
        </div>
        <p>© 上海化妆品有限公司版权所有 沪ICP备11049051号 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a> </p>
    </div>
</body>
<script src="/templates/chenlixiang/style/js/jquery.js"></script>
<script src="/templates/chenlixiang/style/js/js.js"></script>
<script src="/templates/chenlixiang/style/js/index.js"></script>
<script src="/templates/chenlixiang/style/js/map.js"></script>
</html>
