/*===全局===*/
html{overflow-y: scroll; overflow-x:hidden; _background-image:url(about:blank); _background-attachment:fixed;}
body {font-family:"Microsoft Yahei",'mossbaoo',Arial,'Hiragino Sans GB',sans-serif; font-size:12px; color:#333333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,sup,sub{margin:0;padding:0}
fieldset,img{border:0}
ul,ol,li {list-style:none;}
img{-ms-interpolation-mode: bicubic; vertical-align:top;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:none; font-family:"Microsoft Yahei";}
.imgmiddle,input,select{vertical-align:middle;}
.table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
a {text-decoration:none; color:#333333;}
a:hover{ text-decoration:none;}
a:active{blr:expression(this.onFocus=this.blur());}
/*===自定义样式===*/
.w100 {width: 100%;}
.mar1200 {width: 1200px; margin: 0 auto;}
.mt25 {margin-top: 25px;}

/*===头部样式===*/
.header_w {border-bottom: 4px solid #001c5d; height:90px; position:fixed; top:0; left:0; z-index:9999; background:#fff;}
.header {height:90px;}
.header .logo {padding: 19px 0 13px;}
.header .nav {margin-left: 70px;}
.header .nav > ul > li {float: left; padding:0 30px; height:90px; overflow:hidden;}
.header .nav > ul > li:hover {height:auto;}
.header .nav > ul > li > a {height: 86px; line-height: 86px; display: inline-block; font-size: 18px; color: #454545; padding: 0 8px;}
.header .nav > ul > li.current > a {border-bottom: 4px solid #c00000;}
.header .nav > ul > li:hover > a {border-bottom: 4px solid #c00000;}
.header .nav > ul > li.more:hover > a {border-bottom: 0px solid #000;}
.header .childNav {margin-top: 4px;}
.header .childNav li {height: 34px; line-height: 34px; text-align: center; background: #001c5d;border-bottom: 1px solid #ccc; margin-left:-30px;}
.header .childNav li:hover {background:#c00000;}
.header .childNav li:last-of-type {border: none;}
.header .childNav li a {height: 34px; display: inline-block; line-height: 34px; font-size: 12px; color: #fff; padding: 0 30px;}
.header .icon {height: 90px; position:relative;}
.header .icon a {display: inline-block; float: left; margin-left: 32px;}
.header .icon a.icon1 {margin-top: 32px;}
.header .icon a.icon2 {margin-top: 30px;}
.header .icon a.icon3 {margin-top: 32px;}
.header .icon .search {position:absolute; top:28px; right:-160px; width:160px; height: 30px; opacity:0; display:none;}
.header .icon .search input[type="search"] {width:160px; height:30px; position:absolute; top:0; left:0; padding:0 30px 0 5px;}
.header .icon .search button[type="submit"] {width:30px; height:30px; position:absolute; top:0; right:0; cursor:pointer;}
.header .icon .search button img {width:16px;}

/*===底部样式===*/
.footer_w {border-top: 4px solid #001c5d; margin: 100px 0 0 0;}
.footer_top {padding: 28px 0 20px 0; border-bottom: 1px solid #f2f2f2;}
.footer_top .logo {padding: 15px 99px 15px 3px;}
.footer_top .ev {width: 388px; border-left: 1px solid #f2f2f2; padding:0 0 0 100px;}
.footer_top .ev h4 {font-size: 16px; color: #bcb8b8; line-height: 35px;}
.footer_top .ev ul li {float: left; width: 116px;}
.footer_top .ev ul li a {font-size: 14px; color: #454545; line-height: 28px;}
.footer_top .friend {width: 348px; border-left: 1px solid #f2f2f2; padding:0 0 0 100px;}
.footer_top .friend h4 {font-size: 16px; color: #bcb8b8; line-height: 35px;}
.footer_top .friend ul li {float: left; width: 116px;}
.footer_top .friend ul li a {font-size: 14px; color: #454545; line-height: 28px;}
.footer_center {padding: 32px 0; text-align: center;}
.footer_center ul {display: inline-block;}
.footer_center ul li {float: left; margin: 0 6px;}
.footer_bottom {text-align: center; font-size: 12px; color: #454545; line-height: 22px; padding-bottom: 20px; padding-top: 20px;}

/*===顶部模块样式===*/
.in_top {padding: 40px 0 0 0; margin-top:90px;}
.in_top_swiper {width: 546px; height: 368px; position: relative;}
.in_top_swiper:hover .arrow {opacity: 0.5;}
.in_top_swiper .arrow {height: 80px; line-height: 80px; display: inline-block; font-size: 60px; color: #fff; background: #666; opacity: 0; position: absolute; top: 50%; margin-top: -40px; z-index: 99;}
.in_top_swiper .arrowLeft {left: 5px;}
.in_top_swiper .arrowRight {right: 5px;}
.in_top .right .hot_title {width: 620px; height: 24px; line-height: 24px; text-align: center; font-size: 24px; color: #282828; background: url(../images/hot_title_5.png);}
.in_top .right .hot_top1 {line-height: 45px; margin-top: 15px;}
.in_top .right .hot_top1 a {font-size: 20px; color: #343434;}
.in_top .right .hot_top1 a:hover {color: #dc1313;}
.in_top .right .hot_top2 {width: 620px; background: url(../images/hot_top2_5.png) repeat-y 48% top;}
.in_top .right .hot_top2 ul li {width: 310px; float: left; line-height: 32px;}
.in_top .right .hot_top2 ul li a {font-size: 14px; color: #707070;}
.in_top .right .hot_top2 ul li a:hover {color: #dc1313;}
.in_top .right .menu {margin-top: 25px;}
.in_top .right .menu_title {width: 620px; line-height: 32px; text-align: center; background: #f6f5f5; font-size: 16px; color: #585858;}
.in_top .right .menu_list {border: 1px solid #f6f5f5;}
.in_top .right .menu_list ul li {width: 103px; float: left;}
.in_top .right .menu_list ul li i {width: 100%; height: 45px; display: block;}
.in_top .right .menu_list ul li:nth-of-type(1) i {background: url(../images/menu_icon1_5.png) no-repeat center center;}
.in_top .right .menu_list ul li:nth-of-type(2) i {background: url(../images/menu_icon2_5.png) no-repeat center center;}
.in_top .right .menu_list ul li:nth-of-type(3) i {background: url(../images/menu_icon3_5.png) no-repeat center center;}
.in_top .right .menu_list ul li:nth-of-type(4) i {background: url(../images/menu_icon4_5.png) no-repeat center center;}
.in_top .right .menu_list ul li:nth-of-type(5) i {background: url(../images/menu_icon5_5.png) no-repeat center center;}
.in_top .right .menu_list ul li:nth-of-type(6) i {background: url(../images/menu_icon6_5.png) no-repeat center center;}
.in_top .right .menu_list ul li span {width: 100%; line-height: 12px; display: block; text-align: center; font-size: 12px; color: #898989; padding-bottom: 8px;}

/*===广告图样式===*/
/*大号*/
.in_banner_big {padding: 33px 0;}
.in_banner_big a {display: inline-block;}
.in_banner_big img {width: 1200px;}
/*中号*/
.in_banner_sm {width: 770px; margin: 34px 0;}
.in_banner_sm img {width: 770px;}
/*小号矮*/
.in_banner_ss {width: 380px; margin: 12px 0;}
.in_banner_ss img {width: 380px;}
/*小号高*/
.in_banner_ssl {width: 380px; margin: 24px 0 0 0;}
.in_banner_ssl img {width: 380px;}

/*===左侧板块通用样式===*/
.plate_container {width: 770px;}
.plate_container .plate_top_title {width: 103px; height: 50px; border: 3px solid #001c5d; position: relative;}
.plate_container .plate_top_title_c {height: 46px; position: absolute; top: 2px; left: 11px; background: #fff; white-space:nowrap; min-width: 95px;}
.plate_container .plate_top_title_c .title1 {font-size: 12px; color: #898989; font-family: arial; padding-top: 4px;}
.plate_container .plate_top_title_c .title2 {font-size: 20px; color: #282828; letter-spacing: 4px;}
.plate_container .plate_top_menu {width: 624px; border-bottom: 3px solid #001c5d; padding-top: 11px;}
.plate_container .plate_top_menu ul li {float: left; line-height: 40px; }
.plate_container .plate_top_menu ul li a {font-size: 14px; color: #454545; border-right: 1px solid #cbcbcb; padding: 0 16px;}
.plate_container .plate_top_menu ul li:first-of-type a {padding-left: 0;}
.plate_container .plate_top_menu ul li:last-of-type a {border: none;}
.plate_container .plate_top_menu ul li a:hover {color: #dc1313; font-weight: bold;}
.plate_container .business_img {height: 40px; line-height: 40px; vertical-align: middle;}
.plate_container .business_img img {vertical-align: middle;}
.plate_container .plate_content ul li {margin-top: 20px;}
.plate_container .plate_content_img {width: 185px; height: 125px;}
.plate_container .plate_content_img img {width: 185px; height: 125px;}
.plate_container .plate_content_w {width: 560px;}
.plate_container .plate_content_title a {font-size: 18px; color: #282828; line-height: 22px;}
.plate_container .plate_content_title a:hover {color: #dc1313;}
.plate_container .plate_content_c {font-size: 14px; color: #707070; line-height: 22px; padding: 10px 0 8px 0;}
.plate_container .plate_content_date {background: url(../images/plate_date_5.png) no-repeat left center; padding-left: 22px; font-size: 12px; color: #ababab; line-height: 19px;}

/*===右侧面板通用样式===*/
.panel_1_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_1_container_c {padding: 11px 25px;}
.panel_1_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_1_title a {line-height: 40px; font-size: 18px; color: #b5b5b5; font-weight: bold;}
.panel_1_title div {margin-right: 30px;}
.panel_1_title div.active {border-bottom: 4px solid #001c5d;}
.panel_1_title div.active a {color: #343434;}
.panel_1_content {margin-top: 11px;}
.panel_1_content ul li {line-height: 38px;}
.panel_1_content ul li a {font-size: 14px; color: #707070; background: url(../images/panel_dot1_5.png) no-repeat left center; padding-left: 11px;}
.panel_1_content ul li a:hover {color: #dc1313; background: url(../images/panel_dot2_5.png) no-repeat left center;}
.panel_1_content ul {display: none;}
.panel_1_content ul.active {display: block;}

.panel_2_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_2_container_c {padding: 11px 25px;}
.panel_2_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_2_title .title {height: 44px; line-height: 44px; font-size: 20px; color: #343434; font-weight: bold;}
.panel_2_title .business_img {height: 44px; line-height: 44px; vertical-align: middle;}
.panel_2_title .business_img img {vertical-align: middle;}
.panel_2_content img {width: 100%; margin: 18px 0 13px;}
.panel_2_content ul li {line-height: 36px;}
.panel_2_content ul li a {font-size: 14px; color: #707070; background: url(../images/panel_dot1_5.png) no-repeat left center; padding-left: 11px;}
.panel_2_content ul li a:hover {color: #dc1313; background: url(../images/panel_dot2_5.png) no-repeat left center;}

.panel_3_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_3_container_c {padding: 11px 25px;}
.panel_3_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_3_title .title {height: 44px; line-height: 44px; font-size: 20px; color: #343434; font-weight: bold;}
.panel_3_content li {margin-top: 13px;}
.panel_3_content .img {width: 80px; height: 80px;}
.panel_3_content .img img {width: 80px; height: 80px;}
.panel_3_content .content {width: 225px;}
.panel_3_content .content .name {line-height: 18px; padding-top: 8px;}
.panel_3_content .content .name a {font-size: 14px; color: #343434;}
.panel_3_content .content .name a:hover {color: #dc1313;}
.panel_3_content .content .price {font-size: 20px; color: #cd2c2c; font-family: arial; line-height: 36px;}

.panel_4_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_4_container_c {padding: 11px 25px;}
.panel_4_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_4_title .title {height: 44px; line-height: 44px; font-size: 20px; color: #343434; font-weight: bold;}
.panel_4_title .business_img {height: 44px; line-height: 44px; vertical-align: middle;}
.panel_4_title .business_img img {vertical-align: middle;}
.panel_4_content li {margin-top: 13px;}
.panel_4_content .img {width: 112px; height: 76px;}
.panel_4_content .img img {width: 112px; height: 76px;}
.panel_4_content .content {width: 200px;}
.panel_4_content .content .name {line-height: 18px; padding-top: 8px;}
.panel_4_content .content .name a {font-size: 14px; color: #343434;}
.panel_4_content .content .name a:hover {color: #dc1313;}
.panel_4_content .content .date {background: url(../images/plate_date_5.png) no-repeat left center; padding-left: 22px; font-size: 12px; color: #ababab; line-height: 36px;}

.panel_5_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_5_container_c {padding: 11px 25px;}
.panel_5_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_5_title .title {height: 44px; line-height: 44px; font-size: 20px; color: #343434; font-weight: bold;}
.panel_5_title .business_img {height: 44px; line-height: 44px; vertical-align: middle;}
.panel_5_title .business_img img {vertical-align: middle;}
.panel_5_content ul.list_top li {line-height: 34px; float: left; width: 50%;}
.panel_5_content ul.list_bottom li {line-height: 34px;}
.panel_5_content ul li a {font-size: 14px; color: #707070; background: url(../images/panel_dot1_5.png) no-repeat left center; padding-left: 11px;}
.panel_5_content ul li a:hover {color: #dc1313; background: url(../images/panel_dot2_5.png) no-repeat left center;}

.panel_6_container {width: 374px; border: 3px solid #f6f5f5;}
.panel_6_container_c {padding: 11px 25px;}
.panel_6_title {background: url(../images/panel1_line_5.jpg) repeat-x left bottom;}
.panel_6_title .title {height: 44px; line-height: 44px; font-size: 20px; color: #343434; font-weight: bold;}
.panel_6_content li {margin-top: 13px; padding-bottom: 13px; border-bottom: 1px dashed #f7f6f6;}
.panel_6_content .img {width: 60px; height: 60px;}
.panel_6_content .img img {width: 60px; height: 60px;}
.panel_6_content .content {width: 245px;}
.panel_6_content .content .name {line-height: 18px; padding: 0 0 5px 0;}
.panel_6_content .content .name a {font-size: 16px; color: #343434;}
.panel_6_content .content .name a:hover {color: #dc1313;}
.panel_6_content .content .info {font-size: 12px; color: #999999; line-height: 20px;}

/*===底部板块样式===*/
.plate_EVphoto_container {margin-top: 34px;}
.plate_EVphoto_container .plate_top_title {width: 103px; height: 50px; border: 3px solid #001c5d; position: relative;}
.plate_EVphoto_container .plate_top_title_c {height: 46px; position: absolute; top: 2px; left: 11px; background: #fff; white-space:nowrap; min-width: 95px;}
.plate_EVphoto_container .plate_top_title_c .title1 {font-size: 12px; color: #898989; font-family: arial; padding-top: 4px;}
.plate_EVphoto_container .plate_top_title_c .title2 {font-size: 20px; color: #282828; letter-spacing: 4px;}
.plate_EVphoto_container .plate_top_menu {width: 1052px; border-bottom: 3px solid #001c5d; padding-top: 51px;}
.plate_EVphoto_container .plate_list ul li {width: 370px; height: 247px; float: left; position: relative; margin-top: 30px; margin-right: 45px; overflow: hidden;}
.plate_EVphoto_container .plate_list ul li:nth-of-type(3n) {margin-right: 0;}
.plate_EVphoto_container .plate_list ul li img {width: 370px; height: 247px; position: absolute; top: 0; left: 0;}
.plate_EVphoto_container .plate_list ul li p {width: 370px; height: 30px; line-height: 30px; background: rgba(0,0,0,0.8); color: #fff; text-align: center; position: absolute; bottom: -30px; left: 0;}



.pageContainer {padding: 38px 0 0 0; margin-top:90px;}
.pageContainer .left {width: 864px;}
.pageContainer .left .position {font-size: 16px; color: #454545; line-height: 36px; border-bottom: 2px solid #f6f5f5;}
.pageContainer .left .position span {font-size: 14px;}
.pageContainer .left .banner {padding: 24px 0 28px 0;}
.pageContainer .left .menu {border-bottom: 3px solid #001c5d;}
.pageContainer .left .menu li {line-height: 40px; float: left;}
.pageContainer .left .menu li:last-of-type a {border:none;}
.pageContainer .left .menu li a {display: inline-block; padding: 0 18px; border-right: 1px solid #cbcbcb; line-height: 16px; font-size: 16px; color: #888; font-weight: bold;}
.pageContainer .left .menu li a:hover {color: #dc1313;}
.pageContainer .left .menu li.current a{color: #dc1313;}
.pageContainer .left .list ul li {margin-top: 20px;}
.pageContainer .left .img {width: 185px; height: 125px;}
.pageContainer .left .img img {width: 185px; height: 125px;}
.pageContainer .left .content {width: 655px;}
.pageContainer .left .title a {font-size: 18px; color: #282828; line-height: 22px;}
.pageContainer .left .title a:hover {color: #dc1313;}
.pageContainer .left .description {font-size: 14px; color: #707070; line-height: 22px; padding: 10px 0 8px 0;}
.pageContainer .left .date {background: url(../images/plate_date_5.png) no-repeat left center; padding-left: 22px; font-size: 12px; color: #ababab; line-height: 19px;}

.page {float: right; padding: 40px 0 100px;}
.page a {display: inline-block;height: 28px;line-height: 28px;padding: 0 12px;margin: 0 3px;border: 1px solid #ccc;}
.page span {display: inline-block;height: 28px;line-height: 28px;padding: 0 12px;margin: 0 2px;border: 1px solid #c00000;background-color: #c00000;color: #fff;}

.page_banner_s {width: 292px;}
.page_banner_s img {width: 100%;}
.page_banner_s2 {width: 292px; margin-top: 38px;}
.page_banner_s2 img {width: 100%;}

.pagePanel_1_container {width: 292px; margin-top: 25px;}
.pagePanel_1_title {line-height: 40px; font-size: 20px; font-weight: bold; color: #343434; padding-bottom: 3px; background: url(../images/pagepanel_title_5.png) no-repeat left bottom;}
.pagePanel_1_list {padding-top: 11px;}
.pagePanel_1_list ul li {border-bottom: 1px dashed #f4f4f4;}
.pagePanel_1_list ul li:last-of-type {border: none;}
.pagePanel_1_list ul li a {line-height: 38px; font-size: 14px; color: #454545; padding-left: 13px; background: url(../images/pagepanel_list_icon1_5.png) no-repeat left center;}
.pagePanel_1_list ul li a:hover {background: url(../images/pagepanel_list_icon2_5.png) no-repeat left center;}

.pagePanel_2_container {width: 292px; margin-top: 25px;}
.pagePanel_2_title {line-height: 40px; font-size: 20px; font-weight: bold; color: #343434; padding-bottom: 3px; background: url(../images/pagepanel_title_5.png) no-repeat left bottom;}
.pagePanel_2_list {padding-top: 24px;}
.pagePanel_2_list ul li {width: 138px; margin-right: 15px; float: left;}
.pagePanel_2_list ul li:nth-of-type(2n) {margin-right: 0;}
.pagePanel_2_list ul li img {width: 100%;}
.pagePanel_2_list ul li .title {padding: 5px 10px 11px; text-align: center; font-size: 12px; color: #343434; line-height: 15px;}

.pagePanel_3_container {width: 292px; margin-top: 25px;}
.pagePanel_3_title {line-height: 40px; font-size: 20px; font-weight: bold; color: #343434; padding-bottom: 3px; background: url(../images/pagepanel_title_5.png) no-repeat left bottom;}
.pagePanel_3_list {padding-top: 14px;}
.pagePanel_3_list ul li:last-of-type {border: none;}
.pagePanel_3_list ul li a {line-height: 32px; font-size: 14px; color: #454545;}
.pagePanel_3_list ul li a span {width: 16px; height: 16px; display: inline-block; font-size: 12px; color: #fff; text-align: center; line-height: 16px; background: #555; border-radius: 5px; margin-right: 6px;}
.pagePanel_3_list ul li a:hover span {background: #c00000;}

.page_content {padding:0 30px;}
.pageDetail_top{padding-bottom:20px; border-bottom:2px solid #ccc;}
.pageDetail_title{margin-top: 25px; text-align:center; font-weight:normal;font-size:18px; color:#333;}
.pageDetail_info{margin-top: 5px; text-align:center; color:#808080;}
.pageDetail_content {padding:0 30px;}


.page_message .message p {padding: 5px 0; width:100%; float:left;}
.page_message .message span{width:100px; float:left; text-align:right;}
.page_message .message input {width:220px; height:22px; padding:1px 10px; float:left;}
.page_message .message input[name="verifyCode"] {width:75px;}
.page_message .message textarea {width:420px; height:140px; padding:10px 10px; float:left;}
.page_message .message img {height:28px; cursor:pointer; margin-left:10px;}
.page_message .sub_btns {padding:20px 100px;}
.page_message .sub_btns input {width: 80px; height:33px; font-size:13px; margin-right:10px; cursor:pointer;}

label.error {margin-left:6px; color:red; float:left;}

.page_activity .left {width:100%;}
.page_activity .left .classify  {margin-top:20px; margin-bottom:10px;}
.page_activity .left .classify  li {float:left; padding:0 20px;}
.page_activity .left .classify  li  a {font-size:14px; color:#666; line-height:30px;}
.page_activity .left .classify  li.on  a {color:#c00000;}
.page_activity  .list li {float:left; width:380px; outline: 1px solid #ccc; margin:0 10px 40px 10px;}
.page_activity  .list li .img {width:380px; height: 253px;}
.page_activity  .list li .img img {width:380px; height: 253px;}
.page_activity  .list li .info {padding: 26px 16px 24px;}
.page_activity  .list li .info .name {font-size: 20px; text-align: left; color: #333; width: 250px; height: 64px; overflow: hidden;}
.page_activity  .list li:hover .info .name a {color:#c00000;}
.page_activity  .list li .info .button {width: 85px; font-size: 16px; line-height: 32px; text-align: center; color: #fff;}
.page_activity  .list li .info .button.process {background: #15cd22;}
.page_activity  .list li .info .button.end {background: #ccc;}
.page_activity  .list li .info .bottom {font-size: 13px; margin-top: 28px;}
.page_activity  .list li .info .bottom  .add {padding-left:16px; background:url(../images/activity_icon1_5.png) no-repeat left center;}
.page_activity  .list li .info .bottom  .time {padding-left:20px; background:url(../images/activity_icon2_5.png) no-repeat left center;}


.friendList li {float:left; margin:10px 16px; border:1px solid #888;}
.friendList li a { width:150px; height:100px; text-align:center; display:table-cell; vertical-align:middle; background:#ddd;}





