<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/templates/wangyikai/style/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/templates/wangyikai/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/templates/wangyikai/js/script.js"></script>



<link href="/templates/wangyikai/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="content">
<div class="head">
<div class="logo"><img src="/templates/wangyikai/images/Logo.png"/></div>
<div class="nav">
<ul>
    {Dz:navlist field="name,url" limit="6" name="vo"}
    <li><a href="{$vo.url}">{$vo.catename}</a></li>
    {/Dz:navlist}
</ul>
</div>

<div class="n_navbg">
<div class="n_nav">

</div>
</div>

<div class="n_cp">
<div class="n_cp_1"><img src="/templates/wangyikai/images/cp_t.jpg" /></div>

</div>

</div>
<div class="main">
<div class="cp_cp">
<div class="cp_tup"><img src="/templates/wangyikai/images/cp_cp_1.jpg" /><img src="images/cp_cp_2.jpg" /></div>
<div class="cp_z">
<div class="z_js"><img src="/templates/wangyikai/images/cp_js.jpg" /></div>
<div class="z_js_z">
<span>活细胞洁面凝胶</span>
<p>Cellular Cleansing Gel</p>
</div>
<div class="z_js"><img src="images/cp_gx.jpg" /></div>
<div class="z_js_2">
<span>性质温和，无刺激，改善水油平衡。能够彻底清除堆积在毛孔里的彩妆及大气污染残留物污垢和老化角质细胞。补充肌肤有效成分，维护肌肤本来的保湿屏障，平衡肌肤的酸碱度。镇静、舒缓受损及敏感肌肤。有效保护角膜，适合所有皮肤，包括敏感性皮肤和婴幼儿皮肤。</span>
</div>
<div class="z_js"><img src="/templates/wangyikai/images/cp_chengf.jpg" /></div>

<div class="z_js_3">

<span>矢车菊、玫瑰精华、印度没药脂精华、氨基酸、脂肪酸、维生素复合物、胶原蛋白、尿囊素、维生素B、E、硫酸软骨素、甘油透明质酸、PEG-100/单硬酸甘油酯、C12-16烷基糖苷。</span>
</div>
<div class="z_js"><img src="/templates/wangyikai/images/cp_ff.jpg" /></div>
<div class="z_js_4">


<span>先用温水洗脸，取黄豆粒大小产品于手心,揉起泡沫后，顺皮肤纹理由内向外在脸部打圈3-5分钟后,然后用温水清洗干净。早晚使用，会使您的肌肤更柔嫩亮滑。</span>

</div>
</div>
</div>
<div class="n_gd">

</div>

</div>
  
</div>




</div>
<div class="foot">
<div class="foot_1">
<div class="a"><img src="/templates/wangyikai/images/Logo.png" /></div>
<div class="b">
<ul>

</ul>
</div>
<div class="c">
<a href="#"><img src="/templates/wangyikai/images/weix.jpg" /></a>
<a href="#"><img src="/templates/wangyikai/images/xinl.jpg" /></a>
</div>

</div>
<div class="foot_2">

</div>

</div>
</div>
</div>
</body>
</html>