<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/templates/wangyikai/style/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/templates/wangyikai/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/templates/wangyikai/js/script.js"></script>



<link href="/templates/wangyikai/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="content">
<div class="head">	
<div class="logo"></div>
<div class="nav">
<ul>
{Dz:navlist field="name,url" limit="6" name="vo"}
    <li><a href="{$vo.url}">{$vo.catename}</a></li>
    {/Dz:navlist}
</ul>
</div>

<div class="n_cp">
<div class="n_cp_1"></div>

</div>

</div>
<div class="main">
<div class="box">
<div class="box_left">
<ul>
    {Dz:navlist field="name,url" limit="1" name="vo"}
    <li><a href="{$vo.url}">{$vo.title}</a></li>
    {/Dz:navlist}
</ul>
</div>
<div class="box_right">
    <span>
    {Dz:nlist order="id desc" limit="1" name="ne"}
    <li>>{$ne.abstract}</li>
    {/Dz:nlist}
    </span>
</div>





<div style="clear:both"></div>
</div>

</div>
  
</div>




</div>
<div class="foot">
<div class="foot_1">
<div class="a"><img src="/templates/wangyikai/images/Logo.png" /></div>
<div class="b">
<ul>

</ul>
</div>
<div class="c">
<a href="#"><img src="/templates/wangyikai/images/weix.jpg" /></a>
<a href="#"><img src="/templates/wangyikai/images/xinl.jpg" /></a>
</div>

</div>
<div class="foot_2">

</div>

</div>
</div>
</div>
</body>
</html>