<!DOCTYPE html>
<!--由中企动力科技股份有限公司上海第一分公司技术部设计制作<br>如果您有任何意见或建议请电邮dm-puxi@300.cn-->
<html xmlns="http://www.w3.org/1999/xhtml">  
  <head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>公司简介,上海泊松半导体应用材料有限公司</title>
<meta name="keywords" content="公司简介" />
<meta name="description" content="公司简介,上海泊松半导体应用材料有限公司,上海泊松半导体应用材料公司&amp;amp黄山创岳洁净管有限公司 两个公司是从上海有色金属研究所改制而来的两个生产企业，具有成熟的研发团队：严谨治学，认真做事，客观务实。开发出多种新的制造方法，以冷轧和冷压（锻）为成型工艺，结合气氛保护固溶处理（BA）和Electric-Polish(电解抛光EP)技术，从而生产出各种特殊要求的无缝管和毛细管。我们实事求是的保证产品的材质、性能、尺寸精度、内表面质量。 创岳品牌不锈钢管代表着无缝洁净EP管、BA管、高温合金管、超"/>  
    <link href="/templates/lhd/css/lib.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
<link href="/templates/lhd/css/page_aboutus.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
  
    <script type="text/javascript" src="/templates/lhd/js/jquery.js"></script>
<script type="text/javascript" src="/templates/lhd/js/lib.min.js"></script>
<script src="/templates/lhd/publicScripts/components/??FrontColumns_navigation01.min.js,FrontComContent_list01.min.js,FrontComContent_detail01.min.js"></script>
 
  </head>  
  <body  id="aboutus"> 
    <div class="pageWidth" id="box_root"> 
      <!-- 头部导航开始 -->  
      {include file="templates\lhd\header.html"}
      <!-- 头部导航结束 -->  
      <div class="main" id="box_main"> 
        <div class="main_aboutus" id="box_main_aboutus"> 
          <div class="main_aboutus_left" id="box_main_aboutus_left"> 
            <div class="main_aboutus_left_aboutustitle" id="box_main_aboutus_left_title"> 
              <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467787894962" name="说明页">  
                <div id="FrontSpecifies_show01-1467787894962" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<img alt="" src="/templates/lhd/imageRepository/e4d35bd5-f811-471e-a485-3fdd0b8bc774.png" /></p></div>
</div> 
              </div>
            </div>  
            <div class="main_aboutus_left_list" id="box_main_aboutus_left_list"> 
              <div xmlns="" class="columnSpace" id="elem-FrontComContent_list01-1467798324899" name="通用内容列表">  
                <div id="FrontComContent_list01-1467798324899" class="FrontComContent_list01-d1_c1"><div class="menu-first">
			<script type="text/javascript">
							//<![CDATA[
							FrontComContent_list01['FrontComContent_list01-1467798324899_init'] = function (){
								FrontComContent_list01.d1extNoContainCategoryAlternate('FrontComContent_list01-1467798324899');
							}
							$(FrontComContent_list01['FrontComContent_list01-1467798324899_init']);
							// ]]>
			</script>
						<ul class="list2">
							<li class="menu-none"><a id="comContent2_2" href="/aboutus/i=2&amp;comContentId=2.html" title="公司简介" class="menu-text1" >公司简介</a></li>
							<li class="menu-none"><a id="comContent2_4" href="/aboutus/i=4&amp;comContentId=4.html" title="Production Technology" class="menu-text1" >Production Technology</a></li>
							<li class="menu-none"><a id="comContent2_5" href="/aboutus/i=5&amp;comContentId=5.html" title="发展历程" class="menu-text1" >发展历程</a></li>
							<li class="menu-none"><a id="comContent2_6" href="/aboutus/i=6&amp;comContentId=6.html" title="资质荣誉" class="menu-text1" >资质荣誉</a></li>
							</ul>
						</div>
	</div> 
              </div>
            </div>  
            <div class="main_aboutus_left_tel" id="box_main_aboutus_left_tel"> 
              <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467788008254" name="说明页">  
                <div id="FrontSpecifies_show01-1467788008254" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<a href="/contactus/&amp;i=1&amp;comContentId=1.html"><img alt="" src="/templates/lhd/imageRepository/1c12ad12-d140-4f41-bcd3-b7fa473cd6fe.png" /></a></p>
<p>
	&nbsp;</p>
<p>
	<a href="/products.html"><img alt="" src="/templates/lhd/imageRepository/ce803f5b-97c9-4ff7-90b2-a070a4b2b985.png" /></a></p></div>
</div> 
              </div>
            </div> 
          </div>  
          <div class="main_aboutus_right" id="box_main_aboutus_right"> 
            <div class="main_aboutus_right_title" id="box_main_aboutus_right_title"> 
              <div class="clearBoth"></div>  
              <div xmlns="" class="columnSpace" id="elem-FrontPublic_breadCrumb01-1467799497787" name="面包屑">  
                <div id="FrontPublic_breadCrumb01-1467799497787" class="FrontPublic_breadCrumb01-d1_c1"><div>
	您现在的位置：公司简介</div>
</div> 
              </div>
            </div>  
            <div class="main_aboutus_right_content" id="box_main_aboutus_right_content"> 
              <div xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-1467799942559" name="通用内容详细信息">  
                <div id="FrontComContent_detail01-1467799942559" class="FrontComContent_detail01-d1_c1"><div class="content">
  	<div class="describe htmledit">
  		{Dz:nlist where="id=2" name="vo"}
				{$vo.content}
			{/Dz:nlist}
		</div>
  </div>
  </div> 
              </div>
            </div> 
          </div>  
          <div class="clearBoth"></div> 
        </div> 
      </div>  
      <!-- 底部版权开始 -->  
      {include file="templates\lhd\foot.html"}
