<!DOCTYPE html>

<!--由中企动力科技股份有限公司上海第一分公司技术部设计制作<br>如果您有任何意见或建议请电邮dm-puxi@300.cn-->
<html xmlns="http://www.w3.org/1999/xhtml">  
  <head> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />  
    <title>联系方式,上海泊松半导体应用材料有限公司</title>
<meta name="keywords" content="联系方式" />
<meta name="description" content="联系方式,上海泊松半导体应用材料有限公司,上海泊松半导体应用材料有限公司 黄山创岳洁净管有限公司地址：上海市松江区昆港公路1088号 地址：黄山市徽州区文峰西路16号电话：021-37628936 电话：0559-5220288传真： 021-37628871 传真：0559-5220288邮箱：info@poisson.com.cn 邮箱：info@hschuangyue.com网址：www.poisson.com.cn 网址：www.hschuangyue.comhtml,body{marg"/>  
    <link href="/templates/lhd/css/lib.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
<link href="/templates/lhd/css/page_contactus.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/templates/lhd/js/jquery.js"></script>
<script type="text/javascript" src="/templates/lhd/js/lib.min.js"></script>
<script src="/templates/lhd/publicScripts/components/??FrontColumns_navigation01.min.js,FrontComContent_list01.min.js,FrontComContent_detail01.min.js"></script>
 
  </head>  
  <body  id="contactus"> 
    <div class="pageWidth" id="box_root"> 
      <!-- 头部导航开始 -->  
     	  {include file="templates\lhd\header.html"}

      <!-- 头部导航结束 -->       
       <div class="main" id="box_main">
            <div class="main_contact" id="box_main_contact">
               <div class="main_contact_left" id="box_main_contact_left">
                      <div class="main_contact_left_title" id="box_main_contact_left_title">
                           <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467861937998" name="说明页">  
                                <div id="FrontSpecifies_show01-1467861937998" class="FrontSpecifies_show01-d3_c1">
                                    <div class="describe htmledit">
                                        <p>
	                                        <img alt="" src="/templates/lhd/imageRepository/0515a38c-9d6a-49a3-8d06-c142c0432e52.png" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_contact_left_list" id="box_main_contact_left_list">               
                            <div xmlns="" class="columnSpace" id="elem-FrontComContent_list01-1467863210386" name="通用内容列表">  
                                <div id="FrontComContent_list01-1467863210386" class="FrontComContent_list01-d1_c1">
                                    <div class="menu-first">
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            FrontComContent_list01['FrontComContent_list01-1467863210386_init'] = function (){
                                                FrontComContent_list01.d1extNoContainCategoryAlternate('FrontComContent_list01-1467863210386');
                                            }
                                            $(FrontComContent_list01['FrontComContent_list01-1467863210386_init']);
                                            // ]]>
                                        </script>
                                        <ul class="list2">
                                            <li class="menu-none"><a id="comContent2_1" href="/contactus/i=1&amp;comContentId=1.html" title="联系方式" class="menu-text1" >联系方式</a></li>
                                            <li class="menu-none"><a id="comContent2_9" href="/contactus/i=9&amp;comContentId=9.html" title="在线留言" class="menu-text1" >在线留言</a></li>
                                        </ul>
						            </div>
	                            </div> 
                            </div>         
                    </div>              
                    <div class="main_contact_left_tel" id="box_main_contact_left_tel">               
                        <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467862074502" name="说明页">  
                            <div id="FrontSpecifies_show01-1467862074502" class="FrontSpecifies_show01-d3_c1">
                                <div class="describe htmledit">
       <p>
	<a href="/contactus/&amp;i=1&amp;comContentId=1.html"><img alt="" src="/templates/lhd/imageRepository/a611c928-53fc-47e6-829c-0f69edfe7cee.png" /></a></p>
<p>
	&nbsp;</p>
<p>
	<a href="/products.html"><img alt="" src="/templates/lhd/imageRepository/924d6689-70f9-48a1-928c-c8d5aef224cc.png" /></a></p></div>
</div>               </div>            </div>           </div>            <div class="main_contact_right" id="box_main_contact_right">             <div class="main_contact_right_title" id="box_main_contact_right_title">               <div class="clearBoth"></div>                <div xmlns="" class="columnSpace" id="elem-FrontPublic_breadCrumb01-1467863295468" name="面包屑">  
                <div id="FrontPublic_breadCrumb01-1467863295468" class="FrontPublic_breadCrumb01-d1_c1"><div>
	您现在的位置：联系方式</div>
</div>               </div>            </div>              <div class="main_contact_right_content" id="box_main_contact_right_content">               <div xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-1467970814723" name="通用内容详细信息">  
                <div id="FrontComContent_detail01-1467970814723" class="FrontComContent_detail01-d1_c1"><div class="title">
   	<h3>联系方式</h3>
	</div>
  <div class="content">
  	<div class="describe htmledit">
  		<div class="FrontComContent_detail01-1467970814723_htmlbreak" id="FrontComContent_detail01-1467970814723_cont_1"
				style="display: block;"><table border="0" cellpadding="1" cellspacing="1" style="width: 945px;">
	<tbody>
	</tbody>
</table>
<p style="line-height: 2em; margin-top: 0em; text-indent: 0em; margin-bottom: 0em; letter-spacing: 0em;">
	&nbsp;</p>
<meta content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" name="keywords" />
<meta content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" name="description" />
<fckedittitle value="百度地图API自定义地图"><!--引用百度地图API-->
<style type="text/css">
html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script><!--百度地图容器-->
<div id="dituContent" style="border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; width: 890px; height: 300px; border-top: #ccc 1px solid; border-right: #ccc 1px solid;">
	&nbsp;</div>
	<div>
	
	</div>
	
<p>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(118.28,34.98);//定义一个中心点坐标
        map.centerAndZoom(point,16);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    //标注点数组
    var markerArr = [{title:"山东交通技师学院",content:"地址：山东省临沂市罗庄区山东交通技师学院<br/>电话：021-37628936<br/>",point:"121.15324|31.025586",isOpen:1,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    initMap();//创建和初始化地图
</script></p>
</fckedittitle></div>
		</div>
  </div>
  </div>               </div>            </div>           </div>            <div class="clearBoth"></div>         </div>       </div>  
      <!-- 底部版权开始 -->   {include file="templates\lhd\foot.html"}