<!DOCTYPE html>
<!--由中企动力科技股份有限公司上海第一分公司技术部设计制作<br>如果您有任何意见或建议请电邮dm-puxi@300.cn-->
<html xmlns="http://www.w3.org/1999/xhtml">  
  <head> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />  
    <title>泊松-泊松半导体-黄山创岳金属-精密金属管-精密不锈钢管-不锈钢BA管-不锈钢洁净管-上海泊松半导体应用材料有限公司</title>
<meta name="keywords" content="泊松半导体,黄山创岳金属,精密金属管,精密不锈钢管,不锈钢BA管 ,不锈钢洁净管钢管,半导管,BA管,EP管" />
<meta name="description" content="上海泊松半导体应用材料有限公司专业生产精密金属管、精密不锈钢管、不锈钢BA管等不锈钢洁净管。品质优良、价格合理。是国内首创用于洁净、超纯管道系统的超纯不锈钢光亮退火管(BA管)、不锈钢电抛光管(EP管),及配套管件。广泛应用于微电子、光电子和生物制药等高科技行业。产品推出后,以其高精度、高内表面粗糙度(Ra≤ 0.2μm)受到了用户的认可和称赞,为国内外著名洁净、超纯管道系统代理商提供定牌生产。可根据客户的需求生产其他规格产品。"/>  
    <link href="/templates/lhd/css/lib.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
<link href="/templates/lhd/css/page_index.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/templates/lhd/js/jquery.js"></script>
<script type="text/javascript" src="/templates/lhd/js/lib.min.js"></script>
<script src="/templates/lhd/publicScripts/components/??FrontColumns_navigation01.min.js,FrontPublic_slideShow01.min.js,FrontProducts_list01.min.js,FrontNews_list01.min.js"></script>
<script src="/scripts/i18n/??FrontProducts_list01.js,FrontNews_list01.js"></script>
 
  </head>
  <body  id="index"> 
    <div class="pageWidth" id="box_root"> 
      <!-- 头部导航开始 -->  
      
	  {include file="templates\lhd\header.html"}
      <!-- 头部导航结束 -->  
      <div class="main" id="box_main"> 
        <div class="main_pro" id="box_main_pro"> 
          <div class="main_pro_title" id="box_main_pro_title"> 
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467350811144" name="说明页">  
              <div id="FrontSpecifies_show01-1467350811144" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<img alt="" src="/templates/lhd/imageRepository/fe8d8560-9009-4eb6-bda5-c4edfae0c44e.png" /></p>
<p>
	&nbsp;</p>
<p style="text-align: center;">
	<span style="font-size: 21pt; font-family: 华文楷体;">内外表面光亮&nbsp;&nbsp;&nbsp; 尺寸精密&nbsp; 小直径&nbsp; 不锈钢管&nbsp;</span></p></div>
</div> 
            </div>
          </div>  
          <div class="main_pro_content" id="box_main_pro_content"> 
            <div xmlns="" class="columnSpace" id="elem-FrontProducts_list01-1467877440840" name="商品列表">  
              <script type="text/javascript">
jQuery(document).ready(function() {
	var ul = jQuery("#FrontProducts_list01-1467877440840 ul.product-scroll");
	if(ul.length == 0){
		ul = jQuery("#FrontProducts_list01-1467877440840 > ul:first");
	}
	if(ul.length == 1){
		ul.wrap("<div></div>");
		var div = ul.parent("div");
		div.addClass("scrollable scrollliner")
		ul.addClass("scrollitems");
		ul.children("li").addClass("content1");
	}	
});
</script>
<script>$(function(){$("#FrontProducts_list01-1467877440840 .scrollable").scrollable({effect:'liner'}).circular().liner({scrollDirection:'left',speed:30});});</script><!-- 装饰器样式开始 -->
<div class="border_00">
     <div class="border_00-topr">
    <div class="border_00-topl">
    </div>
  </div>
  <div class="border_00-mid">
      <div class="borderContent"><div id="FrontProducts_list01-1467877440840" class="FrontProducts_list01-d1_c1"><div class="comptitle_00"><strong class="titlestyle_00">商品列表展示</strong></div><form id="FrontProducts_list01-1467877440840_Form" name="FrontProducts_list01-1467877440840_Form" action="/FrontProducts.do?method=submit" method="post" >
				<input type="hidden" name="action_page"	value="/index.html"/>
				<input type="hidden" name="pmcId" value="15"/>
				<input type="hidden" name="pmscId" value=""/>
				<input type="hidden" name="keyword" value=""/>
				<input type="hidden" name="propertyId" value=""/>
				<input type="hidden" name="searchType" value=""/>
				<input type="hidden" name="brandId" value=""/>
				<input type="hidden" name="beginValue" value=""/>
				<input type="hidden" name="endValue" value=""/>
				<input type="hidden" name="orderby" value="8"/>
				<input type="hidden" name="spType" value=""/>
				<input type="hidden" name="pageNo_FrontProducts_list01-1467877440840" value="1"/>
				<input type="hidden" name="pageSize_FrontProducts_list01-1467877440840" value="4"/>
				</form>
		<div class="type">
			<span class="sort">
				</span>
		</div>
		<ul	class="mainul productlist-02">
			{Dz:nlist name='vo'}
				<li class="content column-num4">
					<div class="pic-module">
						<div class="pic">
							<a href="{$vo.url}" title="" target="_self">
								<img src= "/public/Uploads/{$vo.smallimage}" id= "FrontProducts_list01-1467877440840_28" alt= "" title= "" onerror= "this.src='/images/common/noimage.jpg'" />
							</a>
						</div>
					</div>
					<div class="pro-module">
						<ul class="basic">
							<li class="code">
								<h1>
									<span>产品名称：</span>
									<strong>
										<a href="{$vo.url}" title="" target="_self" >{$vo.title}</a>
									</strong>
								</h1>
							</li>
						</ul>
						<p class="buttonP"></p>
					</div>
				</li>
				<li class="clearBoth"></li>
			{/Dz:nlist}
		</ul>

		<script type="text/javascript">
//<![CDATA[
	FrontProducts_list01['FrontProducts_list01-1467877440840_init'] = function() {
		jQuery(".specChangeImg").click(function(){
			var data = $(this).metadata();
			var srcStr=data.smallImgUrl;
			var defaultImg=data.defaultImg;
			$(this).parent().find(".specChangeImg").removeClass("click");
			$(this).addClass("click")
			if(srcStr!=""){
				jQuery("#FrontProducts_list01-1467877440840_"+data.id).attr("src",srcStr);
			}else{
				if(defaultImg!=""){
					jQuery("#FrontProducts_list01-1467877440840_"+data.id).attr("src",defaultImg);
				}else{
					jQuery("#FrontProducts_list01-1467877440840_"+data.id).attr("src","/images/common/noimage.jpg");
				}
			}
		});
	};
	jQuery(document).ready(FrontProducts_list01['FrontProducts_list01-1467877440840_init']);
//]]>
</script>
</div>
	  <div class="clearBoth"></div>
	  </div>
  </div>
</div>
<!-- 装饰器样式结束 -->
<script type="text/javascript">
	</script> 
            </div>
          </div> 
        </div>  
        <div class="main_about" id="box_main_about"> 
          <div class="main_about_content" id="box_main_about_content"> 
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467453576478" name="说明页">  
              <div id="FrontSpecifies_show01-1467453576478" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<span style="font-family: 微软雅黑, tahoma, arial, 宋体, sans-serif;"><span style="font-size: 16px;">&nbsp;</span></span>
	</p>
	{Dz:nlist name="vo" limit="1"}
<div style="width:50%;line-height:20px">
	
		{$vo.abstract}
	
</div>
<div>
	<span style="font-family: 微软雅黑, tahoma, arial, 宋体, sans-serif;"><span style="font-size: 16px;"><a href="{$vo.url}"><img alt="" src="/templates/lhd/imageRepository/64912903-46d6-4b99-b24b-0a23593ddf58.png" /></a></span></span>
	
</div>
{/Dz:nlist}
</div>		
</div> 
            </div>
          </div> 
        </div>  
        <div class="main_news" id="box_main_news"> 
          <div class="main_news_title" id="box_main_news_title"> 
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467595627512" name="说明页">  
              <div id="FrontSpecifies_show01-1467595627512" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<img alt="" src="/templates/lhd/imageRepository/e593bf76-d432-4e6e-b3de-1a2fcbcece61.png" /></p></div>
</div> 
            </div>
          </div>  
          <div class="main_news_content" id="box_main_news_content"> 
            <div class="main_news_content_left" id="box_main_news_content_left"> 
              <div xmlns="" class="columnSpace" id="elem-FrontNews_list01-1467596319138" name="资讯列表">  
                <script type="text/javascript">	
	// <![CDATA[
	FrontNews_list01['FrontNews_list01-1467596319138_init'] = function(){
		var showDegree=0;
		var showQuestionTag=0;
		var showMessageCount=0;
		var otherShowDegree=0;
		var otherShowMessageCount=0;
		var otherShowQuestionTag=0;
			if(showDegree == '1' || showQuestionTag == '1' || showMessageCount == '1' ){
					FrontNews_list01.getAjaxValueByNewsId("10","false",showDegree,showMessageCount,showQuestionTag,"FrontNews_list01-1467596319138_VisitedCount_1","FrontNews_list01-1467596319138_CommentCount_1","FrontNews_list01-1467596319138_showQuestionTag_1");
			}
			if(otherShowDegree == '1' || otherShowQuestionTag == '1' || otherShowMessageCount == '1'){		
					FrontNews_list01.getAjaxValueByNewsId("9","false",otherShowDegree,otherShowMessageCount,otherShowQuestionTag,"FrontNews_list01-1467596319138_VisitedCount_2","FrontNews_list01-1467596319138_CommentCount_2","FrontNews_list01-1467596319138_showQuestionTag_2");
			}
	}
	function setVisited(id,linkUrl,detailOpenStyle){	
		$.get("/FrontNews.do", "method=getVisitedCountByAjax&newsId="+id, function(data){
			var linkUrl1 = linkUrl;
			var OpenStyle = detailOpenStyle
			var url = '/FrontNews.do?method=setVisitedCountByAjax&newsId='+id+'&times='+data;
			$.post(url, function(data){
				window.open(linkUrl1,OpenStyle);
				});
		},'html');
	}
	$(FrontNews_list01['FrontNews_list01-1467596319138_init']);
	// ]]>
	Date.prototype.Format = function (fmt) { //author: meizz 
	    var o = {
	        "M+": this.getMonth() + 1,  
	        "d+": this.getDate(),
	        "h+": this.getHours(), 
	        "m+": this.getMinutes(),  
	        "s+": this.getSeconds(),  
	        "q+": Math.floor((this.getMonth() + 3) / 3),  
	        "S": this.getMilliseconds() 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
	window.onload =function (){
			var startDate = "";
			var endDate = "";
	 	 	 if(startDate != ""){
				if(endDate != ""){
					var newDate=  new Date().Format("yyyy/MM/dd");
					var newDateValue = Date.parse(newDate);
					var endDate1= endDate.replace(/-/g, "/");
					var endDateValue =  Date.parse(endDate1);
					if(endDateValue - newDateValue < 0){
						var infoMakerValue = document.getElementById("10_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "none";
						}
					}else{
						var infoMakerValue = document.getElementById("10_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "block";
						}
					}
				}else{
					var infoMakerValue = document.getElementById("10_infoMaker");
					if(infoMakerValue !=null){
						infoMakerValue.style.display = "block";
					}
				}
			}  
			var startDate = "";
			var endDate = "";
	 	 	 if(startDate != ""){
				if(endDate != ""){
					var newDate=  new Date().Format("yyyy/MM/dd");
					var newDateValue = Date.parse(newDate);
					var endDate1= endDate.replace(/-/g, "/");
					var endDateValue =  Date.parse(endDate1);
					if(endDateValue - newDateValue < 0){
						var infoMakerValue = document.getElementById("9_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "none";
						}
					}else{
						var infoMakerValue = document.getElementById("9_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "block";
						}
					}
				}else{
					var infoMakerValue = document.getElementById("9_infoMaker");
					if(infoMakerValue !=null){
						infoMakerValue.style.display = "block";
					}
				}
			}  
	}
</script>
<div id="FrontNews_list01-1467596319138" class="FrontNews_list01-d3_c2"><ul class="comstyle newslist-01">
	{Dz:nlist name="vo" limit="1"}
		<li class="content column-num1">
			<div class="pic">
				<a href="{$vo.url}" title="" target="_self">
                            <img src= "/templates/lhd/imageRepository/3e074e84-e982-4855-90b7-e1663287dc5b.jpg" alt= "" title= "" /></a>
			</div>
			<div class="newslist">
				<ul>
					<li class="summary">
						<h3></h3>
						<p><a  class="detail" href="{$vo.url}" title="" target="_self"> &gt;&gt;</a>
							{$vo.content}
						</p>
					</li>
					</ul>
			</div>
			<div class="newstitle">
				<ul>
					<li class="title">
						<h3>
						<a href="{$vo.url}" title="" target="_self">
							{$vo.title}
						</a>
						</h3>
					</li>
					</ul>
			</div>
		</li>
		<li class="clearBoth"></li>
		{/Dz:nlist}
			</ul>
	<ul class="comstyle newslist-02">
		<li class="content column-num1">
			<div class="newstitle">
				<ul>
					</ul>
			</div>
		</li>
		<li class="clearBoth"></li>
			</ul>
	</div> 
              </div>
            </div>  
            <div class="main_news_content_right" id="box_main_news_content_right"> 
              <div xmlns="" class="columnSpace" id="elem-FrontNews_list01-1467597413631" name="资讯列表">  
                <script type="text/javascript">	
	// <![CDATA[
	FrontNews_list01['FrontNews_list01-1467597413631_init'] = function(){
		var showDegree=0;
		var showQuestionTag=0;
		var showMessageCount=0;
		var otherShowDegree=0;
		var otherShowMessageCount=0;
		var otherShowQuestionTag=0;
			if(showDegree == '1' || showQuestionTag == '1' || showMessageCount == '1' ){
					FrontNews_list01.getAjaxValueByNewsId("4","false",showDegree,showMessageCount,showQuestionTag,"FrontNews_list01-1467597413631_VisitedCount_1","FrontNews_list01-1467597413631_CommentCount_1","FrontNews_list01-1467597413631_showQuestionTag_1");
					FrontNews_list01.getAjaxValueByNewsId("6","false",showDegree,showMessageCount,showQuestionTag,"FrontNews_list01-1467597413631_VisitedCount_2","FrontNews_list01-1467597413631_CommentCount_2","FrontNews_list01-1467597413631_showQuestionTag_2");
					FrontNews_list01.getAjaxValueByNewsId("5","false",showDegree,showMessageCount,showQuestionTag,"FrontNews_list01-1467597413631_VisitedCount_3","FrontNews_list01-1467597413631_CommentCount_3","FrontNews_list01-1467597413631_showQuestionTag_3");
			}		
	}
	function setVisited(id,linkUrl,detailOpenStyle){	
		$.get("/FrontNews.do", "method=getVisitedCountByAjax&newsId="+id, function(data){
			var linkUrl1 = linkUrl;
			var OpenStyle = detailOpenStyle
			var url = '/FrontNews.do?method=setVisitedCountByAjax&newsId='+id+'&times='+data;
			$.post(url, function(data){
				window.open(linkUrl1,OpenStyle);
				});
		},'html');
	}
	$(FrontNews_list01['FrontNews_list01-1467597413631_init']);
	// ]]>
	Date.prototype.Format = function (fmt) { //author: meizz 
	    var o = {
	        "M+": this.getMonth() + 1, 
	        "d+": this.getDate(), 
	        "h+": this.getHours(), 
	        "m+": this.getMinutes(), 
	        "s+": this.getSeconds(), 
	        "q+": Math.floor((this.getMonth() + 3) / 3),  
	        "S": this.getMilliseconds() 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
	window.onload =function (){
			var startDate = "";
			var endDate = "";
	 	 	 if(startDate != ""){
				if(endDate != ""){
					var newDate=  new Date().Format("yyyy/MM/dd");
					var newDateValue = Date.parse(newDate);
					var endDate1= endDate.replace(/-/g, "/");
					var endDateValue =  Date.parse(endDate1);
					if(endDateValue - newDateValue < 0){
						var infoMakerValue = document.getElementById("4_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "none";
						}
					}else{
						var infoMakerValue = document.getElementById("4_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "block";
						}
					}
				}else{
					var infoMakerValue = document.getElementById("4_infoMaker");
					if(infoMakerValue !=null){
						infoMakerValue.style.display = "block";
					}
				}
			}  
			var startDate = "";
			var endDate = "";
	 	 	 if(startDate != ""){
				if(endDate != ""){
					var newDate=  new Date().Format("yyyy/MM/dd");
					var newDateValue = Date.parse(newDate);
					var endDate1= endDate.replace(/-/g, "/");
					var endDateValue =  Date.parse(endDate1);
					if(endDateValue - newDateValue < 0){
						var infoMakerValue = document.getElementById("6_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "none";
						}
					}else{
						var infoMakerValue = document.getElementById("6_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "block";
						}
					}
				}else{
					var infoMakerValue = document.getElementById("6_infoMaker");
					if(infoMakerValue !=null){
						infoMakerValue.style.display = "block";
					}
				}
			}  
			var startDate = "";
			var endDate = "";
	 	 	 if(startDate != ""){
				if(endDate != ""){
					var newDate=  new Date().Format("yyyy/MM/dd");
					var newDateValue = Date.parse(newDate);
					var endDate1= endDate.replace(/-/g, "/");
					var endDateValue =  Date.parse(endDate1);
					if(endDateValue - newDateValue < 0){
						var infoMakerValue = document.getElementById("5_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "none";
						}
					}else{
						var infoMakerValue = document.getElementById("5_infoMaker");
						if(infoMakerValue !=null){
							infoMakerValue.style.display = "block";
						}
					}
				}else{
					var infoMakerValue = document.getElementById("5_infoMaker");
					if(infoMakerValue !=null){
						infoMakerValue.style.display = "block";
					}
				}
			}
	}
</script>
<div id="FrontNews_list01-1467597413631" class="FrontNews_list01-d2_c2"><div>
		<ul class="comstyle newslist-01">
			
		{Dz:nlist name='vo' limit="3"}
			<li class="content column-num1">
 	<div class="pic">
					<a href="/news_xiangxi/newsId=4.html" title="" target="_self">
                                <img src= "/templates/lhd/imageRepository/783f2912-1609-4a16-b351-c75c93853a98.png" alt= "" title= "" /></a>
				</div>
			<div class="main">
				<div class="newstitle">
					<ul>
						<li class="title">
							<h3>
							<a href="{$vo.url}" title="" target="_self">
												{$vo.title}</a>
										</h3>
						</li>
						</ul>
				</div>
				<div class="newslist">
					<ul>
						<li class="summary">
							<h3></h3>
							<p>{$vo.abstract}</p>
						</li>
						</ul>
				</div>
				</div>
		</li>
		{/Dz:nlist}
		<li class="clearBoth"></li>
			<li class="showLine"></li>
				</ul>
	</div>
	</div> 
              </div>
            </div>  
            <div class="clearBoth"></div> 
          </div> 
        </div> 
      </div>  
      <!-- 底部版权开始 -->  
{include file="templates\lhd\foot.html"}
