<!DOCTYPE html>
<!--由中企动力科技股份有限公司上海第一分公司技术部设计制作<br>如果您有任何意见或建议请电邮dm-puxi@300.cn-->
<html xmlns="http://www.w3.org/1999/xhtml">  
  <head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>钢管工艺,上海泊松半导体应用材料有限公司</title>
<meta name="keywords" content="钢管工艺" />
<meta name="description" content="钢管工艺,上海泊松半导体应用材料有限公司,"/>  
    <link href="/templates/lhd/css/lib.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
<link href="/templates/lhd/css/page_technical.min.css?t=1476171860690.css" rel="stylesheet" type="text/css" />
  
    <script type="text/javascript" src="/templates/lhd/js/jquery.js"></script>
<script type="text/javascript" src="/templates/lhd/js/lib.min.js"></script>
<script src="/templates/lhd/publicScripts/components/??FrontColumns_navigation01.min.js,FrontComContent_list01.min.js,FrontComContent_detail01.min.js"></script>
 
  </head>  
  <body id="technical"> 
    <div class="pageWidth" id="box_root"> 
      <!-- 头部导航开始 -->  
      	  {include file="templates\lhd\header.html"}

      <!-- 头部导航结束 -->        
			<div class="main" id="box_main">         <div class="main_techn" id="box_main_techn">           <div class="main_techn_left" id="box_main_techn_left">             <div class="main_techn_left_title" id="box_main_techn_left_title">               <DIV xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467861530457" name="说明页">  
                <div id="FrontSpecifies_show01-1467861530457" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<img alt="" src="/templates/lhd/imageRepository/fb58b2a6-e454-4304-9b61-536edd566fcf.png" /></p></div>
</div>               </DIV>             </div>              <div class="main_techn_left_list" id="box_main_techn_left_list">               <DIV xmlns="" class="columnSpace" id="elem-FrontComContent_list01-1467862579957" name="通用内容列表">  
                <div id="FrontComContent_list01-1467862579957" class="FrontComContent_list01-d1_c1"><div class="menu-first">
			<script type="text/javascript">
							//<![CDATA[
							FrontComContent_list01['FrontComContent_list01-1467862579957_init'] = function (){
								FrontComContent_list01.d1extNoContainCategoryAlternate('FrontComContent_list01-1467862579957');
							}
							$(FrontComContent_list01['FrontComContent_list01-1467862579957_init']);
							// ]]>
						</script>
						<ul class="list2">
							<li class="menu-none"><a id="comContent2_11" href="/technical/i=11&amp;comContentId=11.html" title="钢管工艺" class="menu-text1" >钢管工艺</a></li>
							<li class="menu-none"><a id="comContent2_8" href="/technical/i=8&amp;comContentId=8.html" title="产品检验" class="menu-text1" >产品检验</a></li>
							<li class="menu-none"><a id="comContent2_7" href="/technical/i=7&amp;comContentId=7.html" title="专有技术" class="menu-text1" >专有技术</a></li>
							</ul>
						</div>
	</div>               </DIV>             </div>              <div class="main_techn_left_tel" id="box_main_techn_left_tel">               <DIV xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467861694822" name="说明页">  
                <div id="FrontSpecifies_show01-1467861694822" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	<a href="/contactus/&amp;i=1&amp;comContentId=1.html"><img alt="" src="/templates/lhd/imageRepository/b8899e1d-674f-41cb-84b1-49bdefef2f78.png" /></a></p>
<p>
	&nbsp;</p>
<p>
	<img alt="" src="/templates/lhd/imageRepository/7424b012-3430-40e7-9fa8-574dd6a2469e.png" /></p></div>
</div>               </DIV>             </div>           </div>            <div class="main_techn_right" id="box_main_techn_right">             <div class="main_techn_right_title" id="box_main_techn_right_title">               <div class="clearBoth"></div>                <DIV xmlns="" class="columnSpace" id="elem-FrontPublic_breadCrumb01-1467862826005" name="面包屑">  
                <div id="FrontPublic_breadCrumb01-1467862826005" class="FrontPublic_breadCrumb01-d1_c1"><div>
	您现在的位置：钢管工艺</div>
</div>               </DIV>             </div>              <div class="main_techn_right_content" id="box_main_techn_right_content">               <DIV xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-1467868055096" name="通用内容详细信息">  
                <div id="FrontComContent_detail01-1467868055096" class="FrontComContent_detail01-d1_c1"><div class="title">
   	<h3>钢管工艺</h3>
	</div>
  <div class="content">
  	<div class="describe htmledit">
  		<div class="FrontComContent_detail01-1467868055096_htmlbreak" id="FrontComContent_detail01-1467868055096_cont_1"
				style="display: block;"><p>
	&nbsp;</p>
	{Dz:nlist name="vo"}
	<img src="./public/Upload/{$vo.smallimage}">
	{/Dz:nlist}
</div>
		</div>
  </div>
  </div>               </DIV>             </div>           </div>            <div class="clearBoth"></div>         </div>       </div>  
      <!-- 底部版权开始 -->        {include file="templates\lhd\foot.html"}