<link rel="stylesheet" href="/templates/new_temp/css/default.min.css?t=227" />
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/templates/new_temp/lib/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/templates/new_temp/lib/amazeui/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/templates/new_temp/lib/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="/templates/new_temp/lib/iscroll/iscroll-probe.js"></script>
<script type="text/javascript" src="/templates/new_temp/lib/amazeui/amazeui.min.js"></script>
<script type="text/javascript" src="/templates/new_temp/lib/raty/jquery.raty.js"></script>
<script type="text/javascript" src="/templates/new_temp/js/main.min.js?t=1"></script>