<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>制造工业</title>
    ﻿<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="/templates/new_temp/images/favicon.png">
<link rel='icon' href='favicon.ico' type='image/x-ico' />
<meta name="description" content="" />
<meta name="keywords" content="" />
    {include file='./templates/new_temp/head.html'}
</head>
<body>
{include file='./templates/new_temp/header.html'}
    <div class="com-container">
        <div class="cms-g">
            <div class="am-hide-sm-only am-u-md-3 am-u-lg-3">
                <div class="com-nav-left">
                    <h1><em>新闻中心</em><i>NEWS</i></h1>
                    <ul>
                        {Dz:navlist limit="5" name='vo' top='3'}
                        <li><a href="{$vo.url}">{$vo.title}</a></li>
                        {/Dz:navlist}
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
                <div class="com-nav-title">
                    <a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
                    <span>公司新闻</span>
                    <ol class="com-position am-show-md-up">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">新闻动态</a></li>
                        <li><a href="#">公司新闻</a></li>
                    </ol>
                </div>
                
                <div class="new-list">
                    <ul>
                        {Dz:newslist limit="2" name='vo' page='true'}
                        <li><a href="{$vo.url}"><span>{$vo.title}</span><em>{$vo.inputtime|date='Y-m-d H:i:s',###}</em></a></li>
                        {/Dz:newslist}
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                        <!--<li><a href="./new_info.html"><span>创变2012—走进新成立的灯具国内业务本部</span><em>2017-4-11</em></a></li>-->
                    </ul>
                </div>
                <div class="page-list">
                    {$page}
                    <!--<a href="#"><<</a>-->
                    <!--<a href="#"><</a>-->
                    <!--<a href="#" class="num">1</a>-->
                    <!--<a href="#" class="num">2</a>-->
                    <!--<a href="#" class="num">3</a>-->
                    <!--<a href="#" class="on">4</a>-->
                    <!--<a href="#" class="num">5</a>-->
                    <!--<a href="#" class="num">6</a>-->
                    <!--<a href="#">></a>-->
                    <!--<a href="#">>></a>-->
                </div>
            </div>
        </div>
    </div>
    <div id="doc-oc-demo1" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content com-nav-left com-nav-left1">
                <ul>
                    <li class="on"><a href="#">公司新闻</a></li>
                    <li><a href="#">产品资讯</a></li>
                    <li><a href="#">营销动态</a></li>
                </ul>
            </div>
        </div>
    </div>
{include file='./templates/new_temp/footer.html'}
</body>
</html>