<!--------------------------------------------脚部开始-------------------------------------------->
<div class="foot block">
    <div class="menu center">
        {Dz:flink field="url,webname" thumb="true" limit="6"}
        <a href="{$v.url}">{$v.webname}</a>
        {/Dz:flink}
    </div>
    <p>版权所有：山东临沂大智有限公司</p>
    <p><a href="http://www.linyiit.cn" target="_blank">DZCMS</a></p>
</div>
<!--------------------------------------------脚部结束-------------------------------------------->
<script src="/templates/yujiaolong/js/all.js" type="text/javascript"></script>