<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="/templates/dome/css/bootstrap.css" rel="stylesheet">
<link href="/templates/dome/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/templates/dome/Script/jQuery1.7.js"></script>
<script type="text/javascript" src="/templates/dome/Script/plugin/bootstrap.min.js"></script>
<!---------新闻--------->
<script type="text/javascript" src="/templates/dome/Script/plugin/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/templates/dome/Script/plugin/index.js"></script>
<!--------新闻end------------------>

</head>