{include file="./templates/dome/header.html"}

{include file="./templates/dome/nav.html"}
    
    <div class="zp_banner">
    	<div class="deng slideInDown wow" data-wow-duration="1s"><img src="/templates/dome/img/deng.png"/></div>
        <div class="shou slideInUp wow" data-wow-duration="1"><img src="/templates/dome/img/shou.png"></div>
        <div class="zp_banner_p bounceInRight wow" data-wow-duration="1.2s"><p>携手一起去创造工程建设领域的信息化发展的美好明天</p></div>
    </div>
    
    
<!----------------zp_banner  end--------------------------------->    

	<div class="zp_content_big mb40">
    	<div class="zp_job pt25">
        	<div class="zp_job_left bounceInLeft wow" data-wow-duration="1.5s">
            	<ul>
                	<li><a href="zhaopin_subone.html"><img src="/templates/dome/img/job0.png"/>职位列表</a></li>
                    <li><a href="zhaopin_subtwo.html" style="color:#00a1e9"><img src="/templates/dome/img/zplc2.png"/>招聘流程</a></li>
                    <li><a href="zhaopin_subthree.html"><img src="/templates/dome/img/rili.png"/>行程安排</a></li>
                    <li><a href="#"><img src="/templates/dome/img/question.png"/>你问我答</a></li><div class="clear"></div>
                </ul>
            </div>
            <div class="zp_job_right">
            	<div class="zplc_topimg fadeIn wow" data-wow-duration="3s"><img src="/templates/dome/img/zp_right.png"></div><div class="clear"></div>
                <div class="zplc_span"><span>1.网上申请</span></div>
                <div class="zplc_p"><p>请点击申请职位进行网上申请。您可以申请至多两个职位，我们会优先考虑您的第一选择。</p></div>
                
                <div class="zplc_span"><span>2.电话面试</span></div>
                <div class="zplc_p"><p>我们会根据申请人的技术背景和经验采取笔试或电话面试两种形式进行考核。我们将分批发放笔试
通知（邮件和短信）给简历初审通过的候选人.</p>
</div>
                
                <div class="zplc_span"><span>3.面试</span></div>
                <div class="zplc_p"><p>笔试或电面通过的候选人会尽快得到电话通知面试安排（三到四轮），参加面试时请携带简历和身份证。</p></div>
                
                <div class="zplc_span"><span>4.Offer发放</span></div>
                <div class="zplc_p"><p>面试通过的候选人会在三个工作日内得到电话通告领取offer通知。</p></div>
               
            </div>
            <div class="clear"></div>
        </div>
    </div>
<!-----------------zp_content_big end--------------------------------->  

 
    
{include file="./templates/dome/footer.html"}
    
    
</body>
</html>
