{include file="./templates/dome/header.html"}

{include file="./templates/dome/nav.html"}
    
    <div class="zp_banner">
    	<div class="deng slideInDown wow" data-wow-duration="1s"><img src="/templates/dome/img/deng.png"/></div>
        <div class="shou slideInUp wow" data-wow-duration="1"><img src="/templates/dome/img/shou.png"></div>
        <div class="zp_banner_p bounceInRight wow" data-wow-duration="1.2s"><p>携手一起去创造工程建设领域的信息化发展的美好明天</p></div>
    </div>
    
    
<!----------------zp_banner  end--------------------------------->    

	<div class="zp_content_big mb40">
    	<div class="zp_job pt25">
        	<div class="zp_job_left bounceInLeft wow" data-wow-duration="1.5s">
            	<ul>
                	<li><a href="zhaopin_subone.html"><img src="/templates/dome/img/job0.png"/>职位列表</a></li>
                    <li><a href="zhaopin_subtwo.html"><img src="/templates/dome/img/zplc.png"/>招聘流程</a></li>
                    <li><a href="zhaopin_subthree.html" style="color:#00a1e9"><img src="/templates/dome/img/rili2.png"/>行程安排</a></li>
                    <li><a href="#"><img src="/templates/dome/img/question.png"/>你问我答</a></li><div class="clear"></div>
                </ul>
            </div>
            <div class="zp_job_right" style="float:left;">
            	<div class="zcap_topimg fadeIn wow" data-wow-duration="3s"><img src="/templates/dome/img/xcap.png"></div>
              	<div class="xcap_p"><p>行程安排中…</p></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<!-----------------zp_content_big end--------------------------------->  

 
{include file="./templates/dome/footer.html"}
    
    
    
</body>
</html>
