<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dzcms</title>
<meta name="keywords" content="Dzcms">
<meta name="description" content="Dzcms">
<link href="/templates/zhugeruibing/css/main.css" rel="stylesheet" />
<link href="/templates/zhugeruibing/css/style.css" rel="stylesheet" />

<script src="/templates/zhugeruibing/js/jquery-1.8.3.min.js"  type="text/javascript"></script>
<script src="/templates/zhugeruibing/js/jquery.SuperSlide.2.1.1.js" ></script>
<!--ie9以下调用-->
<!--[if lt IE 9]>
<script src="js/html5.js" ></script>
<script src="js/PIE.js"  type="text/javascript"></script>
<![endif]-->

</head>
<body>
<!--头部-->
{include file="./templates/zhugeruibing/header.html"}

<div class="main_banner" style="background-image: url(/templates/zhugeruibing/img/1850_src.jpg);">
	
</div>
<!--主体-->
<div class="beijing1">
		<ul class="loaddown">
 {Dz:newslist limit='3'}
 	<li>
    			<a id="download" href="{$v.url}">{$v.title}</a>
    		</li>
		{/Dz:newslist}

    	
		</ul>
  <div style=" height: 100%; width: 100%; margin-left: 400px; padding: 60px;"> 
    	{$page}
    </div>
</div>

{include file="./templates/zhugeruibing/footer.html"}
<script type="text/javascript" src="/templates/zhugeruibing/js/xmsz_common.js" ></script>
</body>
</html>


<!--[if IE 6]><script type="text/javascript" src="js/pngfix.js" ></script><![endif]-->
