{include file="./templates/lf/header.html"}
<!--幻灯片-->
<div class="banner banner_s"><img src="/templates/lf/upload/banner_b.jpg" alt=""/></div>
<!--幻灯片-->
<!--主体盒子-->
<div class="scd_bg">
	<div class="scd clearfix">
    	<div class="s_head clearfix">
            <a href="{:url('Index/company')}" class="on">选择理由</a>
            <div class="pst">
            	<a href="">首页</a> - <a href="">公司介绍</a>
            </div>
        </div>
        <div class="scd_m clearfix">
        	<div class="company">
            	<div class="name">选择我们理由</div>
                <p class="tip">为什么选择我们的优势</p>
                <div class="space_hx">&nbsp;</div>
                {DZ:nlist cateid="6" name="vo"}
                <dl class="clearfix">
                	<dt class="f_l smoove" data-rotate-y="0deg" data-move-x="-150%" ><a href=""><img src="/public/Uploads/{$vo.smallimage}" alt=""/></a></dt>
                    <dd class="f_r smoove" data-rotate-y="0deg" data-move-x="150%" >
                    	<h6><i>.</i>{$vo.title}</h6>
                        <div class="des">{$vo.abstract} </div>
                        <p class="tip"> {$vo.keywords}</p>
                        <div class="more"><a href="{$vo.url}"><span>查看详情</span></a></div>
                    </dd>
                </dl>
                {/DZ:nlist}
            </div>
        </div>
    </div>
</div>
{include file="./templates/lf/footer.html"}

<script>
var system ={
	win : false,
	mac : false,
	xll : false
};
var p = navigator.platform;
system.win = p.indexOf("Win") == 0;
system.mac = p.indexOf("Mac") == 0;
system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
if(system.win||system.mac||system.xll){
	$('.smoove').smoove({offset:'20%'});
}else{
}
</script>
