{include file="./templates/lf/header.html"}
<div class="banner banner_s"><img src="/templates/lf/upload/banner_b.jpg" alt=""/></div>
<div class="scd_bg">
	<div class="scd clearfix">
  	<div class="s_head clearfix">
		<a class="pcate " href="{:url('Index/news')}" title="新闻动态">新闻动态</a>
<!-- <a class="pcate " href="http://www.xuyunhongsm.com/index.php?id=news&cate=industry" title="行业新闻">行业新闻</a>
<a class="pcate " href="http://www.xuyunhongsm.com/index.php?id=news&cate=xwdt" title="新闻动态">新闻动态</a> -->
    <div class="pst">
    	<a href="http://www.xuyunhongsm.com/" title="北京旭云鸿商贸有限公司">首页</a> - <a href="http://www.xuyunhongsm.com/index.php?id=news" title="资讯中心">资讯中心</a> - <a href="" title=""></a>    </div>
    </div>

  </div>

</div>
<div style="margin-top:30px;font-size:30px;font-weight:bold">{$info.title}</div>
<br>
<div style="width:80%;margin-left:10%;font-size:22px">{$info.content}</div>

{include file="./templates/lf/footer.html"}