@charset "utf-8";
/* CSS Document */

/*banner*/
.banner{ width:100%; height:267px; overflow:hidden; text-align:center;}

/*当前位置*/
.Position{ width:1000px; height:20px; margin:20px auto;}
.Position b{ float:left;}
.Position span{ float:left; font:13px "微软雅黑"; color:#000000;}
.Position p{ float:left; margin-left:15px; font:13px "微软雅黑"; color:#000000;}

/*容器*/
.Container{ width:1000px; height:630px; margin:auto;}
.Container_left{ width:262px; height:552px; float:left;}
/*公司简介左*/
.summary_left{ width:100%; height:240px;}
.summary_left ul{ width:260px; height:204px; border:1px solid #dadada;}
.summary_left ul p{ width:100%; height:50px; background:#000000; color:#FFF;font:18px "微软雅黑"; line-height:49px; text-align:center;margin-bottom:15px;}
.summary_left ul li{ width:100%; font:14px "微软雅黑"; height:35px; padding-top:15px;}
.summary_left ul li b{ margin-left:80px; float:left; background:url(../images/icon5.gif.gif) no-repeat; width:25px; height:13px; display: block; margin-top:5px;_margin-left:40px;}
.summary_left ul li b a{ float:left;outline:none;}
.summary_left ul li:hover a{ color:#FFF;}
.summary_left ul li:hover{ background: #F00;}
.summary_left ul li:hover b{ background: url(../images/icon6.gif.gif) no-repeat;}
/*联络我们左*/
.Contact_left{ width:247px; height:308px; background:url(../images/bg_Contact%20.gif) no-repeat; padding-left:15px;} 
.news_title{ width:200px; height:33px; }
.news_title a{ color:#7b7b7b;}
.news_title span{font:15px "微软雅黑"; color:#101010; }
.news_title ul{font:12px Arial; color:#707070; }
.Contact_text li{ height:33px; line-height:32px; color:#3a3a3a;}
.Contact_text ul{ margin-left:31px; margin-top:9px; *margin-left:16px; position:relative;}
.Contact_text ul a{ position:absolute; left:12px; top:3px; color:#FFF; font:13px "微软雅黑";}

/*公司简介右*/
.Container_right{ width:685px; height:560px; border:1px solid #dadada; float:right; padding-left:25px;}
.summary_title{ width:650px; height:35px; margin-top:21px;border-bottom:2px solid #dbdbdb;}
.summary_title b{ float:left;}
.summary_title p{ float:left; font:15px "微软雅黑"; color:#161616; margin-right:8px;}
.summary_title span{float:left; font:12px Arial; color:#707070; margin-top:4px;}
.summary_text{ width:670px; height:400px;}
.summary_text b{ display:block; width:370px; height:132px; margin:auto; padding-top:30px;}
.summary_text ul p{ text-indent:2em; margin-bottom:25px; line-height:28px; color:#333333;}
.summary_text ul p span{ color:#F00;}