<div id="box_footer"> 
        <div class="footer_dibunav" id="box_footer_dibunav"> 
          <div class="footer_dibunav_left" id="box_footer_dibunav_left"> 
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467603025877" name="说明页">  
              <div id="FrontSpecifies_show01-1467603025877" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
  <span style="font-size:18.7px;"><span style="font-family: 华文楷体;">我公司主要生产：</span></span></p>
<p>
  <span style="font-size:18.7px;"><span style="font-family: 华文楷体;">&nbsp;</span>&nbsp; &nbsp;</span></p>
<table border="0" cellpadding="0" cellspacing="0" style="line-height: 32px; font-family: 微软雅黑;" width="680">
  <tbody>
    <tr>
      <td style="color: rgb(255, 255, 255); font-size: 16px;">
        <a href="/aboutus.html"><span style="color: rgb(255, 255, 255);">关于我们</span></a></td>
      <td>
        <span style="color: rgb(255, 255, 255);">&nbsp;</span></td>
      <td style="color: rgb(255, 255, 255); font-size: 16px;">
        <a href="/products.html"><span style="color: rgb(255, 255, 255);">产品展示</span></a></td>
      <td>
        <span style="color: rgb(255, 255, 255);">&nbsp;</span></td>
      <td style="color: rgb(255, 255, 255); font-size: 16px;">
        <a href="/news.html"><span style="color: rgb(255, 255, 255);">新闻资讯</span></a></td>
      <td>
        <span style="color: rgb(255, 255, 255);">&nbsp;</span></td>
      <td style="color: rgb(255, 255, 255); font-size: 16px;">
        <a href="/technical.html"><span style="color: rgb(255, 255, 255);">技术支持</span></a></td>
      <td>
        <span style="color: rgb(255, 255, 255);">&nbsp;</span></td>
      <td style="color: rgb(255, 255, 255); font-size: 16px;">
        <a href="/contactus.html"><span style="color: rgb(255, 255, 255);">联系我们</span></a></td>
    </tr>
    
  </tbody>
</table></div>
</div> 
            </div>
          </div>  
          <div class="footer_dibunav_right" id="box_footer_dibunav_right"> 
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467603108162" name="说明页">  
              <div id="FrontSpecifies_show01-1467603108162" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <table border="0" cellpadding="0" cellspacing="0" style="line-height: 38px; font-family: &quot;微软雅黑&quot;;;" width="500">
  <tbody>
    <tr>
      <td style="width: 281px; color: rgb(255, 255, 255); font-size: 14px;;">
        <p>
          <span style="color:#f0ffff;">地址：某某市某某区XX公路1088号</span></p>
        <p>
          <span style="color:#f0ffff;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;某某市某某区XX路16号</span></p>
      </td>
      <td style="width: 3px;;">
        &nbsp;</td>
      <td align="right" rowspan="5" valign="center">
        <span style="color:#f0ffff;">&nbsp;<img alt="" src="/public/home/images/01b820cf-bbe2-4d1e-89c1-0aeeb7f6b135.jpg" style="width: 180px; height: 180px;" /></span></td>
    </tr>
    <tr>
      <td style="width: 281px; color: rgb(255, 255, 255); font-size: 14px;;">
        <span style="color:#f0ffff;">电话：000-0000000、0000-0000000</span></td>
      <td style="width: 3px;;">
        &nbsp;</td>
    </tr>
    <tr>
      <td style="width: 281px; color: rgb(255, 255, 255); font-size: 14px;;">
        <span style="color:#f0ffff;">网址：</span><a href="http://www.poisson.com.cn"><span style="color:#f0ffff;">www.xxx.com.cn</span></a></td>
      <td style="width: 3px;;">
        &nbsp;</td>
    </tr>
  </tbody>
</table></div>
</div> 
            </div>
          </div>  
          <div class="clearBoth"></div> 
        </div>  
        <div class="footer_copyright" id="box_footer_copyright"> 
          <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1467609503988" name="说明页">  
            <div id="FrontSpecifies_show01-1467609503988" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <table border="0" cellpadding="0" cellspacing="0" style="color: #fff;" width="1200">
  <tbody>
    <tr>
      <td align="left">
        <span style="font-size: 16px;"><span style="line-height: 24px; font-family: 微软雅黑;">版权所有 &copy;</span></span></td>
      <td align="right">
        &nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
</div> 
          </div>
        </div> 
      </div>  
      <!-- 底部版权结束 --> 
    </div> 