<!DOCTYPEhtml>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta name="renderer" content="webkit">
<title>大智科技</title>
<meta name="keywords" content="晋泰集团、铁矿石、煤炭、建材、钢材、钢结构及钢制品深加工、化工产品、农副产品等" />
<meta name="description" content="晋泰集团创立于2003年3月，旗下拥有：山东晋泰钢铁有限公司、润邦国际（香港）有限公司、山东润邦科技投资有限公司、北京三和富通投资有限公司、山东泽辰能源科技有限公司、山东三明资源有限公司等企业。" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link href="/public/home/css/css.css" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="/public/home/css/base.css">
<link href="/public/home/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="/public/home/js/jquery-1.8.3.min.js"></script>
<!--导航css+js-->
<link rel="stylesheet" href="/public/home/css/menu.css">
<link rel="stylesheet" href="/public/home/css/css2.css">
<script src="/public/home/js/script.js" type="text/javascript"></script>
<script type="text/javascript" src="/public/home/js/plugins.js"></script>
<script type="text/javascript" src="/public/home/js/main.js"></script>
</head>

<body>
<!--头部 start-->
<div class="container">
  <div class="logo"><a href="/"><img src="/public/home/images/1.jpg"/></a></div>
  <div class="lang"></div>
</div>