<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>关于我们-about.html</title> 
  <link rel="stylesheet" type="text/css" href="/templates/wangzhan/css/basic.css" /> 
  <link rel="stylesheet" type="text/css" href="/templates/wangzhan/css/inner.css" /> 
  <script type="text/javascript" src="/templates/wangzhan/js/jquery-1.8.1.min.js"></script> 
  <script type="text/javascript" src="/templates/wangzhan/js/jquery.easing.1.3.js"></script> 
  <script type="text/javascript" src="/templates/wangzhan/js/about.js"></script> 
 </head> 
 <body> 
{include file="./templates/wangzhan/nav.html"}
 <div class="about_banner"></div>
		<div class="general_title">
       <table width="400" border="0" cellspacing="0" cellpadding="0"> 
        <tbody>
         
        </tbody>
       </table> 
      </div> 


      

 <div class="news"> 
     <div class="news_con"> 
      <div class="general_title"> 
       <table width="400" border="0" cellspacing="0" cellpadding="0"> 
        <tbody>
         <tr> 
          <td><img src="/templates/wangzhan/images/inner_content_title.png" /></td> 
          <td><a href="/news/list-37-1.html">单页面列表</a></td> 
          <td><img src="/templates/wangzhan/images/inner_content_title.png" /></td> 
         </tr> 
        </tbody>
       </table> 
      </div> 
      <div class="news_con_int"> 
       <div class="news_title">
        <a href="/news/2409.html">p2p网站建设解决方案</a>
       </div> 
       <div class="news_word">
        <a href="/news/2409.html">1、P2P网络借贷平台介绍 P2P网络借贷平台是指P2P借贷与网络借贷相结合的金融服务网站，借贷过程中，资料与资金、合同、手续等全部通过网络实现，这是未来金融服务的发展趋势。 2、系统总体设计 我们设计了本项目的总体逻辑架构，如下图： 2.1 前台管理 前台管理包括网站首页、我要投资、我要借款、我的账户、会员社区、网贷工具、帮助中心和关于我们模块。 2.1.1 网站首页 网站首页用于展示该网站的整体信息，用户可以通过访问网站首页 ...</a>
       </div> 
       <div class="news_add">
        <span>日期：</span>2014-12-10 
        <span style="margin-left:20px;">标签：</span>
        <a href="/tag/4069.html">p2p网站建设</a> &nbsp; &nbsp; 
       </div> 
       <div class="news_read_more">
        <a href="/news/2409.html"><img alt="查看详细" src="/templates/wangzhan/images/news_read_more.gif" /></a>
       </div> 
      </div> 
      <div class="news_class">
       <a href="/news/list-37-1.html">MORE +</a>
      </div> 
      <div class="clear"></div> 
     </div> 
    </div>








{include file="./templates/wangzhan/footer.html"}
</body>

</html>