<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>解决方案-solutions.html</title> 
  <link rel="stylesheet" type="text/css" href="/templates/wangzhan/css/basic.css" /> 
  <link rel="stylesheet" type="text/css" href="/templates/wangzhan/css/inner.css" /> 
  <script type="text/javascript" src="/templates/wangzhan/js/jquery-1.8.1.min.js"></script> 
  <script type="text/javascript" src="/templates/wangzhan/js/jquery.easing.1.3.js"></script> 
  <script type="text/javascript" src="/templates/wangzhan/js/solutions.js"></script> 
 </head> 
 <body> 
   {include file="./templates/wangzhan/nav.html"/}
  <script type="text/javascript">document.getElementById("menu6").className="a1";</script> 
  <div class="container"> 
   <div class="solution_banner"></div> 
   <div class="content" style="padding-top:40px;"> 
    <div class="general_title"> 
     <table style="margin-bottom:0px;" width="400" border="0" cellspacing="0" cellpadding="0"> 
      <tbody>
       <tr> 
        <td><img src="/templates/wangzhan/images/inner_content_title.png" /></td> 
        <td>解决方案</td> 
        <td><img src="/templates/wangzhan/images/inner_content_title.png" /></td> 
       </tr> 
      </tbody>
     </table> 
    </div> 
    <div class="solution_ul"> 
     <ul> 
      <li class="solution_li"> 
       <div class="solution_content"> 
        <div class="solution_li_con"> 
         <div style="margin-left:-600px;" class="solution_img   box-l2 J_Box" init="true">
          <a href="/solutions/1.html" target="_blank"><img src="/templates/wangzhan/images/1386928591.gif" alt="企业网站解决方案" /></a>
         </div> 
         <div class="solution_con box-r2 J_Box" init="true"> 
          <div class="solution_title">
           企业网站解决方案
          </div> 
          <div class="solution_int">
           企业网站作为一个公司的网络名片，最主要的作用是展示公司形象和宣传公司的服务或产品，所以做一个企业网站，关键在于如何更好地展示公司形象和宣传公司服务或产品，做好这点，需要做好网站的页面设计、方便的内容后台管理系统、对搜索引擎友好、一个好记的域名和一个稳定的空间
          </div> 
          <div class="read_more">
           <a href="/solutions/1.html" target="_blank">Read more</a>
          </div> 
         </div> 
         <div class="clear"></div> 
        </div> 
       </div></li>
      <li class="solution_li2"> 
       <div class="solution_content"> 
        
       </div> </li> 
      
      
     
     
      
      <li class="solution_li2"> 
       <div class="solution_content"> 
        <div class="solution_li2_con"> 
         <div style="margin-left:-600px;text-align:right;" class="solution_con  box-l J_Box" init="true"> 
          <div class="solution_title">
           搜索引擎优化解决方案
          </div> 
          <div class="solution_int">
           今天我们谈提高网站的价值，那么什么是网站的价值呢？很简单，网站的价值就是访客觉得有用，提高网站的价值，就是让更多的访客觉得有用。那为什么要提高网站的价值呢？如果你的网站没有价值，没有可读内容，没有用户需要的东西，那么用户为什么要访问你的网站，搜索引擎为什么要把你的网站排在前面？所以，要做好网站，就必须提高网站的价值
          </div> 
          <div class="read_more">
           <a href="/solutions/9.html" target="_blank">Read more</a>
          </div> 
         </div> 
         <div class="solution_img box-r J_Box" init="true">
          <a href="/solutions/9.html" target="_blank"><img alt="搜索引擎优化解决方案" src="/templates/wangzhan/images/1386928791.gif" /></a>
         </div> 
         <div class="clear"></div> 
        </div> 
       </div> </li> 
      <li class="solution_li"> 
       <div class="solution_content"> 
        <div class="solution_li_con"> 
         <div style="margin-left:-600px;" class="solution_img   box-l2 J_Box" init="true">
          <a href="/solutions/10.html" target="_blank"><img src="/templates/wangzhan/images/1386928760.gif" alt="教育培训网站解决方案" /></a>
         </div> 
         <div class="solution_con box-r2 J_Box" init="true"> 
          <div class="solution_title">
           教育培训网站解决方案
          </div> 
          <div class="solution_int">
           开发的视频教学系统在视频教课程学行领域处在领先技术优势，给许多客户带了丰厚的盈利、扩大了市场的占有率，解决了培训机构在租用场地成本和学员听课时间安排的不便。 从功能到布局每一个按钮、每一块视觉色彩，都渗透着对用户体验的关注。凭借独特的视频点播处理技术和良好的电子商务的糅合，视频教学系统受到了
          </div> 
          <div class="read_more">
           <a href="/solutions/10.html" target="_blank">Read more</a>
          </div> 
         </div> 
         <div class="clear"></div> 
        </div> 
       </div></li> 
      <div class="clear"></div> 
     </ul> 
    </div> 
   </div> 
  </div> 
  {include file="./templates/wangzhan/footer.html"}
  <script type="text/javascript" src="/templates/wangzhan/js/qq3.js"></script> 
    
 </body>
</html>
<!--
本代码由热心网友上传，js代码网收集并编辑整理;
请尊重他人劳动成果;
转载请保留js代码链接 - www.jsdaima.com
-->