<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>经销网络</title>
<link type="text/css" href="/templates/newstyle/css/base.css" rel="stylesheet" />
<link type="text/css" href="/templates/newstyle/css/Distribution.css" rel="stylesheet" />
</head>

<body>
<!--顶部-->
<div class="top">
    <b><img src="/templates/newstyle/images/logo.gif" /></b> 
    <ul>
          <li>
              <a href="#">设为首页</a>
              <div class="line2"></div>
              <a href="#">收藏网站</a>
              <div class="line2"></div>
              <a href="#">联系我们</a>
          </li>
          
           <div class="text2">
            <input type="text" class="text" />
            <input type="image" src="/templates/newstyle/images/Button.gif" class="imag"/>
          </div>
       </ul>    
        
         
         
</div>

<!--导航-->
<div class="nav">
    <ul>
        <li>
           <a href="index.html" class="English"> 首页</a>
           <a href="index.html">HOME</a>
        </li>
                {Dz:navlist name="vo"}
            <li>
           <a href="{$vo.url}" class="English">{$vo.title}</a>
           <a href="{$vo.url}">SIXSIXSI</a> 
        </li>
        {/Dz:navlist}
    </ul>
</div>

<!--banner-->
<div class="banner">
    <img src="/templates/newstyle/images/banner.gif" />

</div>

<!--当前位置-->
<div class="Position">
   <b><img src="/templates/newstyle/images/icon4.gif" /></b>
   <span>首页>></span>
   <p>经销网络</p>
 
      
</div>

<!--容器-->
<div class="Container">

     <div class="Container_left">
<!--经销网络左-->
            <div class="Distribution_left">
              <ul>
                   <p>经销网络</p>
                   <li>
                      <b></b>
                      <a href="#">湖南地区</a>
                   </li>
                   <li>
                       <b></b>
                       <a href="">湖北地区</a>
                   </li>
                   <li>
                      <b></b>
                      <a href="">广州地区</a></li>
                   <li>
                      <b></b>
                      <a href="">东北地区</a></li>
              </ul>      
           </div>
<!--联络我们左-->
        <div class="Contact_left">
               <div class="news_title">     
                         <b><img src="/templates/newstyle/images/icon2.gif" /></b>   
                         <span>联络我们</span>
                         <a>CONTACT US</a>        
                 </div> 
                 <div class="Contact_text"> 
                         <p><img src="/templates/newstyle/images/phone_03.gif" /></p>
                         <li>地址：广州市天河路365号天俊阁1202 </li>
                         <li>电话：0731-84821487  84824049</li>
                         <li>传真：020 38812035</li>
                         <li>手机：186xxxxxxxx</li>
                         <li>邮箱：hncbjy@126.com </li>    
                         <ul><input type="image" src="/templates/newstyle/images/Button2.gif" /><a>在线咨询</a></ul>
                 </div>
            </div>
     </div>
<!--经销网络-->
     <div class="Container_right">
               <div class="Container_title">
                       <b><img src="/templates/newstyle/images/icon.gif" /></b>
                       <p>经销网络</p>
                       <span>DISTRIBUTION</span>
               </div>
               <div class="Distribution_text">
                       <b>湖南地区：</b> 
                       <ul>
                            <li>地址：安徽省合肥市屯溪路168号      邮编：230001</li>
                            <li>电话：0551-4655096    4667358</li>
                            <li>传真：0551-4667398    13905513787</li>
                            <li>联系人：洪建发(HJF/ZJF)</li>
                       </ul>  
                       <ul>
                            <li>地址：大庆市高新区创业园B座214室　邮编：163316</li>
                            <li>电话：0459－4616577　6285255</li>
                            <li>传真：0459－6285255</li>
                            <li>联系人：刘鑫</li>
                       </ul> 
                        <ul>
                            <li>地址:广东省汕头市迎宾路4号建设大厦1403室     邮编：515041</li>
                            <li>电话：0754-8366366/8360231</li>
                            <li>传真：0754-8465525</li>
                            <li>联系人：许鸿翔（GSBDY/HYR）</li>
                       </ul>  
                       <ul>
                            <li>地址:甘肃省兰州市七里河区桥北街39号     邮编：730000</li>
                            <li>电话：0931-2958705/2958975/2654130</li>
                            <li>联系人：张炳爱（LZWH/YLP）</li>
                       </ul> 
                        <ul>
                            <li>地址：黑龙江省大庆市高新开发区南湖景苑7号商服3门  邮编：163316</li>
                            <li>电话：0459-6299525</li>
                            <li>传真：0459-6299525</li>
                            <li>联系人：洪建良 13504669855  赵瑞林：13836891633 （HJQ/HJJ)</li>
                       </ul>  
                       <ul>
                            <li>地址：河南省郑州市南路170号三江科技大厦826、828室 邮编：450053</li>
                            <li>电话：0371-3751276</li>
                            <li>传真：0371-3751275</li>
                            <li>联系人：赵胜利 13014580079              （HNDK/YQ)</li>
                       </ul>   
                       <p></p>           
               </div>
               
                
     </div>

</div>
<!--底部--> 
<div class="clear"></div>
<div class="bottom">
   <ul>
       <li><a href="">首页</a></li>
       <li class="line"></li>
       <li><a href="">公司简介</a></li>
       <li class="line"></li>
       <li><a href="">产品信息</a></li>
        <li class="line"></li>
       <li><a href="">最新消息</a></li>
       <li class="line"></li>
       <li><a href="">常见问题</a></li>
       <li class="line"></li>
       <li><a href="">经销网络</a></li>
       <li class="line"></li>
       <li><a href="">联络我们</a></li>
   </ul>
        <p class="bottom_text">©2015 可可饮料有限公司  版权所有  地址：广州市天河路365号天俊阁1202  电话：020- 38812035<br />
                        湘ICP备11005311号  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>

</div>

</body>
</html>
