<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>常见问题</title>
<link type="text/css" rel="stylesheet" href="/templates/newstyle/css/base.css" />
<link type="text/css" rel="stylesheet" href="/templates/newstyle/css/problem.css" />
</head>

<body>
<!--顶部-->
<div class="top">
    <b><img src="/templates/newstyle/images/logo.gif" /></b> 
    <ul>
          <li>
              <a href="#">设为首页</a>
              <div class="line2"></div>
              <a href="#">收藏网站</a>
              <div class="line2"></div>
              <a href="#">联系我们</a>
          </li>
          
           <div class="text2">
            <input type="text" class="text" />
            <input type="image" src="/templates/newstyle/images/Button.gif" class="imag"/>
          </div>
       </ul>    
        
         
         
</div>

<!--导航-->
<div class="nav">
    <ul>
        <li>
           <a href="index.html" class="English"> 首页</a>
           <a href="index.html">HOME</a>
        </li>
        <li>
           <a href="summary.html" class="English"> 公司简介</a>
           <a href="summary.html">SUMMARY</a>
        </li>
        <li>
           <a href="Products.html" class="English">产品信息</a>
           <a href="Products.html">PRODUCTS</a>
        </li>
    
        <li>
           <a href="News.html" class="English">最新消息</a>
           <a href="News.html">NEWS</a>
        </li>
        <li>
           <a href="problem.html" class="English">常见问题</a>
           <a href="problem.html">PROBLEM</a>
        </li> 
         <li>
           <a href="Distribution.html" class="English">经销网络</a>
           <a href="Distribution.html" >DISTRIBUTION</a>
        </li>
        <li>
           <a href="Contact.html" class="English">联络我们</a>
           <a href="Contact.html">CONTACT</a></li>
    </ul>
</div>

<!--banner-->
<div class="banner">
    <img src="/templates/newstyle/images/banner.gif" />

</div>

<!--当前位置-->
<div class="Position">
   <b><img src="/templates/newstyle/images/icon4.gif" /></b>
   <span>首页>></span>
   <p>常见问题</p>
 
      
</div>

<!--容器-->
<div class="Container">

     <div class="Container_left">
<!--产品信息左-->
           <div class="Products_left">
              <ul>
                   <p>产品信息</p>
                   <li><span>玻璃电子秤</span></li>
                   <li><span>玻璃电子秤</span></li>
                   <li><span>玻璃电子秤</span></li>
              </ul> 
              <a href="Products_Details.html">MORE>></a>     
           </div>
<!--联络我们左-->
       <div class="Contact_left">
               <div class="news_title">     
                         <b><img src="/templates/newstyle/images/icon2.gif" /></b>   
                         <span>联络我们</span>
                         <a>CONTACT US</a>        
                 </div> 
                 <div class="Contact_text"> 
                         <p><img src="/templates/newstyle/images/phone_03.gif" /></p>
                         <li>地址：广州市天河路365号天俊阁1202 </li>
                         <li>电话：0731-84821487  84824049</li>
                         <li>传真：020 38812035</li>
                         <li>手机：186xxxxxxxx</li>
                         <li>邮箱：hncbjy@126.com </li>    
                         <ul><input type="image" src="/templates/newstyle/images/Button2.gif" /><a>在线咨询</a></ul>
                 </div>
            </div>
     </div>
<!--常见问题-->
     <div class="Container_right">
               <div class="Container_title">
                       <b><img src="/templates/newstyle/images/icon.gif" /></b>
                       <p>常见问题</p>
                       <span>COMMON PROBLEM</span>
               </div>
               <div class="problem_text">
                       <li>电子称电子天平是带有电子装置的以数字显示的重量测量仪表。电子称是由：称重传感器，运算放大器，A/D转换集成电
路，智能单片机，显示驱动和显示电路，键盘电路，多功能接口电路，交流/直流/充电/蓄电/稳压电路组成。各种故障的现
象和根源千奇百怪。        </li> 
                       <span>电子称常见故障及处理方法：</span>
                       <li>1. 电子称不归零（不回零，不称重）  a.检查传感器输出信号值是否于标准内。(A/D的总放大码/使用内码范围/底码范围) 
b.未在标准内，请参考第十项目作补偿。   c.如无法补偿请检查传感器是否不良。(请依照第八项作检测) d.请依照说明书
指示，做重量校正。  2. 电子称称重量不准  a. 观测内码值是否稳定，传感器各部位是否有摩擦现象，稳压电源是否稳定
运放电路是否正常，A/D电路的线路版是否有异物，反馈电阻/电容/滤波电容是否不良或漏电。 b.检查传感器输出信号值是
否于标准内。  c.未在标准内，请参考第十项目作补偿。    d.使用砝码测试秤盘四脚秤量是否平均。(如不平均，
请参照第九项进行磨秤)  e.请依照说明书指示，做重量校正。    3. 电子称无法开机  a.请先确定非为保险丝、
电源开关、电源线及电压切换开关的问题所造成。   b.检查变压器有无AC110/220输入及AC18V输出。   c.请将
电池取下再以AC电源开机，以了解是否为电池电压不足所造成。(测量电池电压，要高于6V以上，  低于时请充电，
若低于5.5V，且充饱电不久就没电时请更换电池)。     4. 电子称显示不良  a.将正常LCD接脚用手并联在维修
秤LCD上，再开机观察正常的LCD上是否也有相同不b良情况， 如没有的话就可断定为LCD不良。  b.检查CPU接脚
有无氧化、冷焊或短路现象。    c. LCD之接脚与孔位是否有氧化、冷焊或短路现象。  d.检查CPU与LCD之间线
路有无断路。   5. 电子称按键不良  a.请先更新K/B测试，如新K/B功能正常时，则可判定为K/B不良。  b.测
量K/B与CPU之间线路有无断路、冷焊。  c.检查K/B脚座是否有接触不良现像。 .测量K/B与CPU回路上的二极体
是否有短路、 断路。      6. 电子称无法秤到满载  a.检查传感器输出信号值是否于标准内。 b.未在标准内，
请参考第 十项目作补偿。   c.如无法补偿请检查传感器是否不良。(请依照第八项做检测)  d.补偿后如有不稳
或无法补偿，请更换传感器。</li>             
               </div>
                
     </div>

</div>
<!--底部--> 
<div class="clear"></div>
<div class="bottom">
   <ul>
       <li><a href="">首页</a></li>
       <li class="line"></li>
       <li><a href="">公司简介</a></li>
       <li class="line"></li>
       <li><a href="">产品信息</a></li>
        <li class="line"></li>
       <li><a href="">最新消息</a></li>
       <li class="line"></li>
       <li><a href="">常见问题</a></li>
       <li class="line"></li>
       <li><a href="">经销网络</a></li>
       <li class="line"></li>
       <li><a href="">联络我们</a></li>
   </ul>
        <p class="bottom_text">©2015 可可饮料有限公司  版权所有  地址：广州市天河路365号天俊阁1202  电话：020- 38812035<br />
                        湘ICP备11005311号  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>

</div>

</body>
</html>
