 {include file="./templates/xuqingwei/header.html"}
<!--子页-->
<div class="ziye_bj">
{Dz:banlist order="id desc" like="title like '%关于%'"  limit="1" name='vo'}
	<div class="ziye_tu">
		<img src="/public/uploads/{$vo.photo}">
	</div>
{/Dz:banlist}
</div>
<!--关于我们-->
<div class="zy_gywm">
	<div class="ejdh">
		<div class="shang_g"></div>
		<div class="women">
			<div class="btmc">
				<h1>A</h1>
				<p>关于我们<span>bout us</span></p>
			</div>
			<ul class="skb">
				<li style="background: #005bac; width: 25%;"></li>
				<li style="background: #ff8400; width: 20%;"></li>
				<li style="background: #d3d3d3; width: 55%;"></li>
			</ul>
		</div>
		<div class="zy_dh_lb">
			<ul>
				<li id="women"><img src="/templates/xuqingwei/images/zy1_08.png"><a id="wenzidangq" href="#">公司简介</a></li>

			</ul>
		</div>
	</div>
	<div class="touyin"></div>
	<div class="zynr_db">
		<div class="lujing">
			<h2>公司简介</h2>
			<p>您的位置：首页 > 公司简介</p>
		</div>
		<ul class="skb" style="margin-bottom: 20px;">
			<li style="background: #005bac; width: 12%;"></li>
			<li style="background: #ff8400; width: 15%;"></li>
			<li style="background: #d3d3d3; width: 73%;"></li>
		</ul>

		<!--内容-->
		<div class="gsjj_nr">
		{Dz:nlist name='vo' limit="1" cateid="2"}
			{$vo.content}
		{/Dz:nlist}
		</div>
	</div>
</div>


<!--底部-->
 {include file="./templates/xuqingwei/footer.html"}
