<div class="dibu">
	<div class="dibu_jz">
		<div class="dibu_zuo">
			<p>联系地址：临沂市罗庄区滨河大道与罗程路交汇北500米路西<br>
				电 话：0851-85594612   传 真：0851-85594612<br></p>
			<ul>
				<li><span>分享到：</span></li>
				<li><a href="http://connect.qq.com/widget/shareqq/index.html?url=file%3A%2F%2F%2FC%3A%2FUsers%2Fadmin%2FDesktop%2F%25E6%25BD%2598%25E4%25B8%25AD%25E5%2585%25A8%2F%25E7%25BD%2591%25E7%25AB%2599%2Fgztnwy_qt%2Fnewlist.html%230-sqq-1-12217-9737f6f9e09dfaf5d3fd14d775bfee85&title=%E5%A4%A9%E8%83%BD%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86&desc=&summary=&site=baidu" target="_black"><img src="/templates/xuqingwei/images/dibu_06.png"></a></li>
				<li><a href="http://service.weibo.com/share/share.php" target="_black"><img src="/templates/xuqingwei/images/dibu_08.png"></a></li>
				<li><a href="http://widget.renren.com/dialog/share?resourceUrl=file%3A%2F%2F%2FC%3A%2FUsers%2Fadmin%2FDesktop%2F%25E6%25BD%2598%25E4%25B8%25AD%25E5%2585%25A8%2F%25E7%25BD%2591%25E7%25AB%2599%2Fgztnwy_qt%2Fnewlist.html%230-renren-1-63647-98fde57bb3d39343db0f272b38411f3e&srcUrl=file%3A%2F%2F%2FC%3A%2FUsers%2Fadmin%2FDesktop%2F%25E6%25BD%2598%25E4%25B8%25AD%25E5%2585%25A8%2F%25E7%25BD%2591%25E7%25AB%2599%2Fgztnwy_qt%2Fnewlist.html%230-renren-1-63647-98fde57bb3d39343db0f272b38411f3e&title=%E5%A4%A9%E8%83%BD%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86&description=" target="_black"><img src="/templates/xuqingwei/images/dibu_10.png"></a></li>
			</ul>
		</div>
		<div class="dibu_you">
			<ul>
				<li><a href="{:url('Index/about')}">公司简介&nbsp;&nbsp;</a>｜</li>
				<li><a href="{:url('Index/news?cateid=1')}">企业文化&nbsp;&nbsp;</a>｜</li>
				<li><a href="{:url('Index/contact')}">联系我们&nbsp;&nbsp;</a>｜</li>
				<li><a href="{:url('Index/index')}">返回首页</a></li>
				
			</ul>
			<img class="dibu_logo" src="/templates/xuqingwei/images/dibu_03.png">
		</div>
	</div>
</div>
<div class="dibu_1">
	<p>版权所有 大志科技有限公司 鲁ICP备10001741号<br>
		技术支持：大志科技网络</p>
</div>


</body>
</html>