
{include file="./templates/blackdemo/public/head.html"}
<!-- 查找最顶级栏目  -->
<section id="show_cases">
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>CASES</strong>案例</h2>
			<p>我们的作品，他们的故事<br/>Our work, their stories </p>
		</div>
	</div>
	<article>
		<div class="wrapper">
			<div id="overview">
				<div class="overview_bg"></div>
				<div id="case_info">
																																							<h1><img src="/templates/blackdemo/uploads/131102/1-131102210430T2.png" tppabs="http://mc18.eatdou.com/uploads/131102/1-131102210430T2.png" width="180" height="120" alt="成都城市设计研究中心" /></h1>
					<ul>
						<li>名称：成都城市设计研究中心</li>
						<li>分类：学校政府</li>
						<li>TAG：食品优品道新象</li>
					</ul>
					<a href="javascript:if(confirm('http://www.cdudc.com/  点击这里给我发送临时消息'))window.location='http://www.cdudc.com/'" tppabs="http://www.cdudc.com/" class="btn_blue" target="_blank" rel="external nofollow">VISIT SITE 访问该网站</a>
					<div class="brief">成都市城市设计研究中心（英文缩写：CDUDC）是以城市设计和研究为主要方向的研究性机构，提供以城市运营为着眼点的相关咨询服务。是整合各方设计、咨询、研究资源的合作平台。为政府决</div>
				</div>
			</div>
			<div id="detailed">
				<img alt="" src="/templates/blackdemo/uploads/allimg/131102/1-131102210508.jpg" tppabs="http://mc18.eatdou.com/uploads/allimg/131102/1-131102210508.jpg" /><img alt="" src="/templates/blackdemo/uploads/allimg/131102/1-131102210509.jpg" tppabs="http://mc18.eatdou.com/uploads/allimg/131102/1-131102210509.jpg" /><img alt="" src="/templates/blackdemo/uploads/allimg/131102/1-131102210509-50.jpg" tppabs="http://mc18.eatdou.com/uploads/allimg/131102/1-131102210509-50.jpg" />					
			</div>
		</div>
	</article>
	<div id="case_footer">
		<div class="wrapper showother">
						<a class="backlist" href="{url:('index/example')}" tppabs="http://mc18.eatdou.com/case/gov/">返回案例列表</a>
						
		</div>
	</div>
</section>
{include file="./templates/blackdemo/public/foot.html"}