{include file="./templates/blackdemo/public/head.html"}

<section id="newslist">
	<div class="cat_title">
		<div class="wrapper">
			<h2><strong>NEWS</strong>新闻</h2>
			<p>最近正在折腾...<br/>Recently is to do ...</p>
			
		</div>
	</div>
	<div class="category">
		<div class="wrapper">
			<ul>
				<li><a href="{:url('index/news_gsnews')}" tppabs="http://mc18.eatdou.com/news/gsnews/" class='cur'>公司新闻</a></li>
                <li><a href="{:url('index/news_hynews')}" tppabs="http://mc18.eatdou.com/news/hynews/">行业动态</a></li>
        

			</ul>
		</div>
	</div>
				<ul class="news wrapper">
                <li>
				<a href="7.html" tppabs="http://mc18.eatdou.com/news/gsnews/7.html"><img src="/templates/blackdemo/uploads/131031/1-1310312352421V.jpg" tppabs="http://mc18.eatdou.com/uploads/131031/1-1310312352421V.jpg" data-original="" alt="html5+js技术网站应用案例：三盛·都会城网站建设" /></a>
				<div class="newslist">
					<a href="7.html" tppabs="http://mc18.eatdou.com/news/gsnews/7.html">html5+js技术网站应用案例：三盛·都会城网站建设</a>
					<span>UPTATED:2013/11/01</span>
					<p>三盛·都会城作为三盛地产在成都的全资开发项目，入主龙泉经开区，承载三盛地产在成都建立品牌的任务，三盛·都会城总投入近40亿元，前期将投入3亿重金，将该项目打造为龙泉乃至大成东....</p>
				</div>
			</li>
					</ul>
		 <div class="dede_pages">
			<ul class="pagelist">
             <li><span class="pageinfo">共 <strong>1</strong>页<strong>1</strong>条记录</span></li>

			</ul>
		</div><!-- /pages --> 
            
            
	
</section>
{include file="./templates/blackdemo/public/foot.html"}