
{include file="./templates/yujiaolong/public/header.html"}

<div class="index-main clearfix">

	<div class="newsnav yh"><a href="/index.html">首页</a> > {$info['title']}</div>
	
    <div class="content clearfix">
    	<div class="biaoti">{$info['title']}</div>
        
    	<div class="nr">
        	<p>{$info.content}</p>
        </div>
        
      <div class="bottom">
    
    
    
    
</div>
    
    
    </div>


    
</div>

{include file="./templates/yujiaolong/public/footer.html"}
</body>
</html>