
{include file="./templates/yujiaolong/public/header.html"}

<div class="index-main clearfix">

	<div class="newsnav yh"><a href="/index.html">首页</a> > 新闻</div>
	
    <div class="content clearfix">
    	<div class="biaoti">{$info['title']}</div>
        
    	<div class="nr">
        	<p><img src="/public/Uploads/{$info.smallimage}" style=" float:left; margin-right:20px;" width="207" height="276">
                {$info.content}
            </p>
        </div>
        
      
    
    
</div>
    
    
    </div>


    
</div>

{include file="./templates/yujiaolong/public/footer.html"}
</body>
</html>