<div class="foot_bg">
    <div class="foot">
        <div class="search">
            <form id="search" name="search" method="get" action="">
                <input type="text" class="text pngFix" value="请输入搜索关键词！" name="kws" id="kws" onfocus="this.value=''" onblur="if(!value){value=defaultValue}"  />
                <input type="submit" title="搜索" class="btn pngFix" value=""/>
            </form>

        </div>
      
          <div class="fotexp">
          {Dz:flink thumb="true"}
         地址：{$v.webname}<br />  
             技术支持：<a href="http://www.sucaihuo.com/templates">企业模板</a>  {$v.categories}
        {/Dz:flink}
        </div>
        <div class="ewm"><img src="/templates/defaults/images/1314.png" width="110" height="110" /><span> 扫一扫，加关注</span></div>
    </div>
</div>
<div class="links_bg">
    <div class="links">
        <span>友情链接&nbsp;：</span><a href="www.baidu.com">百度</a>
    </div>
</div>