<div class="content">
    <div class="left">
        <p class="left_title1">宠物分类</p>
        <ul class="left_nav">
        {Dz:nlist name="vo" limit="3"}
            <li><a href="">{$vo.keywords
}</a></li>
            {/Dz:nlist}
        </ul>
        <p class="left_title2">联系我们</p>
            <div class="left_contact">
              电话：15012345678<br />
              联系人：某经理<br />
              邮编：000000<br />
              传真：15012345678<br />
              地址：某市某区某街某路某号某大厦某层<br />
             </div>
    </div>   
    
    