<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司简介</title>
<link href="/templates/wanghao/css/summary.css" rel="stylesheet" type="text/css" />
<link href="/templates/wanghao/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--顶部-->
<div class="top">
    <b><img src="/templates/wanghao/images/logo.gif" /></b> 
    <ul>
          <li>
              <a href="#">设为首页</a>
              <div class="line2"></div>
              <a href="#">收藏网站</a>
              <div class="line2"></div>
              <a href="#">联系我们</a>
          </li>
          
           <div class="text2">
            <input type="text" class="text" />
            <input type="image" src="/templates/wanghao/images/Button.gif" class="imag"/>
          </div>
       </ul>    
        
         
         
</div>

<!--导航-->
<div class="nav">
    <ul>
        <li>
           <a href="index.html" class="English"> 首页</a>
           <a href="index.html">HOME</a>
        </li>
        <li>
           <a href="summary.html" class="English"> 公司简介</a>
           <a href="summary.html">SUMMARY</a>
        </li>
        <li>
           <a href="Products.html" class="English">产品信息</a>
           <a href="Products.html">PRODUCTS</a>
        </li>
    
        <li>
           <a href="News.html" class="English">最新消息</a>
           <a href="News.html">NEWS</a>
        </li>
        <li>
           <a href="problem.html" class="English">常见问题</a>
           <a href="problem.html">PROBLEM</a>
        </li> 
         <li>
           <a href="Distribution.html" class="English">经销网络</a>
           <a href="Distribution.html" >DISTRIBUTION</a>
        </li>
        <li>
           <a href="Contact.html" class="English">联络我们</a>
           <a href="Contact.html">CONTACT</a></li>
    </ul>
</div>

<!--banner-->
<div class="banner">
    <img src="/templates/wanghao/images/banner.gif" />

</div>

<!--当前位置-->
<div class="Position">
   <b><img src="/templates/wanghao/images/icon4.gif" /></b>
   <span>首页>></span>
   <p>公司简介</p>   
</div>

<!--容器-->
<div class="Container">

     <div class="Container_left">
<!--公司简介左-->
           <div class="summary_left">
              <ul>
                   <p>公司简介</p>
                   <li>
                       <b></b>
                       <a href="#">公司历史</a>
                       
                   </li>
                   <li>
                      <b></b>
                      <a href="">公司发展</a>
                   </li>
              </ul>      
           </div>
<!--联络我们左-->
          <div class="Contact_left">
               <div class="news_title">     
                         <b><img src="/templates/wanghao/images/icon2.gif" /></b>   
                         <span>联络我们</span>
                         <a>CONTACT US</a>        
                 </div> 
                 <div class="Contact_text"> 
                         <p><img src="/templates/wanghao/images/phone_03.gif" /></p>
                         <li>地址：广州市天河路365号天俊阁1202 </li>
                         <li>电话：0731-84821487  84824049</li>
                         <li>传真：020 38812035</li>
                         <li>手机：186xxxxxxxx</li>
                         <li>邮箱：hncbjy@126.com </li>    
                         <ul><input type="image" src="/templates/wanghao/images/Button2.gif" /><a>在线咨询</a></ul>
                 </div>
            </div>
     </div>
<!--公司简介右-->
     <div class="Container_right">
           <div class="summary_title">
                   <b><img src="/templates/wanghao/images/icon.gif" /></b>
                   <p>公司简介</p>
                   <span>COMPANY INTRODUCTION</span>
                   
           </div>         
           <div class="summary_text">
                   <b>
                        <img src="/templates/wanghao/images/p3.gif" />
                        <img src="/templates/wanghao/images/p3.gif" />
                        <img src="/templates/wanghao/images/p3.gif" />
                   </b>
                   <ul>
                        <p><span>邦美电子商务有限公司</span>是一家专业从事电子衡器、称重系统研发、生产、销售、服务于一体的供应商。本公司的主要产
品有电子汽车衡、平台秤、吊磅、工业用电子秤、防水秤、防爆秤、精密天平等；并能根据客户要求开发各类定量包装、定
量配料、及非标称重系统。产品适用于五金、化工、交通、物流、工矿企业、农林畜牧业等各行业我们坚持BEST的服务理念
诚信为本，精益求精，为客户提供优质的衡器产品及售前咨询、售后服务，为客户创造价值。
                       </p> 
                       <p><span>邦美电子商务有限公司</span>是一家专业从事电子衡器、称重系统研发、生产、销售、服务于一体的供应商。本公司的主要产
品有电子汽车衡、平台秤、吊磅、工业用电子秤、防水秤、防爆秤、精密天平等；并能根据客户要求开发各类定量包装、定
量配料、及非标称重系统。产品适用于五金、化工、交通、物流、工矿企业、农林畜牧业等各行业我们坚持BEST的服务理念
诚信为本，精益求精，为客户提供优质的衡器产品及售前咨询、售后服务，为客户创造价值。
                      </p> 
                   </ul>
           </div>
           
           
           
           
     </div>





</div>
<!--底部--> 
<div class="clear"></div>
<div class="bottom">
   <ul>
       <li><a href="">首页</a></li>
       <li class="line"></li>
       <li><a href="">公司简介</a></li>
       <li class="line"></li>
       <li><a href="">产品信息</a></li>
        <li class="line"></li>
       <li><a href="">最新消息</a></li>
       <li class="line"></li>
       <li><a href="">常见问题</a></li>
       <li class="line"></li>
       <li><a href="">经销网络</a></li>
       <li class="line"></li>
       <li><a href="">联络我们</a></li>
   </ul>
        <p class="bottom_text">©2015 可可饮料有限公司  版权所有  地址：广州市天河路365号天俊阁1202  电话：020- 38812035<br />
                        湘ICP备11005311号  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>

</div>

</body>
</html>



