<!--页脚-->
	<div class="footer">
		<div class="ft-container wrapper">
			<ul class="clearfix">
				<li class="ft-left">
					
				</li>
				<li class="ft-middle">
					<p>大智dzcms有限公司</p>
					<p>地址：山东省临沂经济开发区金升路109号</p>
					<p>Copyright 2011-2016 版权所有：大智（山东）DZCMS有限公司 鲁ICP备17008211号-1</p>
				</li>
				<li class="ft-right">
					<dl class="clearfix">
						<dt class="ewm">
							<img src="/templates/xynews/img/wem.jpg" alt="" />
						</dt>
						<dd>
							<h4>扫一扫</h4>
							<h5>关注网站</h5>
						</dd>
					</dl>
				</li>
			</ul>
			<div class="back-top">
				<a href="#">
					<img src="/templates/xynews/img/backtop.png" alt="返回顶部" />
				</a>
			</div>
		</div>
	</div>
	<!--页脚结束-->