{include file="./templates/zhouhongcheng/head.html"}
<!--头部-->
<div class="banner banner_s"><img src="/templates/zhouhongcheng/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">客户案例</div>
        <ul class="s_nav">
        	<li>
            	<a href="">业务创新篇</a>
            </li>
            <li>
            	<a href="">组织变革篇</a>
            </li>
            <li class="now">
            	<a href="">IT重塑篇</a>
            </li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">IT重塑篇</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="">首页</a>
                <span>></span>
                <a href="">客户案例</a>
                <span>></span>
                <a href="" class="on">IT重塑篇</a>
            </div>
        </div>
        <div class="scd_m">
        	<ul class="case">
            {Dz:newslist order="id desc" limit="5" name='vo' page='true'}
                <li>
                    <p><a href="{$vo.url}"><b>{$vo.title}</b></a></p>
                    <em><a href="">{$vo.inputtime|date('Y-m-d');}</a></em>
                </li>
            {/Dz:newslist}
            	
            </ul>
            
            <div class="space_hx">&nbsp;</div>
          
               
                <div class="pages" style="float:left;">
                
                {$page}
                
            </div>
               
           
        </div>
    </div>
</div>

{include file="./templates/zhouhongcheng/footer.html"}