zhouhongchenginclude file="./templates/newlist/head.html"}
<!--头部-->
<div class="banner banner_s"><img src="/templates/newlist/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="name">新闻中心</div>
        <ul class="s_nav">
        	<li>
            	<a href="">临沂动态</a>
            </li>
            <li>
            	<a href="">政策法规</a>
            </li>
            <li class="now">
            	<a href="">行业新闻</a>
            </li>
            <li>
            	<a href="">国际新闻</a>
            </li>
            <li>
            	<a href="">分析与评论</a>
            </li>
            <li>
            	<a href="">宏观经济</a>
            </li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="dq">
        	<span class="name">zhouhongcheng$info.title}</span>
            <div class="pst">
            	<span>您的位置：</span>
                <a href="">首页</a>
                <span>></span>
                <a href="">内页</a>
                <span>></span>
                <a href="" class="on">zhouhongcheng$info.title}</a>
            </div>
        </div>
         <div class="scd_m">
            <div class="service">
                <p>zhouhongcheng$info.content}</p>
            </div>
        </div>
       
        </div>
    </div>
</div>
zhouhongchenginclude file="./templates/newlist/footer.html"}
