<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>临沂大智</title>
<link rel="stylesheet" type="text/css" href="/templates/zhouhongcheng/Assets/css/reset.css"/>
<script type="text/javascript" src="/templates/zhouhongcheng/Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/templates/zhouhongcheng/Assets/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/zhouhongcheng/Assets/plugins/FlexSlider/flexslider.css">
<script type="text/javascript" src="/templates/zhouhongcheng/Assets/plugins/FlexSlider/jquery.flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/zhouhongcheng/Assets/css/thems.css">
<link rel="stylesheet" type="text/css" href="/templates/zhouhongcheng/Assets/css/responsive.css">
<script language="javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>
</head>

<body>
<!--头部-->
<div class="t_bg">
    <div class="top">
        <a href="">联系我们</a><i>|</i>
        <a href="">设为首页</a><i>|</i>
        <a href="">加入收藏</a>
    </div>
</div>
<div class="head clearfix">
    <div class="logo"><a href=""><img src="/templates/zhouhongcheng/Assets/images/dzlogo.png" alt="临沂"/></a></div>
    <div class="search">
        <input name="" type="text" placeholder="请输入关键字">
        <input name="" type="submit" value="搜 索">
    </div>
    <div class="tel">
        <span><em>热线电话:</em>&nbsp;</span>
        <b>400-150-1169</b>
    </div>
</div>
<div class="n_bg">
    <div class="nav_m">
        <div class="n_icon">导航栏</div>
        <ul class="nav clearfix">
            <li class="now"><a href="index.html"><i>&nbsp;</i>首页</a></li>
            {Dz:navlist order="id asc" limit="8" name='vo'}
            <li>
                <a href="{$vo.url}"><i>&nbsp;</i>{$vo.title}</a>               
            </li>
            {/Dz:navlist}
            
        </ul>
    </div>
</div>