{include file="./templates/new/header.html"}
<!-- ##########页首（end）########## -->

<!-- ##########主体########## -->


<div class="container">
	<!-- 固定图片广告 -->
	<div class="row">
		<img class="img-responsive model-img" src="/templates/new/images/produce.jpg" alt="产品与服务">
	</div>
	
	<!-- 内容 -->
	<div class="row row-3">
		<div class="col-md-3">
			<div class="model-title theme">
				产品与服务
			</div>
			<div class="model-list">
				<ul class="list-group">
                    <li class="list-group-item">
						<a href="#">功能材料</a>
					</li>
					<li class="list-group-item">
						<a href="#">净化工程</a>
					</li>
					<li class="list-group-item">
						<a href="#">超净产品</a>
					</li>
					<li class="list-group-item">
						<a href="#">护理产品</a>
					</li>
					<li class="list-group-item">
						<a href="#">精密模具</a>
					</li>
					
				</ul>
      
			</div>
		</div>
		<div class="col-md-9">
			<div class="model-details-title">
				功能材料
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="thumbnail"><img class="img-responsive model-img" src="/templates/new/images/p1.jpg" alt="黑色双面遮光胶带"></a>
				</div>
				<div class="col-md-6">
					<h3>黑色双面遮光胶带</h3>
					<ul class="list-group">
						<li class="list-group-item">通过多层印刷处理，大幅度提高遮光性</li>
						<li class="list-group-item">黑色涂层具有优越的绝缘性</li>
						<li class="list-group-item">对各种贴合物均有高粘合性</li>
						<li class="list-group-item">耐反翘性优越,可应对曲面屏方案</li>
					</ul>

				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="thumbnail"><img class="img-responsive model-img" src="/templates/new/images/p1.jpg" alt="黑色双面遮光胶带"></a>
				</div>
				<div class="col-md-6">
					<h3>黑色双面遮光胶带</h3>
					<ul class="list-group">
						<li class="list-group-item">通过多层印刷处理，大幅度提高遮光性</li>
						<li class="list-group-item">黑色涂层具有优越的绝缘性</li>
						<li class="list-group-item">对各种贴合物均有高粘合性</li>
						<li class="list-group-item">耐反翘性优越,可应对曲面屏方案</li>
					</ul>

				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="thumbnail"><img class="img-responsive model-img" src="/templates/new/images/p1.jpg" alt="黑色双面遮光胶带"></a>
				</div>
				<div class="col-md-6">
					<h3>黑色双面遮光胶带</h3>
					<ul class="list-group">
						<li class="list-group-item">通过多层印刷处理，大幅度提高遮光性</li>
						<li class="list-group-item">黑色涂层具有优越的绝缘性</li>
						<li class="list-group-item">对各种贴合物均有高粘合性</li>
						<li class="list-group-item">耐反翘性优越,可应对曲面屏方案</li>
					</ul>

				</div>
			</div>

			<div class="paging">
					<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>					
				</div>
		</div>
	</div>
</div>
<!-- ##########主体（end）########## -->

<!-- ##########页脚########## -->
{include file="./templates/new/footer.html"}