    <div class="fwmain_nleft l mTop10">
    	<div class="label_head"><div class="label_title">关于我们</div></div>
    	<div class="label_contents">
			{Dz:newslist   name='vo' page='true'}
				<h1><a href="{$vo.url}">{$vo.title}</a></h1>
			{/Dz:newslist}                      
        </div>
        <div class="label_head mTop10"><div class="label_title">社会关爱</div></div>
    	<div class="label_contents">
		{Dz:newslist   name='vo' page='true' cateid='8'}
				<h1><a href="{$vo.url}">{$vo.title}</a></h1>
			{/Dz:newslist}  
        </div>
        <div class="label_head mTop10"><div class="label_title">联系我们</div></div>
    	<div class="label_contents">
        <ul class="label_pad mTop10">
            	<div>地 址：XX市XX路XX号10楼</div>
<div>电 话：000-000000</div>
<div>传 真：000-000000 </div>
<div>邮 箱：123456@XX.com</div>
            </ul>
        </div>
    </div>