<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>养老院</title>
<link href="/templates/xialonghao_1/css/main.css" rel="stylesheet" />
<script type="text/javascript" src="/templates/xialonghao_1/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/templates/xialonghao_1/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/xialonghao_1/css/lanrenzhijia.css" media="screen" />
<script type="text/javascript" src="/templates/xialonghao_1/js/lanrenzhijia.js"></script>
<script src="/templates/xialonghao_1/js/jquery.superslide.2.1.1.js" type="text/javascript"></script>

</head>
<body>
<!--[if IE 6]>
    <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('div.menu ul li,.more');
    </script>
<![endif]-->
<div class="top">
	<div class="wt1002">
        <div class="r">
            <div class="toplink">
               <a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('');">设为首页</a> | 
               <a href="javascript:window.external.AddFavorite('','养老院')">加入收藏</a>
            </div>
            <div class="topsearch">
                <form action="" method="post" id="form1">
                    <input type="text" value="" class="tetPut" id="searchnew" name="searchnew" />
                    <input name="提交" type="submit" class="tetBut" value=""/>
                </form>
        	</div>
        </div>
        <div class="l">
            <a href="/" title="养老院"><img src="images/logo.gif" /></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="menu">
    <div class="wt1002">
    	<ul id="ulMenu">
            <li><a href="http://www.caozuo.com">首页</a></li>
			{Dz:navlist order="id asc" top='0'  limit="6"}
					<li><a href="{$v.url}">{$v.title}</a>
			{/Dz:navlist}

        </ul>    
    </div>
</div>
<div class="wt1002">
	<div id="full-screen-slider">
        <ul id="slides">
            <li style="background:url('/templates/xialonghao_1/images/1.jpg') no-repeat center top"><a href="/" >关爱老人 关注夕阳</a></li>
            <li style="background:url('/templates/xialonghao_1/images/2.jpg') no-repeat center top"><a href="/" >人生都有夕阳红 尊老敬老树新风</a></li> 
            <li style="background:url('/templates/xialonghao_1/images/3.jpg') no-repeat center top"><a href="/" >老有所养</a></li> 
        </ul>
    </div>
</div>
<div class="clear"></div>