{include file="./templates/xialonghao_1/header.html"}
<div class="wt1002 fwmain">
	<div class="fwmain_nright r mTop10">
    	<div class="label">
        	<div class="label_head"><div class="label_title">新闻动态</div></div>
             <ul class="label_pad mTop10">
			 {Dz:newslist   name='vo' page='true'}
				<li><span>{$vo.inputtime|date='Y-m-d',###}</span><a href="{$vo.url}">{$vo.title} </a></li>
			{/Dz:newslist}                      
            </ul>
            <div class="clear"></div>
     		<div class="page">{$pages}</div>
        </div>
    </div>
{include file="./templates/xialonghao_1/footer.html"}
   
   <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="foot">
    <span>copyright2015-2018 某某养老院版权所有</span>
    <a href="" target="_target" title="Sitemap">网站地图</a>
    <a href="" target="_target" title="后台登录">后台登录</a>
</div>
</body>
</html>