{include file="./templates/xialonghao_1/header.html"}
<div class="wt1002 fwmain">
	<div class="fwmain_nright r mTop10">
    	<div class="label">
        	<div class="label_head"><div class="label_title">新闻内容</div></div>
            
            <div class="about_con">
            	 <div class="news_detail_title">全国各地“甩老族”频现：把爸妈送养老院玩失踪 </div>
                 <div class="news_detail_info">
                 	<div class="news_detail_time">2016-5-26</div>
                    <div class="news_detail_from">来源:未知</div>
                    <div class="news_detail_tool">点击数:12          作者:未知</div>
                 </div>
                <div class="news_detail_cont">{$info.content}
</div>
            </div>
        </div>
    </div>
   {include file="./templates/xialonghao_1/footer.html"}
<div class="clear"></div>
<div class="foot">
    <span>copyright2015-2018 某某养老院版权所有</span>
    <a href="" target="_target" title="Sitemap">网站地图</a>
    <a href="" target="_target" title="后台登录">后台登录</a>
</div>
</body>
</html>