@charset "utf-8";
/* CSS Document */

/*banner*/
.banner{ width:100%; height:267px; overflow:hidden;  text-align:center;}

/*当前位置*/
.Position{ width:1000px; height:20px; margin:20px auto;}
.Position b{ float:left;}
.Position span{ float:left; font:13px "微软雅黑"; color:#000000;}
.Position p{ float:left; margin-left:15px; font:13px "微软雅黑"; color:#000000;}
.Position li{float:left; margin-left:15px; font:13px "微软雅黑"; color:#000000;}
/*容器*/
.Container{ width:1000px; height:950px; margin:auto;}
.Container_left{ width:262px; height:552px; float:left;}
/*产品信息左*/
.Products_left{ width:100%; height:348px;}
.Products_left ul{ width:260px; height:314px; border:1px solid #dadada;}
.Products_left ul p{ width:100%; height:50px; background:#000000; color:#FFF;font:18px "微软雅黑"; line-height:49px; text-align:center; margin-bottom:15px;}
.Products_left ul li{ width:100%; font:14px "微软雅黑"; height:35px; padding-top:15px;}
.Products_left ul li b{ margin-left:80px; float:left; background:url(../images/icon5.gif.gif) no-repeat; width:25px; height:13px; display: block; margin-top:5px;_margin-left:40px;}
.Products_left ul li b a{ float:left;}
.Products_left ul li:hover a{ color:#FFF;}
.Products_left ul li:hover{ background: #F00;}
.Products_left ul li:hover b{ background: url(../images/icon6.gif.gif) no-repeat;}


/*联络我们左*/
.Contact_left{ width:247px; height:308px; background:url(../images/bg_Contact%20.gif) no-repeat; padding-left:15px;} 
.news_title{ width:200px; height:33px; }
.news_title a{ color:#7b7b7b;}
.news_title span{font:15px "微软雅黑"; color:#101010; }
.news_title ul{font:12px Arial; color:#707070; }
.Contact_text li{ height:33px; line-height:32px; color:#3a3a3a;}
.Contact_text ul{ margin-left:31px; margin-top:9px; *margin-left:16px; position:relative;}
.Contact_text ul a{ position:absolute; left:12px; top:3px; color:#FFF; font:13px "微软雅黑";}

/*产品信息右*/
.Container_right{ width:710px; height:900px; border:1px solid #dadada; float:right;}
.Container_title{ width:625px; height:35px; padding-top:21px;border-bottom:2px solid #dbdbdb; margin-left:15px;}
.Container_title b{ float:left;}
.Container_title p{ float:left; font:15px "微软雅黑"; color:#161616; margin-right:8px;}
.Container_title span{float:left; font:12px Arial; color:#707070; margin-top:4px;}
.Container_text{ width:100%; height:600px;}
.Container_p b{ display:block; background:url(../images/Details_p.gif) no-repeat; width:647px; height:152px; margin:25px auto;}
.Container_p p{ color:#535353; width:100%; text-align:center;}
.Container_p p span{ color:#F00;}
.Container_text2{ width:670px; height:590px; margin:25px ;}
.Container_text2 p{ color:#F00; font:13px "微软雅黑";}
.Container_text2 ul{ height:210px; float:left; width:330px; color:#535353; line-height:28px; margin-top:15px;}
.Container_text2 a{color:#535353; line-height:28px; line-height:28px; color:#535353;}
.Container_text2 span{ display:block; color:#F00;}