<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="./templates/dianzi/head.html"}
</head>
<body>
<!--头部-->
<div class="header">
    {include file="./templates/dianzi/header.html"}

</div>
<!--头部-->
<!--幻灯片-->
<div class="banner_s"><img src="../../templates/dianzi/Assets/upload/banner_a.jpg" alt=""/></div>
<div class="pst_bg">
	<div class="pst">
    	您当前的位置：
        <a href="">代理产品</a>>
        <a href="">推介产品</a>
    </div>
</div>
<div class="scd clearfix">
	<div class="scd_l">
    	<div class="s_name">
        	<img src="../../templates/dianzi/Assets/images/t1.png" width="133" height="48" alt=""/>
            <i>&nbsp;</i>
        </div>
        <ul class="s_nav">
        	<li class="now"><a href="">推介产品</a></li>
        </ul>
    </div>
    <div class="scd_r">
    	<div class="r_name"><span>推介产品</span></div>
        <div class="pro clearfix">
            {Dz:nlist field="title,abstract,cateid,smallimage,url" order="id desc" limit="4"  name='vo' status="true" cateid="2"}
        	<dl class="clearfix">
            	<dt><a href="{$vo.url}"><img src="/../../public/Uploads/{$vo.smallimage}" alt=""/></a></dt>
                <dd>
                	<div class="title"><a href="{$vo.url}">{$vo.title}</a></div>
                    <div class="des">{$vo.abstract}</div>
                    <a href="{$vo.url}" class="more">+查看详情</a>
                </dd>
            </dl>
            {/Dz:nlist}
        </div>
    </div>
</div>
{include file="./templates/dianzi/footer.html"}
</body>
</html>
