<footer class="footer">
    <div class="footer-pc">
    <ul>
        <li><p>网站首页 | 关于我们 | 工程案例 | 新闻资讯 | 联系我们</p></li>
        <li><p>地址：湖北省大冶市XXX大道XXX办公室</p></li>
        <li><P>电话：0714-8868331</P></li>
        <li><p>邮编：435100  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p></li>
    </ul>
    <img src="/templates/liudong/huanbao/images/qccode.png" alt="">
    </div>

    <div class="footer-phone">
        <button data-am-smooth-scroll class="am-btn am-btn-success">Top<i class="font">&#xe611;</i></button>
    </div>
</footer>
</body>
</html>